@import '../../../obojobo-document-engine/src/scss/includes';

$color-personal-action: #4fbfcc;
$color-personal-minor: #3f8393;


html {
	background: white;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-default;
}

a {
	color: $color-action;
}

header {
	background: #f2f2f2;
	text-align: center;
	padding: 35px;
}

.flourish-line {
	height: 4px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}


.button {
	text-decoration: none;
	cursor: pointer;
	position: relative;

	background-color: $color-personal-action;
	border-radius: 4px;
	display: inline-block;
	padding: 10px 24px;
	text-decoration: none;
	letter-spacing: .05em;
	line-height: 1em;
	font-size: 13pt;
	font-weight: bold;
	color: white;

	&:hover {
		background-color: lighten($color-personal-action, 20%);
	}

}


#error-window,
#confirm-window,
#confirm-select-instance-window {
	display: none;
}

#section-success {
	display: none;
}

.no-items {
	display: none;
	position: absolute;
	top: 150px;
	text-align: center;
	width: 400px;
	margin-left: -200px;
	left: 50%;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 2em 0 2em 0;
}

.no-items > p {
	margin: 0 2em 2em 2em;
	display: block;
	text-align: justify;
	font-size: 10pt;
}

#error-container {
	padding: 0px 30px;
}


#list-header {
	left: 0;
	right: 0;
	top: 0;
	background: #E2E2E2;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	padding: 15px;
	text-align: center;

	// display: flex;
	// flex-direction: row;
	// flex-wrap: wrap;
	// justify-content: space-between;
	// align-items: center;

	#header-title{
		// flex: 1 100%;
		text-align: center;
		padding-bottom: 15px;
	}

	#back-button {
		font-size: 12px;
		cursor: pointer;
		padding-left: 10px;
	}

	#select-section-title {
		display: inline;
		font-weight: 700;
		font-size: 1.3em;
		vertical-align: middle;
	}

	#refresh {
		font-size: 10pt;
		padding-left: 10px;
	}

	#search {
		width: 150px;
		border: solid 1px #b0b0b0;
		border-radius: 12px;
		height: 19px;
		background: #fff url('/module-selector/magnifyingglass.png') 5px 50% no-repeat;
		padding-left: 23px;
		padding-right: 10px;
		outline: none;
		top: 14px;
		right: 30px;
	}

	#new-module{
		padding: 8px 12px;
		font-size: 11pt;
		line-height: .7em;
	}

}

#list-container {
	border-bottom: 1px solid gray;
}

#list-container{
	.template {
		display: none;
	}

	> .section > ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

.obo-item {
	border-top: 1px solid #cccccc;
	padding: 20px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;

	&:hover{
		background-color: #ffe0a5;
	}

	.selected,
	.selected:hover{
		background-color: #ffcb68;
	}

	.buttons {
		text-align: center;
		margin-right: 20px;

		a {
			display: block;
		}

		.preview{
			margin-top: 5px;
		}
	}

	.description{

	}

	h2 {
		font-size: 12pt;
		margin: 0 0 5px 0;
		padding: 0;
		font-weight: 600;
	}

	.draft-id{
		font-size: .8em;
		color: gray;
	}
}

#section-select-object {
	display: none;

	&.blue{
		a {
			color: $color-personal-minor;
		}
		.flourish-line{
			background: $color-personal-action;
		}
		.button{
			color: white;
		}
	}

	&.purple {
		a {
			color: $color-action;
		}
		.flourish-line{
			background-color: $color-action;
		}
		.button {

			background-color: $color-action;
			color: white;

			&:hover {
				background-color: $color-action-minor
			}

		}
	}
}

#score-method {
	font-size: 12pt;
	width: 240px;
}

#attempts {
	width: 50px !important;
}

#import-scores,#specify-dates {
	width: auto !important;
	margin-left: 110px;
}

.error-notice {
	color: red;
	margin-top: -1em;
	display: none;
	font-size: 10pt;
}

.error-notice p {
	font-weight: bold;
}


.instance-window-note {
	margin-left: 110px;
	font-size: 8pt;
	color: #666;
	margin-top: 0;
}

.instance-copy-note {
	font-size: 12pt;
	margin-top: 2em;
	color: #72305a;
	display: none;
}

.section {
	height: 100%;
}

.section.loading {
	background: white url('/module-selector/throbber.gif') center center no-repeat;
}

.section.my-modules {
	overflow: scroll;
}


#section-module-selection {
	display: none;
	text-align: center;
}

#section-progress header .blue-flourish,
#section-module-selection header .blue-flourish {
	height: 4px;
	background: #4e6c84;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

#section-progress header .heading-container h1,
#section-module-selection header .heading-container h1 {
	font-size: 17pt;
	font-weight: 300;
	margin: 0;
}


#section-progress header .heading-container h1 .remaining-tagline,
#section-module-selection header .heading-container h1 .remaining-tagline {
	display: inline-block;
	height: 26px;
}

#section-module-selection header .heading-container a {
	margin-top: 20px;
	font-size: 8pt;
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: right;
}

#section-module-selection > p {
	font-weight: bold;
	font-size: 12pt;
	margin: 1.5em;
}

#section-module-selection .wizard-button-container {
	width: 247px;
	display: inline-block;
	padding: 0 30px 0 30px;
	vertical-align: top;
	color: black;
	cursor: pointer;
	border-right: 1px dotted #cccccc;

	&:last-child {
		border-right: 0;
	}

	&.disabled {
		pointer-events: none;

		.wizard-button{
			opacity: .3;
			filter: gray;
			filter: grayscale(100%);
		}
	}

	.wizard-button {
		width: 247px;
		border-radius: 4px;
		display: inline-block;
		text-decoration: none;
		font-weight: 300;
		font-size: 20pt;
		display: block;
		line-height: 24px;
		cursor: pointer;
		padding-top: 130px;
		height: 70px;
	}

	p {
		font-size: 10pt;
		margin-top: 2em;

	}
}


#section-module-selection .community-library-button {
	background: #f3f0f6 url('/module-selector/community-library-icon.png') no-repeat center 20px;
	color: $color-action-minor;
}
#section-module-selection .community-library-button-container:hover .community-library-button {
	background: #e8e3ee url('/module-selector/community-library-icon.png') no-repeat center 16px;

}

#section-module-selection .personal-library-button {
	background: #f0f6f6 url('/module-selector/personal-library-icon.png') no-repeat center 40px;
	color: #4e6c84;
}
#section-module-selection .personal-library-button-container:hover .personal-library-button {
	background: #e3eeee url('/module-selector/personal-library-icon.png') no-repeat center 36px;
}

/* animations: */
#section-module-selection .wizard-button {
	transition: all .1s ease;
}
#section-module-selection .wizard-button-container:hover .wizard-button {
	transition: all .1s ease;
}



#section-success {
	text-align: center;


	.grey-box {
		background: url('/assets/images/lti/success-icon.png') no-repeat center 20px #f2f2f2;
		border: 1px solid #a8a8a8;
		max-width: 800px;
		width: 90%;
		margin: 0 auto;
		height: 440px;

		h1 {
			font-size: 18pt;
			font-weight: 700;
			margin: 175px 2em 0.5em 2em;
			color: #16b863;
		}

		h2 {
			font-size: 34pt;
			font-weight: 300;
			margin: 0.5em 0.5em 0.25em 0.5em;
		}
	}


	.preview-link
	{
		margin-top: 1.5em;
		display: inline-block;
	}

	.close-notice {
		display: block;
		margin-top: 1em;
	}

	.cancel-assignment-link {
		position: absolute;
		display: block;
		bottom: 20px;
		font-size: 9pt;
		text-align: center;
		left: 0;
		right: 0;
	}
}


#loading {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url('/module-selector/throbber-small.gif') center center no-repeat;
	z-index: 100;
	display: none;
}

#dead {
	background: #cccccc;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	display: none;
}

#section-progress {
	display: none;

	.progress-container {
		width: 580px;
		margin: 10px auto;
		padding: 4em 1em 5em 1em;
		box-sizing: border-box;
		border: 1px solid #c5c5c5;
		background: #f7f7f7;

		> span {
			text-align: center;
			display: block;
			margin-bottom: 1em;
			font-size: 14pt;
			line-height: 0;
		}

		&.success > span {
			font-weight: bold;
			color: #37c89c;
		}
	}
}




/* jQuery UI */
.ui-dialog {
	background: white;
	width: 400px;
	font-size: 10pt;
	border-radius: 4px;
	z-index: 9999;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	padding: 2em;
}

.ui-dialog-titlebar {
	padding-bottom: 6px;
	margin-bottom: 2em;
	border-bottom: 1px solid #ccc;
}

.ui-dialog-titlebar-close {
	float: right;
	margin-top: 3px;
	text-transform: capitalize;
}

.ui-dialog-title {
	font-weight: bold;
	font-size: 15pt;
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
}

.ui-spinner {
	position: relative;
}

.ui-spinner-button {
	margin: 0 5px 0 5px;
	cursor: pointer;
	position: absolute;
	left: 60px;

	&:hover {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		opacity: .7;
	}
}


.ui-spinner-up {
	top: -8px;
}

.ui-spinner-down {
	bottom: -8px;
}

.ui-progressbar {
	background: url('/assets/images/lti/progressbar-bg.gif');
	/*background: #b2aeb7;*/
	height: 20px;
	border-radius: 11px;
	width: 470px;
	margin: 0 auto;
}

.ui-progressbar-value {
	background: #553c75;
	height: 100%;
	border-radius: 11px;
	transition: width 0.2s ease, background 0.2s ease;
}
.progress-container.success .ui-progressbar-value {
	background: #37c89c;
}
