.mutate {
	background: rgba(255, 0, 255, .25) !important;
	/*transition: background .5s ease;*/
}

html {
	font-size: 14pt;
}

body {
	margin: 0;
	padding: 0;

	background: white;
}



// .component[data-component-type="OboChunk.Question"]
// {
// 	margin: 0;
// 	padding: 40px 60px;
// 	box-sizing: border-box;

// 	background: #efefef;
// }

/*Fix for empty content editable things:*/
// *[data-text-index] :empty {
// /**[data-text-index] .empty {*/
// 	display: inline-block;
// 	height: 1em; /*@TODO*/
// 	/*border: 1px solid red;*/
// 	/*min-height: 1px;*/
// 	min-width: 1px;
// }
