@import '../../../../../../../scss/includes';

.obojobo-draft--chunks--html {
	.anchor {
		z-index: 2;
	}

	> .container {
		margin: 0 auto;
		position: relative;
		z-index: 3;
	}

	.placeholder,
	.edit,
	img,
	iframe {
		height: 100%;
		margin: 0 auto;
		width: 100%;
	}

	.placeholder {
		background: $color-bg2;
		box-sizing: border-box;
		color: $color-text-minor;
		font-family: 'Source Sans Pro';
		font-size: 0.9em;
		font-weight: bold;
		line-height: 0;
		padding-top: 200px;
		text-align: center;
	}

	textarea {
		box-sizing: border-box;
		font-size: 0.9em;
		height: 400px;
		padding: 1em;
		width: 100%;
	}

	.obojobo-draft--components--delete-button {
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(50%, -50%);
		z-index: 3;
	}

	.obojobo-draft--components--edit-button {
		position: absolute;
		right: 1em;
		top: 1em;
		z-index: 3;
	}
}
