@import '../../../scss/includes';

.dropdown-menu {
	position: absolute;

	&.align-left {
		left: 0;
	}
	&.align-right {
		right: 0;
	}

	.drop-icon {
		position: absolute;
		display: block;
		font-size: 1em;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		z-index: 2;
	}

	div {
		position: absolute;
		left: 1.6em;
		top: 0;
		display: none;
		z-index: 99;
		min-width: 25em;
		background-color: $color-bg;

		button {
			display: inline-block;
			background-color: $color-bg2;
			border-radius: $dimension-rounded-radius;
			margin: 0.1em;
			font-size: 1em;
			min-width: 1.5em;
			color: $color-text;
			text-align: center;
		}
	}

	// Makes the insert menu keyboard accessible
	&.is-open {
		div {
			display: inline-block;
		}
	}

	// Reveals the insert menu the expected way for mouse users
	&:hover {
		div {
			display: inline-block;
		}
	}
}
