@import '../../../scss/includes';

.dropdown-menu {
	position: absolute;

	&.align-left {
		left: 0;
	}
	&.align-right {
		right: 0;
	}

	.drop-icon {
		position: absolute;
		display: block;
		font-size: 1em;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		z-index: 2;
	}

	div {
		position: absolute;
		left: 1em;
		top: .6em;
		display: none;
		z-index: 99;
		background-color: $color-bg;

		button {
			display: block;
			background-color: $color-obojobo-blue;
			border-radius: $dimension-rounded-radius;
			margin: 0.1em;
			font-size: 1em;
			color: $color-bg;
			text-align: center;
			width: 100%;
		}
	}

	// Makes the insert menu keyboard accessible
	&.is-open {
		div {
			display: inline-block;
		}
	}

	// Reveals the insert menu the expected way for mouse users
	&:hover {
		div {
			display: inline-block;
		}
	}
}
