@import '../../../scss/includes';

.viewer--components--nav {
	.dropdown {
		float: right;
		overflow: auto;

		&:hover {
			.drop-content {
				display: block;
			}
		}

		.drop-content {
			display: none;
			position: absolute;
			right: 0;
			z-index: 1;
			padding: .2em;
			border-bottom: 1px solid $color-bg;

			button {
				display: block;
				border: none;
				width: 100%;
				background: $color-obojobo-blue;
				color: $color-bg;
			}

			&.is-focused {
				display: block;
			}
		}
	}

	button {
			border: none;
			font-size: 1em;
			background: transparent;
			font-family: $font-default;
			cursor: pointer;
			padding: 0;
			margin: 0;
			color: inherit;
			font-weight: inherit;
		}
 		&::after {
			top: 0;
			left: -0.55em;
			width: 0.8em;
			height: 0.8em;
			background: $color-bg;
			border: solid 2px $color-text-minor;
		}

	.nav-modify {
		margin: .5em;
		padding: .2em;
		border-radius: $dimension-rounded-radius;
		background: $color-obojobo-blue;
		color: $color-bg;
	}
}
