@import '../../../scss/includes';

.editor--components--nav {
	$color-nav-bg: #fbfbfb;

	padding-bottom: 17em;

	&::after {
		top: 0;
		left: -0.55em;
		width: 0.8em;
		height: 0.8em;
		background: $color-bg;
		border: solid 2px $color-text-minor;
	}

	.link {
		padding-right: 1em;
	}

	.nav-modify {
		margin: 0.5em;
		padding: 0.2em;
		border-radius: $dimension-rounded-radius;
		background: $color-obojobo-blue;
		color: $color-bg;
	}

	.button-bar {
		padding-left: 2rem;
		padding-bottom: 2.8rem;
		position: fixed;
		background: $color-nav-bg;
		bottom: 0;
		z-index: 5;
		left: 0;
		font-size: 1em;
		font-weight: bold;
		cursor: default;
		width: 15em;

		button {
			display: block;
			background: $color-obojobo-blue;
			padding: 0.2em;
			border-radius: $dimension-rounded-radius;
			margin-bottom: 0.2em;
			color: $color-bg;
			font-size: 1rem;
		}
	}

	.dropdown {
		position: absolute;
		right: 0;
		top: 0;

		.drop-content {
			display: none;
			position: absolute;
			right: 0;
			z-index: 1;
			border: 1px solid $color-bg;

			button {
				display: block;
				border: none;
				width: 100%;
				background: $color-obojobo-blue;
				color: $color-bg;
				max-width: 10em;
			}

			&.is-focused {
				display: block;
			}
		}

		&:hover {
			.drop-content {
				display: block;
			}
		}
	}
}
