@import '~styles/includes';

.obojobo-draft--chunks--list {
	ul,
	ol {
		padding-left: 2em;
		margin-bottom: 0;
		margin-top: 0;
	}

	div {
		margin: 0.5em 0;
	}

	div:first-child {
		margin-top: 0;
	}

	div:last-child {
		margin-bottom: 0;
	}

	> div > ul,
	> div > ol {
		padding-left: 3.5em;

		@include mq($until: tablet) {
			padding-left: 2em;
		}
	}
}
