@import '~styles/includes';

.obojobo-draft--chunks--list {
	ul,
	ol {
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 2em;

		@include mq($until: desktop){
			padding-left: 1em;
		}

		@include mq($until: tablet){
			padding-left: .8em;
		}
	}
}
