@import '~styles/includes';

.obojobo-draft--sections--assessment {
	@import './components/test/index';
	@import './components/post-test/index';
	@import './components/full-review/index';

	.pre-test {
		padding-top: 1em;

		> h1 {
			margin-bottom: 0.2em;
			text-align: center;
		}

		> h2 {
			margin-bottom: 0;
			text-align: center;
			font-size: 1em;
		}
	}
}

.obojobo-draft--sections--assessment--results-modal {
	background: $color-bg2;
}

.add-rubric {
	font-family: $font-default;
	line-height: 1em;
	font-size: 1em;
	text-align: center;
	border-radius: $dimension-rounded-radius;
	padding: 0.4em;
	background-color: $color-preview;
	color: $color-bg;
}
