@import '~styles/includes';

.obojobo-draft--chunks--you-tube {
	width: auto;
	max-width: 32em;
	border: 3px solid transparentize($color-action, 0.7);

	.obojobo-draft--components--button {
		transition: opacity 0.2s linear 0.2s;
		opacity: 0;
	}

	&.is-selected {
		border: 3px solid $color-action;

		.obojobo-draft--components--button {
			transition: opacity 0s;
			opacity: 1;
		}
	}

	&:hover {
		border: 3px solid $color-action;

		.obojobo-draft--components--button {
			transition: opacity 0s;
			opacity: 1;
		}
	}

	.delete-button {
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(50%, -50%);
		z-index: 3;

		button {
			font-size: 1.2em;
			padding: 0;
			min-width: 1.3em;
			border-radius: 50%;
		}
	}

	.edit-button {
		position: absolute;
		top: 1em;
		right: 1em;

		button {
			border: 1px solid $color-bg;
		}
	}

	.empty-frame {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;

		div {
			display: inline;
			margin: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.edit-button {
			right: 7em;
		}
	}
}
