@import '~styles/includes';

.obojobo-draft--components--modal--modal {
	overflow: visible;

}

.youtube-video-properties {
	width: 15em;
	text-align: left;
	margin: auto;

	$color-bg: white;
	$color-bg2: #f4f4f4;

	.error {
		color: $color-error;
		font-size: 0.8em;
		font-weight: bold;
		margin-bottom: 1em;
		margin-top: 1em;
		display: inline-block;
	}

	label {
		margin-bottom: 0.3em;
	}

	input {
		@include text-input();
		
		width: calc(100% - 2em);

		&#obojobo-draft--chunks--youtube--video-url {
			margin-bottom: 2em;
		}
		&#obojobo-draft--chunks--youtube--video-id {
			display: none;
		}

	}

	input {
		&.youtube--video-invalid {
			border: solid rgb(78, 38, 38) 2px;
		}
		&.youtube--video-valid {
			border: solid lime 2px;
		}
	}

	small {
		display: block;
		margin-top: 1em;
		font-size: 0.7em;
		color: $color-text-minor;
	}

	.youtube-video-properties-input-wrapper {
		display: flex;
		// margin-bottom: 2em;
		flex-direction: row;

		input {
			width: 100%;
		}
		.obojobo-draft--components--more-info-button {
			width: 1em;
		}
	}

	.info {
		width: 18em;
		$dimension-rounded-radius: 0.25em;
		background: $color-bg2;

		.container {
			background: $color-bg2;
		}

		.text-items {
			text-align: left;
			border-radius: $dimension-rounded-radius;
			background: $color-bg;
			padding: 1em 2em;
			margin: 1em;
			font-size: 0.9em;	
		}
	}

	.obojobo-draft--components--more-info-button.is-default-label > button {
		margin-left: 0.75em;
		vertical-align: middle;
		margin-top: -0.35em;
	}
}



 