@import '../../../../scss/includes';

.oboeditor-component {
	position: relative;

	.component-toolbar {
		position: absolute;
		height: 100%;
		top: 0;

		.top {
			top: 0;
			left: 0;
			transform: translate(0, -50%);
		}
		.bottom {
			bottom: 0;
			left: 0;
			transform: translate(0, 50%);
		}

	}
}
