@use '~styles/includes';

.obojobo-draft--components--modal--bubble .single-input-bubble {
	.interactable {
		margin-bottom: 0.3em;
	}

	input {
		border: 1px solid includes.$color-action;
		box-sizing: border-box;
		font-family: includes.$font-monospace;
		font-size: 0.8em;
		height: 2em;
		padding: 0.2em;
	}

	button {
		background: includes.$color-action;
		border: none;
		border-radius: includes.$dimension-rounded-radius;
		box-sizing: border-box;
		color: includes.$color-bg;
		cursor: pointer;
		font-family: includes.$font-default;
		font-size: 0.8em;
		font-weight: bold;
		height: 2em;
		padding: 0.23rem 0.5em;
		text-transform: uppercase;
		vertical-align: top;
	}

	.label {
		color: includes.$color-text-minor;
		display: block;
		font-family: includes.$font-default;
		font-size: 0.7em;
		font-weight: bold;
		text-align: center;
	}
}
