@import '~styles/includes';

.component.obojobo-draft--chunks--numeric-assessment {
	background-color: $color-bg2;
	padding: 0.5em;
	margin-top: 0;

	&.is-type-survey {
		display: none;
	}

	> div {
		background-color: $color-bg;
		border-radius: 0.25em;
	}

	.add-answer-btn {
		margin: 1rem auto;
		display: block;
		padding-bottom: 1rem;
	}

	.obojobo-draft--chunks--abstract-assessment--choice {
		.delete-button {
			top: 0.9em;
			right: 0.9em;
		}

		.correct-button {
			top: 5.7em;
		}

		.add-feedback {
			left: inherit;
			right: 2.5em;
			bottom: 1em;
		}

		> .children {
			padding-top: 0;
		}

		.obojobo-draft--chunks--abstract-assessment--feedback {
			margin-top: 2.2em;
		}
	}
}
