@import '~styles/includes';

.obojobo-draft--chunks--numeric-assessment--input-more-info {
	display: inline-block;
	position: absolute;
	left: 0.8em;
	top: 1.1em;

	.container {
		font-family: $font-default;
		font-size: 0.9rem;
		width: 30rem;

		> .wrapper {
			padding: 1rem;
			margin: 1rem;
			background: $color-bg;
			border-radius: $dimension-rounded-radius;

			> .about {
				font-weight: bold;
				font-size: 1rem;
			}

			> ul {
				padding-left: 0;
				margin-bottom: 0;

				> li {
					list-style-type: none;

					> b {
						margin-right: 0.5em;
					}

					> span {
						font-family: $font-monospace;
						background: lighten($color-highlight, 18%);
						padding: 0.2em 0.4em;
						margin-left: 0.2em;
						margin-right: 0.2em;
						border-radius: $dimension-rounded-radius / 2;
					}
				}
			}
		}
	}
}
