@import '../../../../../../../scss/includes';

.component[data-component-type="ObojoboDraft.Chunks.Figure"]
{
	&.selection-contains,
	&.selection-inside,
	&.selection-start,
	&.selection-end
	{
		.obojobo-draft--components--delete-button
		{
			display: block;
		}
	}
}

.obojobo-draft--chunks--figure
{
	.anchor
	{
		z-index: 1;
	}

	figure
	{
		&::after
		{
			bottom: 0;
			color: $color-text-minor;
			content: 'Click here to specify a caption';
			display: none;
			font-size: 0.9em;
			font-style: italic;
			left: 0;
			pointer-events: none;
			position: absolute;
			text-align: center;
			width: 100%;
		}

		&.empty-caption::after
		{
			display: block;
		}

		&.focus-anchor
		{
			.size-controls,
			.img-controls
			{
				display: block;
			}
		}
	}

	figcaption
	{
		position: relative;
		z-index: 2;

		&:focus
		{
			outline: none;
		}
	}

	.container
	{
		&.outline-on-selection
		{
			background: transparentize($color-action, 0.7);
		}

		.size-controls
		{
			display: none;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;
		}

		.img-controls
		{
			bottom: 20%;
			display: none;
			left: 50%;
			position: absolute;
			transform: translate(-50%, -50%);
			z-index: 3;
		}
	}

	.obojobo-draft--components--delete-button
	{
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(50%, -50%);
		z-index: 3;
	}
}
