.img-placeholder {
	background-image: url('./image-placeholder.svg');
	// stylelint-disable-next-line unit-blacklist
	background-size: 16px;
	// stylelint-disable-next-line unit-blacklist
	height: 300px;
}
