@import '../../../../scss/includes';

.visual-editor--more-info {
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	font-family: $font-default;
	font-weight: bold;

	.more-info-button {
		width: 1.7em;
		height: 1.7em;
		position: absolute;
		right: -2em;
		top: 0;
		border: none;
		background: none;
		padding: 0;
		cursor: pointer;

		svg {
			opacity: 0.6;
		}

		&:hover {
			svg {
				stroke: $color-obojobo-blue;
				opacity: 1;
			}
		}

		&.is-open {
			svg {
				stroke: $color-obojobo-blue;
				opacity: 1;
			}
		}
	}

	.more-info-box {
		position: absolute;
		top: -1em;
		right: -30.5em;
		background-color: $color-bg2;
		z-index: $z-index-above-content;
		box-shadow: $box-shadow-overlay;
		width: 28em;

		&::before {
			position: absolute;
			left: -0.5em;
			top: 1em;
			transform: rotate(45deg);
			content: ' ';
			width: 1em;
			height: 1em;
			// background: $color-shadow;
			background: $color-bg2;
			box-shadow: $box-shadow-overlay;
		}

		> .container {
			background: $color-bg2;
			position: relative;
			padding: 0.5em;
		}

		.button {
			font-size: 0.8em;
		}

		.properties {
			background-color: $color-bg;
			color: $color-text;
			padding: 0.5em;
			margin-bottom: 0.5em;

			> div {
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				min-height: 1.5em;
				border-bottom: 1px solid $color-shadow;
				position: relative;

				label {
					display: inline-block;
					width: 7em;
					min-height: 2em;

					&.switch {
						min-height: 1.1em;
					}
				}

				input {
					@include text-input();

					width: 22.7em;

					&.id-input {
						width: 17.9em;
						border-radius: $dimension-rounded-radius 0 0 $dimension-rounded-radius;
					}
				}

				&.assessment-settings {
					label {
						width: 5em;
					}

					input {
						width: 23em;
					}
				}

				.button {
					padding: 0.2em 0.5em;
					color: $color-action;
					background-color: $color-bg;
					border-color: $color-action;
					border-width: 2px;
					height: 2.5em;

					&:hover {
						color: $color-bg;
						background-color: $color-action;
					}
				}

				.xml-button {
					position: absolute;
					top: 0;
					right: 0;
				}

				.triggers {
					padding-right: 3.5em;
					display: inline-block;

					span {
						padding-left: 0.5em;
						font-weight: normal;
					}
				}

				.trigger-button {
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					right: 0;
				}

				&.button-bar {
					.obojobo-draft--components--button {
						margin-right: 0.5em;
					}

					.delete-page-button {
						.button {
							border-color: $color-dangerous;
							color: $color-dangerous;

							&:hover {
								color: $color-bg;
								background-color: $color-dangerous;
							}
						}
					}
				}
			}
		}
	}

	&.content-node {
		.more-info-box {
			right: 2em;
			top: 0.3em;

			&::before {
				right: -0.5em;
				left: auto;
			}
		}

		.more-info-button {
			top: 2.2em;
			right: 0.3em;
		}
	}

	.box-controls {
		text-align: center;
	}

	.select-item {
		font-family: $font-default;
		border-radius: $dimension-rounded-radius;
		font-size: 0.7em;
		background-color: $color-bg;
		min-width: 27em;
		padding: 0.7em 2em 0.7em 0.5em;
		appearance: none;
		//stylelint-disable-next-line declaration-colon-newline-after, value-list-comma-newline-after
		background-image: linear-gradient(45deg, transparent 50%, gray 50%),
			linear-gradient(135deg, gray 50%, transparent 50%);
		//stylelint-disable-next-line declaration-colon-newline-after, value-list-comma-newline-after
		background-position: calc(100% - 1.5em) 1.1em, calc(100% - 1.1em) 1.1em,
			calc(100% - 2.5em) 0.5em;
		background-size: 0.4em 0.4em, 0.4em 0.4em, 0.1em 1.5em;
		background-repeat: no-repeat;
	}

	.obojobo-draft--components--switch {
		margin-top: 0.3em;
		margin-bottom: 0.3em;
	}
}
