@import '~styles/includes';
@import '~styles/revealable-container';

.obojobo-draft--chunks--iframe {
	position: relative;
	user-select: none;

	.obojobo-draft--components--button {
		display: block;
	}

	.iframe-toolbar {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translate(0, -50%);
		z-index: 3;
		color: $color-text;
		font-family: $font-default;
		font-size: 1em;
		font-weight: bold;
		line-height: 1.3em;

		.obojobo-draft--components--button {
			margin-top: 0.2em;
			margin-bottom: 0.2em;

			button {
				border: 1px solid $color-bg;
			}
		}
	}

	&.is-missing-src {
		.iframe-toolbar {
			span {
				$error-color: lighten($color-error, 65%);

				color: $color-error;
			}
		}
	}
}
