@import '~styles/includes';

.iframe-properties {
	text-align: left;

	input {
		@include text-input();

		vertical-align: top;

		&[type='number'] {
			width: 5.8em;
		}
	}

	h2 {
		font-size: 1em;
	}

	select {
		vertical-align: top;
		font-size: 0.8em;
		margin-top: 0.2em;
		height: 1.8em;
		width: 5.8em;
	}

	#obojobo-draft--chunks--iframe--properties-modal--title,
	#obojobo-draft--chunks--iframe--properties-modal--src {
		width: 16.5em;
	}

	.px-label {
		margin-left: 0.2em;
	}

	.options,
	.controls {
		height: auto;
		border-top: 1px solid $color-shadow;
		margin-top: 1em;
	}

	> div > div {
		margin-bottom: 0.2em;
		height: 1.8em;

		> span {
			display: inline-block;
			vertical-align: top;
			padding-top: 0.9em;
			line-height: 0;
			margin-right: 0.4em;
		}

		> label {
			display: inline-block;
			padding-right: 0.5em;
			width: 7em;
			vertical-align: middle;
		}
	}

	.obojobo-draft--components--slider {
		display: block;
		height: 1.8em;

		> label {
			padding-right: 0;
		}

		> span {
			display: inline-block;
			padding-right: 0.5em;
			width: 7em;
			vertical-align: middle;
			height: 1.8em;
			padding-top: 0.9em;
			line-height: 0;
		}
	}

	> div > div > span:last-child {
		margin-right: 0;
	}

	> div > div > label:first-child {
		height: 1.8em;
		padding-top: 0.9em;
		line-height: 0;
	}

	.obojobo-draft--components--slider > span:first-child {
		width: 7em;
	}
}
