@import '../../../../../../../scss/includes';

.obojobo-draft--chunks--you-tube
{
	display: block;
	margin: 1em auto;
	text-align: center;

	iframe
	{
		height: 25em;
		margin: 0 auto;
		width: 32em;
	}
}
