@import '~styles/includes';

.obojobo-draft--chunks--action-button {
	position: relative;

	.button {
		min-width: 12em;
		display: inline-block;
		user-select: auto;

		span[data-placeholder]::before {
			min-width: 10em;
		}
	}

	.trigger-box {
		position: absolute;
		text-align: center;
		border-radius: $dimension-rounded-radius;
		font-size: 0.75em;
		top: 4.5em;
		left: 50%;
		transform: translate(-50%, 0);
		font-family: $font-default;
		box-sizing: border-box;
		min-height: 2.5em;
		width: 25em;
		background-color: $color-bg2;
		box-shadow: $box-shadow-overlay;
		z-index: $z-index-above-content;

		@mixin point() {
			content: ' ';
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 1.72em;
			height: 1.72em;
			border-radius: $dimension-rounded-radius 0;
			z-index: -1;
		}

		.box-border {
			background-color: $color-bg2;
			padding: 1em;
		}

		&::before {
			@include point();

			background-color: $color-bg2;
			box-shadow: -$box-shadow-overlay;
		}

		.trigger-list {
			background-color: $color-bg;
			border-radius: $dimension-rounded-radius;

			.title {
				font-weight: bold;
			}
		}

		.obojobo-draft--components--button {
			position: relative;
			z-index: 1;
			margin-top: 1em;
		}
	}
}
