@use '~styles/includes';

.obojobo-draft--chunks--action-button {
	position: relative;

	.button {
		min-width: 7em;
		display: inline-block;
		user-select: auto;
		cursor: text;
		padding: 0.4rem 1em;
		text-align: center;

		span[data-placeholder]::before {
			min-width: 10em;
			transform: translate(-50%, 0);
		}
	}

	.trigger-box {
		position: absolute;
		text-align: center;
		border-radius: includes.$dimension-rounded-radius;
		font-size: 0.75em;
		left: 50%;
		bottom: 0%;
		transform: translate(-50%, 105%);
		font-family: includes.$font-default;
		box-sizing: border-box;
		min-height: 2.5em;
		width: 25em;
		background-color: includes.$color-bg2;
		box-shadow: includes.$box-shadow-overlay;
		z-index: 9;
		user-select: none;

		@mixin point() {
			content: ' ';
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 1.72em;
			height: 1.72em;
			border-radius: includes.$dimension-rounded-radius 0;
			z-index: -1;
		}

		.box-border {
			background-color: includes.$color-bg2;
			padding: 1em;
		}

		&::before {
			@include point();

			background-color: includes.$color-bg2;
			box-shadow: -(includes.$box-shadow-overlay);
		}

		.trigger-list {
			background-color: includes.$color-bg;
			border-radius: includes.$dimension-rounded-radius;
			padding: includes.$dimension-padding * 0.25 includes.$dimension-padding * 0.5;
			box-sizing: border-box;

			.title {
				font-weight: bold;
			}

			.no-actions {
				color: includes.$color-text-minor;
			}
		}

		.obojobo-draft--components--button {
			position: relative;
			z-index: 1;
			margin-top: 1em;
		}
	}
}
