@import '../../../client/css/defaults';

.repository--assessment-stats-filter-controls {
	width: 100%;

	.container {
		display: flex;
		flex-direction: column;
		width: 100%;

		input {
			margin-right: 0.5em;
			margin-left: 0;
		}

		label {
			cursor: pointer;
			display: flex;
			align-items: baseline;

			span {
				white-space: nowrap;
			}
		}

		hr {
			width: 100%;
			height: 1px;
			border: none;
			border-bottom: 1px solid $color-shadow;
		}
	}
}
