@import '../../../client/css/defaults';

.repository--assessment-stats-filter-controls {
	display: flex;
	flex-direction: row;

	hr {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.container {
		font-size: .75em;
		display: flex;
		flex-direction: row;

		input {
			margin-right: 0.5em;
			margin-left: 0;
		}

		label {
			margin-left: 1em;
			cursor: pointer;
			display: flex;
			align-items: center;

			span {
				white-space: nowrap;
			}
		}
	}
}
