@import '../../../client/css/defaults';

.repository--assessment-stats-search-controls {
	$color-disabled: rgba(0, 0, 0, 0.3);

	display: flex;
	flex-direction: row;

	select {
		@include select-input();

		border: 1px solid $color-shadow;
		font-size: 0.8em;
		width: 11em;
	}

	.clear-button-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 0.5em;

		.clear-button {
			border: 0.1em solid $color-button-bg;
			background-color: $color-button-bg;
			color: white;
			padding: 0 0.3em;
			border-radius: 50%;
			font-size: 1em;

			&:hover:not(:disabled) {
				background-color: $color-action;
			}

			&:disabled {
				background-color: $color-disabled;
				border-color: transparent;
			}
		}
	}

	.search-by-text {
		margin-right: 2em;
		display: flex;
		align-items: baseline;

		label {
			width: 5em;
		}

		select {
			width: 100%;
			height: 32px;
			box-sizing: border-box;

			&.filter-active {
				background-color: $color-action-bg;
				border: 1px solid $color-action;
			}
		}

		input {
			height: 32px;
			box-sizing: border-box;

			&.filter-active {
				background-color: $color-action-bg;
				border: 1px solid $color-action;
			}
		}

		.text-input {
			border-radius: $dimension-rounded-radius;
			padding: 0.6em 0.5em;
			font-size: 0.8em;
			border: 0.1em solid $color-shadow;
		}

		.controls {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			flex-grow: 1;
			width: 150px;
		}
	}

	.search-by-date {
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		.label {
			margin-bottom: 0.5em;
		}

		label {
			display: flex;
			align-items: baseline;

			> span {
				width: 3.5em;
			}
		}

		.date-range {
			display: flex;
			flex-direction: column;
			gap: 0.1em;
			flex-grow: 1;

			button {
				border: none;
				padding: 0;
				width: 4em;

				&:disabled {
					visibility: hidden;
				}
			}

			input[type='date'] {
				border-radius: $dimension-rounded-radius;
				padding: 0.5em;
				font-size: 0.8em;
				border: 0.1em solid $color-shadow;
				height: 32px;
				box-sizing: border-box;

				&[value=''] {
					color: $color-text-minor;
				}

				&:not([value='']) {
					background-color: $color-action-bg;
					border: 1px solid $color-action;
				}
			}
		}
	}

	input {
		font-family: $font-monospace;
	}
}
