@import '../../../client/css/defaults';

.repository--assessment-stats-search-controls {
	.search-by-text {
		margin-top: 1em;
		display: flex;
		align-items: center;
		gap: 0.5em;

		.text-input {
			border-radius: $dimension-rounded-radius;
			padding: 0.8em 3em 0.8em 0.5em;
			font-size: 0.8em;
			border: 0.1em solid $color-text-minor;
		}
	}

	.search-by-date {
		margin-top: 1em;
		display: flex;
		align-items: center;
		gap: 0.5em;

		.date-range {
			display: flex;
			align-items: center;
			gap: 0.5em;

			input[type=date] {
				border-radius: $dimension-rounded-radius;
				padding: 0.8em 3em 0.8em 0.5em;
				font-size: 0.8em;
				border: 0.1em solid $color-text-minor;
			}
		}
	}

	label {
		width: 6em;
	}

	select {
		@include select-input();

		font-size: 0.8em;
		width: 11em;
	}
}
