@import '../../../client/css/defaults';

.repository--data-grid-assessments {
	display: flex;
	flex-direction: column;
	height: 100%;

	.repository--button {
		display: inline-block;
		margin: 1em;
		align-self: center;
	}

	.data-grid {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		> div:last-child {
			height: 100%;
			border-bottom: 1px solid $color-shadow;
		}
	}
}
