@use "sass:color";
@use '~styles/includes';

.obojobo-draft--components--button {
	@mixin disabled() {
		background-color: includes.$color-bg2;
		cursor: default;
		color: includes.$color-text-minor;
		border: 1px solid includes.$color-transparent;
		border-bottom: 1px solid includes.$color-transparent;
		opacity: 1;
	}

	display: inline-block;

	.button {
		user-select: none;
		cursor: pointer;
		font-family: includes.$font-default;
		font-size: 0.85em;
		position: relative;
		min-width: 3.25em;
		border-radius: 0.2em;
		padding: 0.6rem 1em;
		background-color: includes.$color-button-bg;
		color: includes.$color-bg;
		border: 1px solid includes.$color-transparent;
		border-bottom: 1px solid color.adjust(includes.$color-action, $lightness: -20%);

		&:focus {
			outline: none;
			box-shadow: 0 0 0 1px includes.$color-bg, 0 0 0 3px includes.$color-browser-focus;
		}
	}

	&.is-dangerous {
		button {
			background-color: includes.$color-dangerous;
			border-bottom: 1px solid color.adjust(includes.$color-action, $lightness: -20%);
		}
	}

	&.alt-action {
		button {
			border: 1px solid includes.$color-action;
			border-bottom: 1px solid includes.$color-action;
			background-color: includes.$color-bg;
			color: includes.$color-action;
		}
	}

	&.alt-action.is-dangerous {
		button {
			border: 1px solid includes.$color-dangerous;
			border-bottom: 1px solid includes.$color-dangerous;
			background-color: includes.$color-bg;
			color: includes.$color-dangerous;
		}
	}

	.button:hover {
		background-color: includes.$color-action;
	}

	.button:disabled {
		@include disabled();
	}

	&.is-dangerous button:hover {
		background-color: includes.$color-dangerous-minor;
		color: includes.$color-bg;
	}

	&.alt-action button:hover {
		background-color: includes.$color-action;
		color: includes.$color-bg;
	}

	&.alt-action button:disabled {
		@include disabled();

		background-color: includes.$color-bg;
		cursor: not-allowed;
		color: includes.$color-text;
		border: 1px solid includes.$color-text;
		opacity: 0.4;
	}

	&.alt-action.is-dangerous button:hover {
		background-color: includes.$color-dangerous;
		color: includes.$color-bg;
	}

	&.alt-action.is-dangerous button:disabled {
		@include disabled();
	}

	&.align-left {
		text-align: left;
	}

	&.align-right {
		text-align: right;
	}

	&.align-center {
		text-align: center;
	}
}
