@use '~styles/includes';

.obojobo-draft--components--delete-button {
	$default-size: 1.5em;

	button {
		background: includes.$color-bg2;
		border: none;
		border-radius: $default-size;
		box-sizing: border-box;
		cursor: pointer;
		display: block;
		font-family: includes.$font-default;
		font-size: inherit;
		height: $default-size;
		overflow: hidden;
		position: relative;
		text-indent: -9999px;
		transition: background includes.$duration-animation-default ease,
			color includes.$duration-animation-default ease;
		width: $default-size;

		&::after {
			color: includes.$color-action-minor;
			content: '+';
			font-size: $default-size;
			left: 50%;
			position: absolute;
			text-indent: 0;
			top: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:hover {
			background: includes.$color-action;

			&::after {
				color: includes.$color-bg;
			}
		}
	}
}
