@import '~styles/includes';

// TODO move to reusable thing obojobo-doc include
.obojobo-draft--components--revealable-container {
	$bg-color: #fdfdfd;
	$hover-bg-color: #f9f4ff;

	height: 45vh; // substantial but not huge
	min-height: 15em; // a little bigger then the icon + button
	max-height: 25em; // keep it from getting crazy big
	border: 3px solid transparentize($color-action, 0.7);
	border-radius: $dimension-rounded-radius;
	background-color: $bg-color;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		border-color: $color-action;
	}

	&::before {
		content: ' ';
		display: block;
		background-image: url('./revealable-container-bg.svg');
		background-size: 38.16px 38.16px; /* stylelint-disable-line unit-blacklist */
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		transition: transform $duration-animation-default, opacity $duration-animation-default;
		user-select: none;
	}
}

.obojobo-draft--components--revealable-container-wrapper {
	position: relative;
}
