@import '../../../scss/includes';

.obojobo-draft--components--slider {
	position: relative;

	> span {
		padding-right: 0.5em;
	}

	.switch {
		position: absolute;
		display: inline-block;
		width: 2.6em;
		height: 1em;
		top: 50%;
		transform: translate(0, -50%);
		font-size: 1.2em;

		input {
			opacity: 0;
		}

		.slider {
			$color-slider-text: lighten($color-text, 20%);

			border: 1px solid $color-shadow;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $color-bg2;
			transition: 0.4s;
			border-radius: 0.7em;
			cursor: pointer;
			width: 2.5em;

			// Circle slider
			&::before {
				border: 1px solid $color-shadow;
				position: absolute;
				content: '';
				height: 0.7em;
				width: 0.7em;
				left: 0.05em;
				background-color: $color-bg;
				transition: 0.4s;
				border-radius: 50%;
				z-index: 1;
				top: 0.05em;
			}

			&::after {
				content: 'OFF';
				font-family: $font-default;
				color: $color-slider-text;
				font-weight: bold;
				display: block;
				position: absolute;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 62%;
				font-size: 0.5em;
			}
		}

		input:checked + .slider {
			background-color: $color-obojobo-blue;
		}

		input:focus + .slider {
			box-shadow: 0 0 5px #2196f3;
		}

		input:checked + .slider::before {
			transform: translateX(1.6em);
			background-color: $color-bg;
			border: 1px solid $color-bg;
		}

		input:checked + .slider::after {
			content: 'ON';
			color: $color-bg;
			left: 37%;
		}
	}
}
