@import '~styles/includes';

.obojobo-draft--sections--assessment {
	.untested {
		// text-align: center;
		padding-top: 1em;

		> h1 {
			margin-bottom: 0.2em;
			text-align: center;
		}

		> h2 {
			margin-bottom: 0;
			text-align: center;
			font-size: 1em;
		}
	}

	@import 'components/full-review/index';
	@import 'components/score-report/index';
	@import 'components/score-submitted/index';
	@import 'components/taking-test/index';
}

