@import '~styles/includes';

.obojobo-draft--sections--assessment
{
	.untested
	{
		// text-align: center;
		padding-top: 1em;

		> h1
		{
			margin-bottom: 0.2em;
			text-align: center;
		}

		> h2
		{
			margin-bottom: 0;
			text-align: center;
			font-size: 1em;


		}
	}

	> .score
	{
		> .results-bar
		{
			font-family: $font-default;
			text-align: center;
			background-color: $color-bg2;
			border-radius: $dimension-rounded-radius;
			padding: 3em;

			> h1
			{
				width:100%;
				display: inline-block;
				font-weight: normal;
				font-size: 1.35em;
				border-bottom: 1px solid $color-shadow;
				padding: 1em 0;
				box-sizing: border-box;
			}

		}
	}

	.attempt-header {
		display: flex;
		justify-content: space-between;

		> .attempt-info-container {
			padding-left: 60px;
			> ul {
				margin: 0;
				list-style-type: none;
				font-size: .8em;
			}

			>.attempt-info-content {
				display:flex;
				list-style-type: none;

				>ul {
					list-style-type: none;
					padding: 0;
					margin: 0;
				}
			}
		}

		> .score-section {
			padding-right: 40px;
			> ul {
				margin: 0;
				margin-right: 2em;
				padding: 0;
				list-style-type: none;
				font-size: .7em;
				color: gray;
			}

			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			> .credit-breakdown {
				flex-direction: column;
			}
		}
	}

	#attempt-percent {
		display: inline-block;
		font-size: .6em;
		transform: translateY(-35%)
	}

	.attempt-review-container {
		position: relative;
	}

	.attempt-button-container {
		position: absolute;
		top:0;
		left:50%;
		transform: translate(-50%, -50%);
		button {
			margin: 2px;
		}
	}

	.assessment-flex-container {
		display: flex;
		justify-content: space-around;
		margin-top: 1em;

		> .last-attempt {

		}

		> .retained-score {
			background-color: white;
			flex: 2;
			border-radius: 5%;
			margin: 0 1em;
		}

		> .attempts-remaining {

		}
	}

	.review
	{
		text-align: left;
		width: 70%;
		margin: 0 auto;
		border: 1px solid $color-shadow;
		padding: 3em;
		margin-top: 3em;
		background: #fdfdfd;
		border-radius: .2em;
		font-size: .8em;

		.number-correct
		{
			font-family: $font-default;
			margin-top: 0;
			margin-bottom: 2em;
		}

		.is-correct > p,
		.is-not-correct > p
		{
			margin-top: 0;
			margin-bottom: 0;
			font-family: $font-default;
			font-weight: bold;
		}

		.obojobo-draft--chunks--question
		{
			font-size: 0.8em;
		}

		.is-not-correct .obojobo-draft--chunks--question .flipper
		{
			position: relative;
			border: 1px solid $color-incorrect;
			background: transparentize($color-incorrect, 0.9);

			.responses-hidden
			{
				color: $color-incorrect;
			}
		}

		.is-correct .obojobo-draft--chunks--question .flipper
		{
			position: relative;
			border: 1px solid $color-correct;
			background: transparentize($color-correct, 0.9);

			.responses-hidden
			{
				color: $color-correct;
			}
		}
	}

	.submit-button
	{
		display: block;
		margin: 0 auto;
		// transform: scale(1.25, 1.25);
		text-align: center;
		width: $dimension-column-width;

		button {
			min-width: 9em;
		}
	}
}