.score-report {

	&.is-showing-retained-score {
		ul {
			border-top: 1px solid LightGray;

			li {
				&:first-child {
					margin-top: 5px
				}

				&:last-child {
					margin-top: 5px;
					padding-top: 4px;
					border-top: 1px solid LightGray;
				}
			}
		}
		
	}

	&:not(.is-showing-retained-score) {
		.mod-breakdown {
			border: 1px solid LightGray;
			background: #fff;
		}
	}

	.mod-breakdown {
		display: flex;
		justify-content: center;
		font-size: .7em;
		line-height: 1.5em;

		ul {
			width: 80%
		}
	}

	ul {
		padding: 0;
		list-style-type: none;
	}

	.score-report-text {
		display: inline-block;
		width: 80%;
		text-align: left;

		.is-type-score-report-penalty {
			color: red;
		}

		.is-type-score-report-extra-credit {
			color: green;
		}

		.score-report-text-total {
			font-weight: bold;
		}
	}
	
	.score-report-score {
		display: inline-block;
		width: 20%;
		white-space: nowrap;
		text-align: right;
	}
	
	.retained-score {
		background-color: white;
		flex: 2;
		border-radius: 5%;
		margin: 0 1em;
		padding-top: 0.8em;
	}
}

