.component
{
	box-sizing: border-box;
	color: black;
	display: block;
	font-family: 'Noto Serif';
	line-height: 1.5em;
	margin: 0;
	overflow-wrap: break-word;
	padding: 1px;
	position: relative;
	white-space: pre-wrap;
	width: 100%;
	word-wrap: break-word;

	.pad
	{
		max-width: 40rem;
		margin: 0 auto;
	}

	h1, h2, h3, h4, h5, h6
	{
		/*font-family: 'Open Sans';*/
		font-family: 'Noto Sans';
		font-weight: normal;

	}
	h1
	{
		color: #336898;
		// font-family: 'Directors Gothic 230';
		// font-size: 36pt;
	}
}