@import '../scss/includes';
@import '../scss/indents';

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  // -webkit-overflow-scrolling: touch;
}

a {
  color: inherit;
}

body {
  height: 100%;
  padding: 0;

  margin: 0;
  -webkit-overflow-scrolling: touch;
  font-size: $font-size;
}

// .component-container > .component:first-child
// {
// 	padding-top: 2rem;
// 	border: 1px solid red;
// }

// .component-container > .component:last-child
// {
// 	padding-bottom: 2rem;
// 	border: 1px solid green;
// }

#viewer-app
{
	height: 100%;
	overflow: auto;

	.root
	{
		height: 100%;
	}
}

// .component:first-of-type
// {
// 	padding-top: 0;
// 	// border: 2px solid red;
// }
// .component:last-of-type
// {
// 	padding-bottom: 0;
// 	// border: 2px solid blue;
// }
// .component:first-of-type:last-of-type
// {
// 	padding-top: 0;
// 	padding-bottom: 0;
// 	// border: 2px solid green;
// }

.component
{
	// border: 2px solid gray;


}

.component
{
	box-sizing: border-box;
	color: black;
	display: block;
	font-family: 'Noto Serif';
	line-height: 1.5em;
	// margin: 0;
	// margin-top: 1rem;
	// margin-bottom: 1rem;
	overflow-wrap: break-word;
	// padding: 1px;
	// padding: 1px 0;
	position: relative;
	white-space: pre-wrap;
	width: 100%;
	word-wrap: break-word;
	margin: 0 auto;
	// margin-bottom: 1rem;
	// border: 1px solid red;

	// border: 2px solid red;
	// padding: 2rem !important;
	// border: 1px solid gray;

			padding-top: 1rem;
			padding-bottom: 1rem;

	// &:after
	// {
	// 	position: absolute;
 //    top: 0;
 //    right: 0;
 //    // content: attr(data-type);
 //    /* width: 155px; */
 //    height: 1rem;
 //    background: #dadada;
 //    font-size: 12px;
 //    line-height: 1rem;
 //    text-align: right;
 //    font-family: monospace;
	// }

	&.first
	{
		padding-top: 0;
	}

	&.last
	{
		padding-bottom: 0;
	}



	.pad
	{
		max-width: $dimension-column-width;
		margin-left: auto;
		margin-right: auto;
	}

	h1, h2, h3, h4, h5, h6
	{
		/*font-family: 'Open Sans';*/
		font-family: $font-default;
		font-weight: normal;
		margin: 0;

	}
	h1
	{
		line-height: 3rem;
		font-weight: 700;

		b,
		strong
		{
			font-weight: 900;
		}
	}

	h2
	{
		line-height: 2.5rem;
		color: #A20E83;
		font-size: 1.5rem;
		// margin-bottom: 0;
	}

	pre,
	textarea
	{
		font-family: 'Droid Sans Mono';
		// tab-size: 8;
	}

	a
	{
		color: #bd1438;
	}

	.obojobo-draft--chunks--question .question
	{
		font-weight: 700;

		b,
		strong
		{
			font-weight: 900;
		}
	}
}

.document
{

}