@import '../../../scss/includes';


.editor {
	margin-top: 6em;
	.toolbar {
		position: fixed;
		top: 0;
		z-index: 999;
		width: inherit;
		background: $color-obojobo-blue;
	}

	.exporter {
		position: fixed;
		bottom: 1em;
		left: 1em;
		z-index: 999;
		font-size: inherit;
	}
}
