@import '~styles/includes';

.obojobo-draft--sections--assessment--lti-status {
	width: 100%;
	border-radius: 0.25em;
	font-family: $font-default;
	box-sizing: border-box;

	&.is-synced,
	&.is-not-lti {
		font-size: 0.7em;
		color: $color-text-minor;
		padding-bottom: 2em;
	}

	&.is-not-synced {
		background-color: #ffe9c3;
		padding: 2em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;

		> h2 {
			color: $color-text;
			font-size: 1em;
			font-weight: bold;
		}

		> p,
		> div > p {
			font-size: 0.9em;
			line-height: 1.4em;
		}
	}
}
