.submit-button {
	display: block;
	margin: 0 auto;
	text-align: center;
	position: relative;

	button {
		min-width: 9em;
	}

	.incomplete-notice {
		font-family: $font-default;
		display: block;
		font-size: 0.6em;
		color: lighten($color-text-minor, 20%);
		position: absolute;
		text-align: center;
		left: 0%;
		right: 0%;
		pointer-events: none;
	}
}
