@import '~styles/includes';

.obojobo-draft--chunks--mc-assessment--mc-choice {
	$color-border: transparentize($color-shadow, 0.25);

	border-bottom: 1px solid $color-border;

	&:hover {
		background: none;
	}

	.correct-button {
		$correct-font: 'Segoe UI Symbol', Arial, sans-serif;

		position: absolute;
		top: 1em;
		left: 3em;
		font-size: inherit;
		background: transparent;
		border: 1px solid;
		font-family: $correct-font;
		border-radius: $dimension-rounded-radius;
		padding: 0.1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	.add-feedback {
		position: absolute;
		bottom: 0.5em;
		right: 3em;
		font-size: inherit;
		border: 1px solid $color-action;
		color: $color-action;
		border-radius: $dimension-rounded-radius;
	}

	&.is-correct {
		.correct-button {
			color: $color-correct;
		}
	}

	&.is-not-correct {
		.correct-button {
			color: $color-incorrect;
		}
	}

	.delete-button {
		position: absolute;
		right: -2em;
		left: auto;
		top: 0.5em;
		transform: translate(50%, -50%);
		z-index: 3;

		button {
			font-size: 1.2em;
			padding: 0;
			min-width: 1.4em;
			border-radius: 50%;
			border: none;
			background: none;
			font-weight: bold;
			color: $color-shadow;
		}
	}
}
