@import '~styles/includes';

.obojobo-draft--chunks--mc-assessment--mc-choice {
	.correct-button {
		position: relative;
		top: 2.3em;
		left: 0.5em;
		font-size: inherit;
		background: transparent;
		border: none;
	}

	.add-feedback {
		float: right;
		font-size: 0.85em;
		background-color: $color-bg2;
		border: 1px solid transparentize($color-shadow, 0.2);
		border-radius: $dimension-rounded-radius;
		margin: 0.2em;
	}

	&.is-correct {
		.correct-button {
			color: $color-correct;
		}
	}

	&.is-not-correct {
		.correct-button {
			color: $color-incorrect;
		}
	}
}
