@import '~styles/includes';

.obojobo-draft--chunks--mc-assessment--mc-choice {
	list-style-type: none;
	min-height: 3.5em;
	position: relative;
	transition: background 0.1s ease;
	font-family: $font-default;
	cursor: pointer;
	padding-bottom: 1em;

	> input {
		font-size: inherit;
		position: absolute;
		top: 1.7em;
		left: 3em;
		transform: translate(0, -50%) translate(0, 0.5px);
		margin: 0;

		@include mq($until: desktop){
			left: 2em;
		}

		@include mq($until: tablet){
			left: 1em;
		}
	}

	> .children {

		margin-left: 0;
		margin-right: 0;

		> .feedback {
			border-radius: 0.25em;
			margin-right: 1em;
			margin-bottom: 1em;
			margin-left: 3em;
			background: rgba(255, 255, 255, 0.5);

			&.feedback-enter {
				max-height: 0;
				overflow: hidden;
				opacity: 0;
				margin-bottom: 0;
			}

			&.feedback-enter.feedback-enter-active {
				max-height: 60em;
				margin-bottom: 1em;
				opacity: 1;

				/* prettier-ignore */
				transition:
					max-height $duration-animation-default * 2,
					margin-bottom $duration-animation-default * 2,
					opacity $duration-animation-default * 2;
			}

			&.feedback-leave {
				max-height: 60em;
				margin-bottom: 1em;
				overflow: hidden;
				opacity: 1;
			}

			&.feedback-leave.feedback-leave-active {
				max-height: 0;
				margin-bottom: 0;
				opacity: 0;

				/* prettier-ignore */
				transition:
					max-height $duration-animation-default / 2,
					margin-bottom $duration-animation-default / 2,
					opacity $duration-animation-default / 2;
			}

			> .obojobo-draft--chunks--mc-assessment--mc-feedback {
				padding-left: 0;
				padding-right: 0;
				margin-left: -0.4em;
			}
		}
	}

	&.is-selected {
		background: transparentize($color-highlight, 0.75);
	}

	&.is-mode-review {
		cursor: default;

		&:hover {
			cursor: default;
			background: inherit;
		}
	}

	&:hover {
		background: transparentize($color-highlight, 0.85);
	}
}
