<!DOCTYPE html>
<html lang="en">

<head>
	<%
			let assetForEnv = oboRequire('asset_resolver').assetForEnv
			let title = 'Obojobo Next Data Dashboard'
			let css = [
				assetForEnv('/static/dashboard$[.min].css')
			]
			let headerJs = []
			let footerJs = [
				assetForEnv('/static/dashboard$[.min].js')
			]
			let fonts = ['//fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700,700i,900,900i|Roboto+Mono:400,400i,700,700i|Noto+Serif:400,400i,700,700i']
		%>
		<%- include ./partials/head %>
</head>

<body>
	<div id="data-dashboard-app"></div>
	<%
		if (typeof inlines !== 'undefined')
		{
			inlines.forEach(function(inline)
			{ %>
		<script><% - js %></script>
		<% })
		}

		if (typeof footerJs !== 'undefined')
		{
			footerJs.forEach(function(href) { %>
			<script src="<%= href %>"></script>
			<% })
		}
	%>
				<script>window.__oboDataVizRender()</script>
</body>

</html>