doctype html
html(lang="en")
	head
		title= 'Obojobo Editor'
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(id="meta-viewport", name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1 user-scalable=yes")

		script(src="//fb.me/react-with-addons-15.0.2.js")
		script(src="//fb.me/react-dom-15.0.2.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js")
		block head

	body
		div
			p EDITOR
