doctype html
html(lang="en")
  head
    title= 'Obojobo Viewer'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(id="meta-viewport", name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1 user-scalable=yes")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", media="screen", href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Libre+Franklin:400,400i,700,700i,900,900i|Noto+Serif:400,400i,700,700i")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/obojobo-draft.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/obojobo-draft-document-viewer.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Group.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.Text.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.List.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.Break.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.Code.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.Figure.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.Heading.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.IFrame.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.MathEquation.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.Table.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.YouTube.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.QuestionBank.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.Question.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.MCAssessment.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Chunks.ActionButton.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Pages.Page.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Sections.Content.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Sections.Assessment.css")
    link(rel="stylesheet", media="screen", href="http://localhost:8090/build/ObojoboDraft.Modules.Module.css")

    script(src="//fb.me/react-with-addons-15.0.2.js")
    script(src="//fb.me/react-dom-15.0.2.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js")

    block head
  body
    div(id="viewer-app")= 'LOADING...'
    block content

    script(src="http://localhost:8090/webpack-dev-server.js")
    script(src="http://localhost:8090/build/obo.js")
    script(src="http://localhost:8090/build/obojobo-draft.js")
    script(src="http://localhost:8090/build/obojobo-draft-document-viewer.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Group.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.Text.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.List.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.Break.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.Code.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.Figure.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.Heading.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.IFrame.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.MathEquation.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.Table.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.YouTube.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.QuestionBank.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.Question.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.MCAssessment.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Chunks.ActionButton.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Pages.Page.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Sections.Content.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Sections.Assessment.js")
    script(src="http://localhost:8090/build/ObojoboDraft.Modules.Module.js")
    script(src="http://localhost:8090/build/obojobo-draft-document-viewer-app.js")
