@import '~styles/includes';

.obojobo-draft--sections--assessment--components--score-report {
	$color-hr: transparentize(rgba(0, 0, 0, 0.3), 0.2);
	$color-correct: #38ae24;
	$color-incorrect: #c21f00;
	$color-bg: white;
	$color-bg2: #f4f4f4;
	$dimension-rounded-radius: 0.25em;

	background: $color-bg2;

	> .text-items {
		text-align: left;
		border-radius: $dimension-rounded-radius;
		background: $color-bg;
		padding: 1em 2em;

		@include mq($until: tablet) {
			padding: 1em 1.2em;
		}

		@include mq($until: mobileLandscape) {
			padding: 0.8em 0.8em;
		}

		> * {
			font-size: 0.7em;
			line-height: 1.5em;
			margin-top: 0.5em;
			position: relative;

			&:only-child {
				margin-top: 0;
			}

			&.divider {
				height: 1px; /* stylelint-disable-line unit-blacklist */
				border: none;
				background: $color-hr;
			}

			&.extra-credit,
			&.penalty,
			&.value,
			&.total {
				display: flex;
				justify-content: space-between;
			}

			&.extra-credit {
				> .label > span {
					color: $color-correct;
					font-weight: bold;
				}
			}

			&.penalty {
				> .label > span {
					color: $color-incorrect;
					font-weight: bold;
				}
			}

			&.total {
				font-size: 1em;
			}

			> .amount {
				white-space: nowrap;
				text-align: right;
				bottom: 0;
				right: 0;
				font-weight: bold;
				padding-left: 0.5rem;

				> .great-job-you-rock {
					display: none;

					@include mq($from: tablet) {
						position: absolute;
						top: 50%;
						right: -0.5rem;
						transform: translate(100%, -50%);
						display: block;
						line-height: 1em;
						font-size: 1em;
					}
				}
			}
		}
	}

	> .score-change-description {
		font-size: 0.75em;
		font-weight: bold;
		text-align: center;
		display: block;
		width: 100%;
		margin-top: 1.5em;
	}
}
