@import '~styles/includes';

.choose-image {
	text-align: center;
	width: 27rem;
	background-color: $color-bg2;
	padding: 1rem;

	.upload {
		// same as button component styles
		$color-button-bg: lighten($color-action, 9%);

		user-select: none;
		cursor: pointer;
		font-family: $font-default;
		font-size: 0.85em;
		position: relative;
		min-width: 3.25em;
		border-radius: 0.2em;
		padding: 0.6rem 1em;
		background-color: $color-button-bg;
		color: $color-bg;
		border: 1px solid $color-transparent;
		border-bottom: 1px solid darken($color-action, 20%);

		&:hover {
			background-color: $color-action;
		}
	}

	.choose-image--image-controls {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;

		#choose-image--image-controls--upload {
			display: none;
			flex: 1;
		}

		.choose-image--image-controls--or {
			padding: 0 0.5rem;
		}

		#choose-image--image-controls--url {
			cursor: pointer;
			font-family: $font-default;
			font-size: 0.85em;
			min-width: 3em;
			padding: 0.6rem 1em;
			flex: 1;
		}
	}

	.choose-image--divider {
		height: 1.5px;
		background-color: lighten($color-bg3, 70%);
		margin: 0.5rem 0;
	}

	.choose-image--image-gallary {
		display: grid;
		justify-content: start;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
		height: 16rem;
		overflow: scroll;
		margin-top: 0.5rem;

		.image-gallary--single-photo {
			width: 100%;
			height: 5rem;
			object-fit: cover;

			&:hover {
				opacity: 0.9;
			}
		}

		.choose-image--image-gallary--view-more-btn {
			width: 100%;
			height: 5rem;
		}
	}
}
