@import '~styles/includes';

.choose-image {
	$color-button-bg: lighten($color-action, 9%);

	text-align: center;
	width: 27rem;
	background-color: $color-bg2;
	padding: 1rem;

	.choose-image--image-controls {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;

		.choose-image--image-controls--upload {
			flex: 1;
		}

		.choose-image--image-controls--or {
			padding: 0 0.5em;
		}

		#choose-image--image-controls--url {
			flex: 1;
			cursor: pointer;
			font-family: $font-default;
			font-size: 0.85em;
			min-width: 3em;
			padding: 0.6em 1em;
		}

		#file {
			width: 0.1px; /* stylelint-disable-line unit-blacklist */
			height: 0.1px; /* stylelint-disable-line unit-blacklist */
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		.inputfile + label {
			background-color: $color-button-bg;
			font-family: $font-default;
			font-size: 0.85em;
			position: relative;
			width: 80%;
			border-radius: 0.2em;
			padding: 0.6em 1em;
			color: $color-bg;
			display: inline-block;
			cursor: pointer;

			&:hover {
				background-color: $color-action;
			}
		}

		.inputfile:focus + label {
			outline: 0.1em dotted $color-text;
			outline: -webkit-focus-ring-color auto 0.3em;
		}
	}

	.choose-image--divider {
		/* stylelint-disable-next-line unit-blacklist */
		height: 1px;
		/* stylelint-disable-next-line sh-waqar/declaration-use-variable */
		background-color: darken($color-bg2, 30%);
		margin: 0.5rem 0;
	}

	.choose-image--image-gallary {
		display: grid;
		justify-content: start;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
		height: 16rem;
		overflow-y: scroll;
		margin-top: 0.5rem;

		.image-gallary--single-photo {
			width: 100%;
			height: 5rem;
			object-fit: contain;

			&:hover {
				opacity: 0.9;
			}
		}

		.choose-image--image-gallary--view-more-btn {
			width: 100%;
			height: 5rem;
		}
	}
}
