@import '~styles/includes';

.image-properties {
	text-align: left;
	display: flex;
	width: 22em;

	label {
		margin-top: 0.7rem;
		margin-bottom: 0.3em;
	}

	input[type='text'] {
		@include text-input();

		width: 100%;
	}

	input[type='number'] {
		@include text-input();

		width: 6em;
		margin-right: 0.5em;
	}

	fieldset {
		text-align: left;
		border: none;
		padding: 0;
		margin: 0;
	}

	.size-input {
		display: block;

		.custom-size-inputs {
			display: inline;
			padding-left: 0.5em;
		}

		input[type='radio'] {
			vertical-align: middle;
		}

		label {
			display: inline;
			vertical-align: middle;
			padding-left: 0.3em;
		}
	}

	.flex-container {
		display: flex;
		align-items: center;
		padding: 1rem 0;
		background-color: $color-bg2;

		&.image-container {
			justify-content: center;
			flex-direction: column;

			button {
				font-size: 0.8rem;
				padding: 0.5rem;
				margin-top: 1rem;
			}

			img {
				max-width: 20rem;
				object-fit: cover;
			}
		}
	}

	.image-preview {
		font-size: 0.8em;

		&.image-preview-placeholder {
			height: 100px; /* stylelint-disable-line unit-disallowed-list */
			width: 150px; /* stylelint-disable-line unit-disallowed-list */
			line-height: 100px; /* stylelint-disable-line unit-disallowed-list */
			text-align: center;
			box-sizing: border-box;
			background: darken($color-bg2, 10%);
			color: $color-text-minor;
		}
	}
}
