@import '~styles/includes';

.image-properties {
	text-align: left;
	margin-top: 1em;
	width: 40em;
	display: flex;

	.figure--src {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 2rem;
		width: 30em;

		p {
			margin: 0 0 1em 0;
		}

		.figure-divider {
			width: 100%;
			margin: 1em;
			background-color: #000;
			height: 2px;
		}

		.figure--url-container {
			display: flex;
			align-items: center;
		}

		#file-display {
			height: 10em;
			overflow-y: auto;

			.file-info {
				display: flex;
				flex-flow: row;
				align-content: space-between;
				font-size: 13px;
				padding: 5px 5px;

				.file-thumbnail {
					height: 55px;
					width: 75px;
					object-fit: cover;
				}

				.file-name {
					// flex-grow: 1;
					padding: 2px 2px;
					margin: 0;
				}
			}
		}
		.file-info:hover {
			background-color: #f9d991;
		}
	}

	> label {
		margin-bottom: 0.3em;
	}

	input[type='text'] {
		@include text-input();

		width: 100%;
	}

	input[type='number'] {
		@include text-input();

		width: 6em;
		margin-right: 0.5em;
	}

	fieldset {
		text-align: left;
		border: none;
		padding: 0;
		margin: 0;
	}

	.size-input {
		display: block;

		.custom-size-inputs {
			display: inline;
			padding-left: 0.5em;
		}

		input[type='radio'] {
			vertical-align: middle;
		}

		label {
			display: inline;
			vertical-align: middle;
			padding-left: 0.3em;
		}
	}

	.upload {
		// same as button component styles
		$color-button-bg: lighten($color-action, 9%);

		user-select: none;
		cursor: pointer;
		font-family: $font-default;
		font-size: 0.85em;
		position: relative;
		min-width: 3.25em;
		border-radius: 0.2em;
		padding: 0.6rem 1em;
		background-color: $color-button-bg;
		color: $color-bg;
		border: 1px solid $color-transparent;
		border-bottom: 1px solid darken($color-action, 20%);

		&:hover {
			background-color: $color-action;
		}
	}

	#obojobo-draft--chunks--figure--alt {
		margin-bottom: 1em;
	}

	#obojobo-draft--chunks--figure--image-file-input {
		display: none;
	}

	.flex-container {
		display: flex;
		align-items: center;
		margin-bottom: 1em;

		&.image-container {
			justify-content: center;
			flex-direction: column;
			max-width: 100%;

			.obojobo-draft--chunks--figure--image {
				border: 1px solid $color-transparent;

				&.is-loaded {
					border: 1px solid $color-shadow;
				}
			}
		}
	}

	.figure--url--or {
		padding: 1em 1em;
	}

	.figure--url--upload {
		max-width: 40%;
	}

	.image-preview {
		font-size: 0.8em;
		margin-top: 0.2em;

		&.image-preview-placeholder {
			height: 100px; /* stylelint-disable-line unit-blacklist */
			width: 150px; /* stylelint-disable-line unit-blacklist */
			line-height: 100px; /* stylelint-disable-line unit-blacklist */
			text-align: center;
			box-sizing: border-box;
			background: $color-bg2;
			color: $color-text-minor;
		}
	}
}
