@import '~styles/includes';

.image-properties {
	text-align: left;
	margin-top: 1em;
	display: flex;

	> label {
		margin-bottom: 0.3em;
	}

	input[type='text'] {
		@include text-input();

		width: 100%;
	}

	input[type='number'] {
		@include text-input();

		width: 6em;
		margin-right: 0.5em;
	}

	fieldset {
		text-align: left;
		border: none;
		padding: 0;
		margin: 0;
	}

	.size-input {
		display: block;

		.custom-size-inputs {
			display: inline;
			padding-left: 0.5em;
		}

		input[type='radio'] {
			vertical-align: middle;
		}

		label {
			display: inline;
			vertical-align: middle;
			padding-left: 0.3em;
		}
	}

	.flex-container {
		display: flex;
		align-items: center;
		padding: 1em 0;
		margin-bottom: 1em;
		background-color: #f2f2f2;

		&.image-container {
			justify-content: center;
			flex-direction: column;
			max-width: 100%;

			.obojobo-draft--chunks--figure--image {
				border: 1px solid $color-transparent;

				&.is-loaded {
					border: 1px solid $color-shadow;
				}
			}

			button {
				margin-top: 1rem;
			}
		}
	}

	.image-preview {
		font-size: 0.8em;
		margin-top: 0.2em;

		&.image-preview-placeholder {
			height: 100px; /* stylelint-disable-line unit-blacklist */
			width: 150px; /* stylelint-disable-line unit-blacklist */
			line-height: 100px; /* stylelint-disable-line unit-blacklist */
			text-align: center;
			box-sizing: border-box;
			background: $color-bg2;
			color: $color-text-minor;
		}
	}
}
