@import '~styles/includes';

.obojobo-draft--chunks--figure {
	text-align: center;

	figure {
		margin: 0;
		padding: 0;
	}

	.container {
		display: inline-block;
		height: auto;
		width: 100%;
		position: relative;

		img {
			background: $color-bg;
			display: block;
			border: 5px solid $color-bg;
			border-radius: $dimension-rounded-radius;

			&.is-not-loaded {
				background: $color-bg2;
			}
		}

		.img-placeholder {
			border: 1px solid $color-shadow;
		}
	}

	figcaption {
		font-family: $font-default;
		font-size: 0.8em;
		color: $color-text-minor;
		max-width: calc(100% - 10px); //stylelint-disable-line unit-disallowed-list
	}

	&.custom {
		.container {
			img {
				margin: 0 auto;
				height: auto;
				width: auto;
				max-height: 100%;
				max-width: calc(100% - 10px); //stylelint-disable-line unit-disallowed-list
			}

			figure {
				margin: 0 auto;
			}
		}
	}

	&.small {
		@include pad();

		.container {
			max-width: 18em;

			img {
				width: 100%;
				box-sizing: border-box;
			}
		}
	}

	&.medium {
		@include pad();

		@include mq($until: desktop) {
			@include pad(0.75);
		}

		@include mq($until: tablet) {
			@include pad(0.3);
		}

		.container {
			img {
				width: 100%;
				box-sizing: border-box;
			}
		}
	}

	&.large {
		.container {
			img {
				width: 100%;
				border: none;
				border-radius: 0;
				box-sizing: border-box;
			}
		}
	}
}
