@use "sass:math";
@use '~styles/includes';

.obojobo-draft--chunks--figure {
	text-align: center;

	figure {
		margin: 0;
		padding: 0;
	}

	.container {
		display: inline-block;
		height: auto;
		width: 100%;
		position: relative;

		img {
			background: includes.$color-bg;
			display: block;
			border: 5px solid includes.$color-bg;
			border-radius: includes.$dimension-rounded-radius;

			&.is-not-loaded {
				background: includes.$color-bg2;
			}
		}

		.img-placeholder {
			border: 1px solid includes.$color-shadow;
		}
	}

	figcaption {
		font-family: includes.$font-default;
		font-size: 0.8em;
		color: includes.$color-text-minor;
		max-width: calc(100% - 10px); //stylelint-disable-line unit-disallowed-list

		&.is-caption-width-text-width {
			max-width: 100% !important;
		}
	}

	&.custom {
		.container {
			.figure-box {
				margin: auto;
				height: auto;
			}

			img {
				margin: 0 auto;
				height: auto;
				width: auto;
				max-height: 100%;
				max-width: calc(100% - 10px); //stylelint-disable-line unit-disallowed-list
			}

			figure {
				margin: 0 auto;
			}

			figcaption {
				@include includes.pad(math.div(1, 0.8));

				@include includes.mq($until: desktop) {
					@include includes.pad(math.div(0.75, 0.8));
				}

				@include includes.mq($until: tablet) {
					@include includes.pad(math.div(0.3, 0.8));
				}

				margin: auto;
			}
		}
	}

	&.small {
		@include includes.pad();

		@include includes.mq($until: desktop) {
			@include includes.pad(0.75);
		}

		@include includes.mq($until: tablet) {
			@include includes.pad(0.3);
		}

		.container {
			.figure-box,
			img {
				max-width: 18em;
				margin: auto;
				width: 100%;
				box-sizing: border-box;
			}

			figcaption {
				max-width: 22em;
				margin: auto;
			}
		}
	}

	&.medium {
		@include includes.pad();

		@include includes.mq($until: desktop) {
			@include includes.pad(0.75);
		}

		@include includes.mq($until: tablet) {
			@include includes.pad(0.3);
		}

		.container {
			.figure-box,
			img {
				width: 100%;
				box-sizing: border-box;
			}
		}
	}

	&.large {
		.container {
			.figure-box,
			img {
				width: 100%;
				border: none;
				border-radius: 0;
				box-sizing: border-box;
			}
		}
	}
}
