@import '../../../client/css/defaults';

.repository--column-layout{
	display: flex;

	> div{
		margin-left: 25px;
		margin-right: 25px;
		width: 50%;

		&:first-child{
			margin-left: 0;
		}

		&:last-child{
			margin-right: 0;
		}
	}
}

.repository--item-list--title {
	display: table;
	white-space: nowrap;
	margin-bottom: 20px;

	&:after {
		border-top: 1px solid $border-color;
		content: '';
		display: table-cell;
		position: relative;
		top: 0.6em;
		width: 100%;
	}
	&:after {
		left: 2%;
	}
}

.repository--item-list--collection{
	&:last-child{
		border-top: 0;
	}
}

.repository--item-list--collection--item--date{
	font-size: .8em;
	color: $color-text-minor;
}

.repository--item-list--collection--title{
	font-size: .8em;
	margin-bottom: 10px;
}

.repository--item-list--collection--item-wrapper{
	// add some margin so that the
	// icons line up visually with the left
	// the padding/bg around them makes them look off otherwise
	margin-left: -8px;
	margin-right: -8px;
}

.repository--item-list--row{
	// overflow: auto;
	font-size: .8em;
	font-family: $font-text;
	width: 100%;

	.avatar,
	> .repository--module-icon{
		float: left;
	}

	> a{
		text-decoration: none;
		color: black;
		font-weight: 600;
	}


	> em{
		font-style: normal;
		font-weight: 700;
	}

	@include with-bottom-border();
}

.repository--fact--bad{
	color: red;
}

.repository--fact--good{
	color: green;
}

.repository--fact--neutral{
	color: inherit;
}

.repository--fact--value{
	font-size: 1.1em;
}

.repository--item-list--collection--item--text{
	margin: 10px;

}

.repository--item-list--collection--item--text-detail{
	font-size: .8em;
}

.repository--quote{
	font-style: italic;
}

.repository--item-list--collection--item--multi-wrapper{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: flex-start;

	@include with-bottom-border();

	@include mq($from: zero, $until: mobileL) {
		justify-content: space-around;
	}
}

.repository--item-list--collection--item--newline-container{
	width: 100%;
	margin: 20px 10px;
	text-align: center;
}

.repository--main-content{
	box-sizing: border-box;
	max-width: 800px;
	margin: 0 auto;

	@include mq($from: zero, $until: tablet) {
		margin-left: 10px;
		margin-right: 10px;
	}

	code{
		background-color: #eee;
		padding: 2px;
	}

	img{
		max-width: 100%;
	}
}

.repository--main-content--title{
	font-family: $font-default;
	text-align: center;
	font-size: 1.2em;
	display: table;
	white-space: nowrap;
	margin-bottom: 20px;

	&:after {
		border-top: 1px solid $border-color;
		content: '';
		display: table-cell;
		position: relative;
		top: 0.6em;
		width: 100%;
	}
	&:after {
		left: 2%;
	}

}
