$color-fg: #888888;
$color-bg: white;

footer {
	background: $color-bg;
	color: $color-fg;
	padding-top: 2em;
	font-size: 0.7em;
	border-top: 1px solid #f9f4f4;
	margin-top: 2em;
	margin-bottom: 2em;
}

footer div {
	text-align: center;
	display: block;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ucf-open-footer {
	margin-bottom: 2.5em;
}

.ucf-open-logo {
	overflow: hidden;
	display: inline-block;
	text-indent: -40000px;
	width: 13em;
	height: 3.5em;
	background: url('/images/ucf_open.svg') center center no-repeat;
	margin-bottom: 1.5em;
}

.ucf-open-desc {
	margin-bottom: 0.5em;
}

.ucf-open-links > a {
	display: inline-block;
	padding: 0.2em 0;
	color: $color-fg;

	&:hover {
		color: darken($color-fg, 25%);
	}

	// add separator between links
	& + a::before {
		content: '·';
		padding: 0 0.75em;
		display: inline-block;
	}
}

.copyright > span {
	font-size: 0.8em;
	display: block;
	margin-bottom: 0.5em;
}

/* stylelint-disable-next-line no-descending-specificity */
.copyright > span a {
	color: gray;
}

.copyright > span a:hover {
	color: #333333;
}
