@import '~styles/includes';

.objective-list-modal {
	position: relative;
	width: 32em;
	min-height: 56vh;
	background: $color-bg2;
	padding: 0.5em;
	border-radius: $dimension-rounded-radius;

	.objective-list-header {
		margin: -0.7em 0 1em 0;
	}

	.objective-list-subheader {
		font: $font-monospace;
	}
}

.no-global-objectives {
	min-height: 2.2em;
}
