@import '~styles/includes';

.objective-list-view {
	font-size: 0.85em;
	// background: $color-bg2;
	width: 23em;
	padding-right: 1.5em;
	display: inline-block;
	padding-left: 0.5em;
	max-height: 80px;
	div {
		padding-left: 0.5em;
		font-weight: normal;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	overflow: auto;
}
