@import '~styles/includes';

.objective-list-view {
	width: 21em;
	display: inline-block;
	max-height: 5.6em;

	ul {
		margin: 0;
		margin-left: 2em;
		padding: 0;
		font-size: 0.85em;
	}

	li {
		font-weight: normal;
		border: none;
		list-style-type: disc;
		font-family: $font-monospace;
		padding: 0em;

		label {
			min-width: 3em !important;
		}

		p {
			width: 17em;
			margin: 0;
			display: inline-block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			vertical-align: bottom;
		}
	}
	overflow: auto;
}
