@import '~styles/includes';

.text-color-icon {
	position: relative;
}

.color-picker {
	border: 1px solid $color-shadow;
	background-color: $color-bg;
	padding: 0.1em;
	width: fit-content;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	border-radius: 0.25em;

	.color-picker--color-choices {
		display: flex;
	}

	.color-picker--color-cell {
		width: 1.2em;
		height: 1.2em;
		border-radius: 100%;
		margin: 0.3em;
		border: solid 1px rgb(218, 220, 224);
	}

	.color-picker--button {
		border: none;
		background-color: inherit;
		font-size: 0.9em;
		cursor: pointer;
		display: inline-block;
		color: $color-action;
		text-decoration: underline;

		&:hover {
			background: #eee;
		}
	}

	.color-picker--input {
		display: flex;
		padding: 0.4em;

		input {
			flex: 1;
			font-size: 0.8em;
			padding: 0.3em;
			margin-right: 0.4em;
		}

		.button {
			padding: 0.1em 0.5em;
			height: 2em;
		}
	}
}
