@import '~styles/includes';

.color-picker {
	position: absolute;
	left: 0;
	border: 1px solid $color-shadow;
	background-color: $color-bg;
	padding: 0.1em;
	width: fit-content;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	border-radius: 0.25em;
	z-index: 1000;

	.color-picker--color-choices {
		display: flex;
	}

	.color-picker--color-cell {
		width: 2em;
		height: 2em;
		border-radius: 100%;
		margin: 0.6em;
		border: 1px solid rgba(0, 0, 0, 0.1);
		display: block;
		cursor: pointer;
	}

	.color-picker--button {
		border: none;
		cursor: pointer;
		display: inline-block;
		color: $color-action;
		text-decoration: underline;
		background: transparent;
		font-size: 0.7em;
		margin: 0.5em;

		&:hover {
			background-color: #eeeeee;
		}
	}

	.color-picker--input {
		display: flex;
		padding: 0.4em;

		input {
			flex-grow: 1;
			width: 1em;
			font-size: 0.8em;
			padding: 0.3em;
			margin-right: 0.4em;
			border: 1px solid #cccccc;
			border-radius: $dimension-rounded-radius;
		}

		.button {
			padding: 0.1em 0.5em;
			height: 2em;
		}
	}
}
