@import '~styles/includes';

.obojobo-draft--chunks--question {
	> .flipper {
		&.question-editor {
			background: $color-bg;
		}

		> .content-back > div:first-child {
			padding-top: 2em;
		}
	}

	.add-solution {
		left: 50%;
		transform: translate(-50%, 0);
		position: relative;
		margin: $dimension-padding / 3;
	}

	.delete-button {
		position: absolute;
		right: 3em;
		top: 0;
		transform: translate(50%, -50%);
		z-index: 3;

		button {
			font-size: 1.2em;
			padding: 0;
			min-width: 1.4em;
			border-radius: 50%;
		}
	}

	> .question-type {
		position: absolute;
		right: 7em;
		top: 1em;
		z-index: 99;
	}

	&.is-type-survey {
		.add-solution,
		.solution-editor {
			display: none;
		}
	}
}
