@import '~styles/includes';

.obojobo-draft--chunks--question {
	> .flipper {
		&.question-editor {
			background: $color-bg;
		}
	}

	.question-settings {
		padding-left: 3em;
		padding-top: 1em;
		font-family: "Libre Franklin", Arial, sans-serif;
		font-weight: bold;

		label {
			padding-right: 0.5em;
		}
	}

	.add-solution {
		left: 50%;
		transform: translate(-50%, 0);
		position: relative;
		margin: $dimension-padding / 3;
	}

	.delete-button {
		position: absolute;
		right: 3.7em;
		left: auto;
		top: 0.7em;
		transform: translate(50%, -50%);
		z-index: 3;

		.button {
			font-size: 1.2em;
			padding: 0;
			min-width: 1.4em;
			border-radius: 50%;
			border: none;
			background: none;
			font-weight: bold;
			color: $color-shadow;

			&:hover {
				background: none;
				color: $color-obojobo-blue;
			}
		}
	}

	.question-type {
		position: absolute;
		right: 4.5em;
	}

	&.is-type-survey {
		.add-solution,
		.solution-editor {
			display: none;
		}

		.component.obojobo-draft--chunks--mc-assessment.editor--mc-assessment {
			.obojobo-draft--chunks--mc-assessment--mc-choice {
				.obojobo-draft--chunks--mc-assessment--mc-answer {
					padding-top: 0;
				}
			}
		}
	}

	select {
		font-family: $font-default;
		border-radius: 3px;
		font-size: 0.7em;
		background-color: white;
		min-width: 10em;
		padding: 0.7em 2em 0.7em 0.5em;

		appearance: none;
		background-image: linear-gradient(45deg, transparent 50%, gray 50%),
			linear-gradient(135deg, gray 50%, transparent 50%);
		background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px),
			calc(100% - 2.5em) 0.5em;
		background-size: 5px 5px, 5px 5px, 1px 1.5em;
		background-repeat: no-repeat;
	}
}
