@import '~styles/includes';

.obojobo-draft--chunks--question--wrapper {
	z-index: 1;
}

.obojobo-draft--chunks--question {
	> .flipper {
		&.question-editor {
			background: $color-bg;
		}
	}

	.question-settings {
		padding-left: 3em;
		padding-top: 2em;
		font-family: $font-default;
		font-weight: bold;

		> label {
			vertical-align: middle;
		}

		.scoring-explanation {
			position: absolute;
			right: 17.25em;
			z-index: $z-index-above-all;

			.text-container {
				font-family: $font-default;
				font-size: 0.9rem;
				width: 15rem;

				> .text {
					padding: 0.5rem;
					margin: 0.5rem;
					background: $color-bg;
					border-radius: $dimension-rounded-radius;
				}
			}
		}

		.question-type {
			position: absolute;
			top: 2.85em;
			right: 4.3em;
			border: 1px solid $color-shadow;
			border-radius: $dimension-rounded-radius;
			padding: 0.25em;
			padding-right: 1em;
			font-weight: normal;
			font-size: 0.7em;
			cursor: pointer;

			&.scoring {
				right: 13.7em;
			}

			&:hover {
				border: 1px solid $color-action;
				background: lighten($color-action, 48%);
			}

			input {
				position: relative;
				top: 0.1em;
				left: 0.2em;
				margin-right: 1em;
			}
		}

		label {
			padding-right: 0.5em;
		}
	}

	.show-reveal-answer-container {
		$color-border: #dfdfdf;

		@include pad();

		font-family: $font-default;
		border-top: 1px solid $color-border;
		padding-top: 0.7em;
		padding-bottom: 1em;
		text-align: center;

		> label {
			font-weight: bold;
			margin-right: 1em;
			margin-bottom: 0.25em;
			font-size: 0.8em;
			display: inline-block;
		}
	}

	> .flipper > .content-back > .add-solution-container {
		padding: 1rem;

		> .obojobo-draft--components--button {
			display: block;
		}
	}

	> .delete-button {
		position: absolute;
		right: 3.7em;
		left: auto;
		top: 0.7em;
		transform: translate(50%, -50%);
		z-index: 3;

		.button {
			font-size: 1.2em;
			padding: 0;
			min-width: 1.4em;
			border-radius: 50%;
			border: none;
			background: none;
			font-weight: bold;
			color: $color-shadow;

			&:hover {
				background: none;
				color: $color-obojobo-blue;
			}
		}
	}

	&.is-type-survey {
		.add-solution,
		> .flipper > .content-back > .add-solution-container,
		.solution-editor {
			display: none;
		}

		.obojobo-draft--chunks--abstract-assessment--choice {
			.correct-button {
				display: none;
			}
		}
	}

	select {
		@include select-input();
	}
}
