@import '~styles/includes';

.obojobo-draft--chunks--question--wrapper {
	z-index: 1;
}

.obojobo-draft--chunks--question {
	> .flipper {
		&.question-editor {
			background: $color-bg;
		}
	}

	.question-settings {
		padding-left: 3em;
		padding-top: 2em;
		font-family: $font-default;
		font-weight: bold;

		> label {
			vertical-align: middle;
		}

		.question-type {
			position: absolute;
			top: 2em;
			right: 2em;
			border: 1px solid $color-shadow;
			border-radius: $dimension-rounded-radius;
			padding: 0.18em;
			padding-right: 0.5em;
			font-weight: normal;
			cursor: pointer;

			&:hover {
				border: 1px solid $color-action;
				background: lighten($color-action, 48%);
			}

			input {
				position: relative;
				top: -0.1em;
				left: 0.2em;
				margin-right: 1em;
			}
		}

		label {
			padding-right: 0.5em;
		}
	}

	.show-reveal-answer-container {
		$color-border: #dfdfdf;

		@include pad();

		font-family: $font-default;
		border-top: 1px solid $color-border;
		padding-top: 0.7em;
		padding-bottom: 1em;
		text-align: center;

		> label {
			font-weight: bold;
			margin-right: 1em;
			margin-bottom: 0.25em;
			font-size: 0.8em;
			display: inline-block;
		}
	}

	> .flipper > .content-back > .add-solution {
		left: 50%;
		transform: translate(-50%, 0);
		position: relative;
		margin: $dimension-padding / 3 0;
		user-select: none;
	}

	.delete-button {
		position: absolute;
		right: 3.7em;
		left: auto;
		top: 0.7em;
		transform: translate(50%, -50%);
		z-index: 3;

		.button {
			font-size: 1.2em;
			padding: 0;
			min-width: 1.4em;
			border-radius: 50%;
			border: none;
			background: none;
			font-weight: bold;
			color: $color-shadow;

			&:hover {
				background: none;
				color: $color-obojobo-blue;
			}
		}
	}

	&.is-type-survey {
		.add-solution,
		.solution-editor {
			display: none;
		}

		.component.obojobo-draft--chunks--mc-assessment.editor--mc-assessment {
			.obojobo-draft--chunks--mc-assessment--mc-choice {
				.obojobo-draft--chunks--mc-assessment--mc-answer {
					padding-top: 0;
				}
			}
		}

		.component.obojobo-draft--chunks--numeric-assessment {
			display: none;
		}
	}

	select {
		@include select-input();
	}
}
