@import '~styles/includes';

.obojobo-draft--chunks--question {
	perspective: 1000px;
	margin: 0 auto;

	.obojobo-draft--chunks--question--survey-question-icon {
		width: 1.2em;
		position: absolute;
		left: 1em;
		top: 0.45em;
		opacity: 0.2;
		pointer-events: none;
	}

	> .flipper {
		$color-sep: rgba(0, 0, 0, 0.1);

		position: relative;
		border-radius: $dimension-rounded-radius;
		padding: 0;
		margin-bottom: 1em;
		border: 1px solid transparentize($color-shadow, 0.2);
		max-width: $dimension-column-width;
		background: $color-bg;

		@include mq($until: desktop){
			border-radius: 0;
		}

		> .blocker-front,
		> .content-back {
			width: 100%;

			> .solution-editor {
				background: $color-bg2;
				border-top: 1px solid $color-shadow;
				position: relative;
				border-bottom-left-radius: 0.3em;
				border-bottom-right-radius: 0.3em;
				padding-bottom: 1px; /* stylelint-disable-line unit-blacklist */

				.page-editor {
					margin: $dimension-padding / 3;
					background: $color-bg;
					border: 1px solid $color-shadow;

					&::before {
						content: 'Full explanation:';
						font-family: $font-default;
						font-size: 1em;
						font-weight: bold;
						color: $color-text-minor;
						margin-top: 1em;
						margin-left: 2em;
						margin-bottom: -1em;
						display: block;
						transform: scale(0.7);
						transform-origin: top left;
					}
				}
			}

			> .add-solution {
				left: 50%;
				transform: translate(-50%, 0);
				position: relative;
				margin: $dimension-padding / 3;
			}
		}

		> .blocker-front {
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $color-bg;
			cursor: pointer;
			border-radius: $dimension-rounded-radius;

			@include mq($until: desktop){
				border-radius: 0;
			}

			> .obojobo-draft--components--button {
				transition: transform $duration-animation-default;
				font-family: $font-default;
				color: $color-action;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				pointer-events: none;
			}

			&:hover {
				background: $color-action-bg;

				.obojobo-draft--components--button {
					transform: translate(-50%, -50%) scale(1.1, 1.1);
				}
			}

			&.is-not-practice {
				.submit {
					display: none;
				}
			}
		}

		> .content-back {
			visibility: hidden;

			> .obojobo-draft--chunks--question--content {
				padding-top: 1em;
			}
		}
	}

	&.is-hidden > .flipper {
		border: 1px solid $color-action;
		max-height: 15em;
		overflow: hidden;
	}

	&.is-active,
	&.is-viewed {
		> .flipper {
			> .blocker-front {
				visibility: hidden;
				pointer-events: none;
			}

			> .content-back {
				visibility: visible;
			}
		}
	}

	&.is-flipping {
		overflow: hidden;

		> .flipper {
			transition: 0.4s;
			-ms-transition: none;
			transform-style: preserve-3d;

			> .blocker-front,
			> .content-back {
				backface-visibility: hidden;
				-ms-backface-visibility: visible;
			}

			> .blocker-front {
				transform: rotateY(0deg);
			}

			> .content-back {
				transform: rotateY(180deg);
			}
		}
	}

	&.is-mode-practice {
		> .flipper > .content-back::before {
			color: $color-text-minor;
			content: 'Practice';
			display: block;
			font-family: $font-default;
			position: absolute;
			left: 3.15em;
			top: 0.5em;
			transform: scale(0.7);
			transform-origin: top left;
		}

		&.is-correct .flipper {
			border: 1.25px solid $color-correct;
		}

		&.is-not-correct .flipper {
			border: 1.25px solid $color-incorrect;
		}
	}

	&.is-type-survey {
		> .flipper > .content-back {
			background: transparentize($color: $color-bg2, $amount: 0.7);
		}

		> .flipper > .content-back::before {
			color: $color-text-minor;
			content: 'Survey Question';
			display: block;
			font-family: $font-default;
			position: absolute;
			left: 3.15em;
			top: 0.5em;
			transform: scale(0.7);
			transform-origin: top left;
		}
	}

	&.is-flipping.is-active,
	&.is-flipping.is-viewed {
		> .flipper {
			transform: rotateY(-180deg);
		}
	}
}
