@import '../../../scss/includes';

.viewer--components--focus-blocker {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: $color-bg;
	transition: opacity $duration-animation-default * 4;
	opacity: 0;
	pointer-events: none;
}

@keyframes component-focus-blocker-z-index {
	0% {
		z-index: 1;
	}

	100% {
		z-index: 2;
	}
}

.component {
	animation: component-focus-blocker-z-index $duration-animation-default * 4;
}

.component[data-focussed='true'] {
	z-index: 2;
	animation: none;
}

.viewer--viewer-app {
	&.is-focus-state-active {
		.viewer--components--focus-blocker {
			opacity: 0.9;
		}
	}
}
