@import '../../../scss/includes';

.editor--components--text-menu
{
	$bg: rgba(0, 0, 0, 0.9);
	$size: 1.75em;
	$ptr-size: 0.8em;

	background: $bg;
	border-radius: $size;
	box-shadow: $box-shadow-overlay;
	box-sizing: border-box;
	height: $size;
	position: absolute;
	transform: translate(-50%, -$size - 1.2em);
	z-index: 9999;

	&::after
	{
		border: $ptr-size solid transparent;
		border-top: $ptr-size solid $bg;
		content: ' ';
		display: block;
		height: 0;
		left: 50%;
		position: absolute;
		top: $size;
		transform: translate(-50%, -0.5px);
		width: 0;
	}

	a
	{
		background: none;
		border: none;
		border-right: 1px solid transparentize($color-bg, 0.7);
		box-sizing: border-box;
		color: $color-bg;
		cursor: pointer;
		display: inline-block;
		font-family: $font-default;
		font-size: 1em;
		font-weight: bold;
		height: $size * 0.7;
		margin-top: $size / 2;
		opacity: 0.8;
		padding-left: 0.4em;
		padding-right: 0.4em;
		position: relative;
		transform: translate(0, -50%);
		vertical-align: middle;

		&:hover
		{
			opacity: 1;
		}

		&:first-child
		{
			padding-left: 0.6em;
		}

		&:last-child
		{
			border-right: none;
			padding-right: 0.6em;
		}

		img
		{
			height: $size * 0.7;
			width: $size * 0.7;
		}

		span
		{
			display: block;
			height: $size * 0.7;
			line-height: $size * 0.7;
			pointer-events: none;
		}
	}

	.click-blocker
	{
		background: $color-bg;
		display: block;
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
