@import '../../../scss/includes';

.visual-editor--editor-app {
	margin-bottom: 10rem;

	span::selection {
		background-color: highlight; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
		color: inherit; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
	}

	.draft-toolbars {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: $z-index-above-all;
		background-color: $color-bg;
	}

	code {
		font-family: $font-monospace;
	}
}

.todo--highlight {
	background: #f3d1e5;
	border-radius: 0.05em;
	color: #cc2387;
}
