@use '~styles/includes';

.editor--hidden-text {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	overflow: hidden;
	color: includes.$color-transparent;
	text-shadow: 0 0 0 includes.$color-bg;

	* {
		color: includes.$color-transparent;
		text-shadow: 0 0 0 includes.$color-bg;
	}
}
