@import '../../../scss/includes';

.editor--components--nav {
	$color-nav-bg: #fbfbfb;

	ul {
		z-index: auto;

		.button-bar-buffer {
			height: 10em;
			border: none;
		}
	}

	&::after {
		top: 0;
		left: -0.55em;
		width: 0.8em;
		height: 0.8em;
		background: $color-bg;
		border: solid 2px $color-text-minor;
	}

	.nav-modify {
		margin: 0.5em;
		padding: 0.2em;
		border-radius: $dimension-rounded-radius;
		background: $color-obojobo-blue;
		color: $color-bg;
	}

	.button-bar {
		padding-left: 2rem;
		padding-bottom: 2rem;
		position: fixed;
		background: $color-nav-bg;
		bottom: 0;
		z-index: 5;
		left: 0;
		font-weight: bold;
		cursor: default;
		width: 15em;

		.content-add-button {
			padding: 0.1em;
			font-size: 1.2em;

			.button {
				background: $color-obojobo-blue;
				padding: 0.3em;
			}
		}
	}

	.link {
		&.is-selected {
			z-index: $z-index-above-most;
		}
	}
}
