@import '../../../scss/includes';

.visual-editor--editor-app {
	.draft-toolbars {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: $z-index-above-all;
		background-color: $color-bg;
	}

	code {
		font-family: $font-monospace;
	}
}
