@import '../../../scss/includes';

.visual-editor--editor-app {
	.draft-toolbars {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: $z-index-above-all;
		background-color: $color-bg;

		.draft-title {
			font-size: 1.2em;
			margin-left: 0.5em;
			margin-top: 0.5em;
			font-family: $font-default;
			border: 1px solid $color-bg;
			max-width: 50em;
			overflow: hidden;
			white-space: nowrap;
			position: absolute;

			&:hover {
				border: 1px solid $color-shadow;
			}
		}
	}

	code {
		font-family: $font-monospace;
	}
}
