@import '~styles/includes';

.editor--page-editor {
	display: flex;
	margin: 2em;
	margin-top: 8em;
	border: 1px solid $color-shadow;
	background-color: $color-bg;
	border-radius: $dimension-rounded-radius;
	min-height: calc(100vh - 10.5em);

	.obojobo-draft--modules--module {
		margin: 3em auto;
		width: 100%;
		display: table-cell;
		margin-top: 3em;
		margin-bottom: 1em;
	}

	.parameter-node {
		padding-right: 1em;
	}

	.latex-editor {
		background: $color-action;
		color: $color-bg;
	}

	span[data-placeholder] {
		&.required::before {
			content: attr(data-placeholder);
			opacity: 0.5;
			position: absolute;
		}

		&.align-center {
			&::before {
				transform: translate(-50%, 0);
			}
		}

		&.align-right {
			&::before {
				right: 2em;
			}
		}
	}

	&.is-show-placeholders {
		span[data-placeholder] {
			&::before {
				content: attr(data-placeholder);
				opacity: 0.5;
				position: absolute;
			}
		}
	}
}
