@import '../../../scss/includes';

.editor--page-editor {
	display: flex;
	margin: 2em;
	margin-top: 8em;
	border: 1px solid $color-text;
	background-color: $color-bg;
	border-radius: $dimension-rounded-radius;

	.obojobo-draft--modules--module {
		margin: 3em auto;
		width: 100%;
		display: table-cell;
		margin-top: 3em;
		margin-bottom: 1em;
	}

	.parameter-node {
		padding-right: 1em;
	}

	.latex-editor {
		background: $color-action;
		color: $color-bg;
	}

	span[data-placeholder]{
		&:before {
			content: attr(data-placeholder);
			opacity: 0.5;
			position: absolute;
		}
			
		&.align-center {
			&:before{
				transform: translate(-50%, 0);
			}
		}
	}
}
