@import '../../../scss/includes';

.editor--page-editor {
	margin: 3em auto;
	width: 100%;
	display: table-cell;
	margin-top: 3em;
	margin-bottom: 1em;

	.parameter-node {
		padding-right: 1em;
	}

	.latex-editor {
		background: $color-action;
		color: $color-bg;
	}
}
