@import '../../../scss/includes';

.editor--page-editor {
	margin-top: 3em;
	margin-bottom: 3em;

	.parameter-node {
		padding-right: 1em;
	}

	.footer-menu {
		text-align: center;
		position: fixed;
		bottom: 0;
		z-index: 999;
		margin: 0 auto;
		padding-right: 3em;
		padding-left: 3em;
		left: $dimension-nav-menu;
		right: 0;
		background-color: $color-bg2;
		border-top: 1px solid $color-shadow;

		.exporter {
			margin: 0.3em;
			.button {
				background: $color-obojobo-blue;
				padding: 0.3em;
			}
		}
	}

	.settings {
		font-size: 0.8em;
		padding-left: $dimension-padding * 0.2333333333;
		padding-right: $dimension-padding * 0.2333333333;
		background: transparentize($color-preview, 0.95);
		border-radius: $dimension-rounded-radius;
		border: 1px solid $color-preview;

		div {
			div {
				display: inline;
			}
		}

		.label {
			color: $color-text-minor;
			transform: scale(0.7);
			transform-origin: top left;
			font-family: $font-default;
		}
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 3em;
		height: 1em;

		input {
			opacity: 0;
		}

		.slider {
			border: 1px solid $color-shadow;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $color-bg2;
			transition: 0.4s;
			border-radius: 0.7em;

			// Circle slider
			&::before {
				border: 1px solid $color-shadow;
				position: absolute;
				content: '';
				height: 0.7em;
				width: 0.7em;
				left: 0.05em;
				bottom: 0.05em;
				background-color: $color-bg;
				transition: 0.4s;
				border-radius: 50%;
			}

			&::after {
				content: 'OFF';
				color: $color-text;
				display: block;
				position: absolute;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
				font-size: 0.5em;
			}
		}

		input:checked + .slider {
			background-color: $color-obojobo-blue;
		}

		input:focus + .slider {
			box-shadow: 0 0 5px #2196f3;
		}

		input:checked + .slider::before {
			transform: translateX(2em);
		}

		input:checked + .slider::after {
			content: 'ON';
			color: $color-bg;
		}
	}

	.buffer {
		margin: $dimension-padding / 3;
	}

	.latex-editor {
		background-color: $color-bg2;
	}

	.placeholder {
		display: inline-block;
		position: absolute;
		pointer-events: none;
		white-space: nowrap;
		opacity: 0.33;

		&.align-right {
			transform: translate(-100%);
		}

		&.align-center {
			transform: translate(-50%);
		}
	}

	label {
		display: block;
	}

	.delete-node-button {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		background: inherit;
	}

	.toolbar button:hover {
		opacity: 1;
		background: lighten($color-action, 48%);

		svg path {
			fill: $color-action;
		}

		svg line {
			stroke: $color-action;
		}
	}
}

.editor--page-editor--delete-node-button {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: inherit;
	cursor: pointer;
}
