@import '../../../scss/includes';

.toolbar {
	text-align: center;
	position: fixed;
	top: 0;
	z-index: $z-index-above-all;
	margin: 0 auto;
	padding-right: 3em;
	padding-left: 3em;
	left: $dimension-nav-menu;
	right: 0;
	background-color: $color-bg2;
	border-bottom: 1px solid $color-shadow;

	@media screen and (max-width: $breakpoint-nav-small) {
		left: $dimension-nav-menu-small;
	}

	button {
		font-size: 1em;
		width: 2.5em;
		height: 2.5em;
		padding: 0.4em;
		box-sizing: border-box;
		margin: 0;
		border: none;
		background: transparent;
		cursor: pointer;
		opacity: 0.6;

		svg path {
			fill: $color-text;
		}

		svg line {
			stroke: $color-text;
		}

		&:hover {
			opacity: 1;
			background: lighten($color-action, 48%);

			svg path {
				fill: $color-action;
			}

			svg line {
				stroke: $color-action;
			}
		}
	}
}
