@import '~styles/includes';

.obojobo-draft--components--slider--slider-rail-outer {
	position: absolute;
	width: 100%;
	height: 2em;
	transform: translate(0%, -50%);
	border-radius: 0.5em;
	cursor: pointer;
}

.obojobo-draft--components--slider--slider-rail-inner {
	position: absolute;
	width: 100%;
	height: 0.7em;
	transform: translate(0%, -50%);
	border-radius: 0.5em;
	pointer-events: 'none';
	background: rgb(155,155,155),
}