@use '~styles/includes';

.obojobo-draft--components--slider--track {
	position: absolute;
	transform: translate(0%, -50%);
	height: 0.7em;
	z-index: 1;
	border-radius: includes.$dimension-rounded-radius;
	cursor: pointer;
	background: includes.$color-action;

	&.is-disabled {
		background: includes.$color-shadow;
	}
}
