@import '~styles/includes';

.obojobo-draft--sections--assessment {
	.add-rubric {
		.button {
			$color-preview-hover: darken($color-preview, 9%);

			background-color: $color-preview;

			&:hover {
				background-color: $color-preview-hover;
			}
		}
	}

	> .component[data-obo-component='true'] {
		padding-top: 0;
		padding-bottom: 0;

		> .component-toolbar {
			display: none;
		}

		> .pad {
			padding-left: 0;
			padding-right: 0;
		}

		.obojobo-draft--chunks--question-bank {
			margin-left: 0;
			margin-right: 0;

			> .delete-button {
				display: none;
			}
		}
	}
}
