@import '~styles/includes';

.obojobo-draft--sections--assessment {
	@import './components/test/index.scss';
	@import './components/post-test/index.scss';
	@import './components/full-review/index.scss';

	.pre-test {
		padding-top: 1em;

		> h1 {
			margin-bottom: 0.2em;
			text-align: center;
		}

		> h2 {
			margin-bottom: 0;
			text-align: center;
			font-size: 1em;
		}
	}

	.loading-assessment {
		animation: obojobo-draft--animation--fadein $duration-animation-default * 2;
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, 20vh);

		> .viewer--components--throbber {
			margin: 0 auto;
			width: 2em;
			height: 2em;
			opacity: 0.25;
			display: block;
		}
	}

	.test {
		animation: obojobo-draft--animation--fadein $duration-animation-default * 2;
	}
}

.obojobo-draft--sections--assessment--results-modal {
	background: $color-bg2;
}
