@use "sass:meta";
@use '~styles/includes';
@use './components/test/index' as test-styles;
@use './components/post-test/index' as post-test-styles;
@use './components/full-review/index' as full-review-styles;

.obojobo-draft--sections--assessment {
	@include test-styles.styles();
	@include post-test-styles.styles();
	@include full-review-styles.styles();

	.pre-test {
		padding-top: 1em;

		> h1 {
			margin-bottom: 0.2em;
			text-align: center;
		}

		> h2 {
			margin-bottom: 0;
			text-align: center;
			font-size: 1em;
		}
	}

	.loading-assessment {
		animation: obojobo-draft--animation--fadein includes.$duration-animation-default * 2;
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, 20vh);

		> .obojobo-draft--components--spinner {
			margin: 0 auto;
			width: 2em;
			height: 2em;
			opacity: 0.25;
			display: block;
		}
	}

	.test {
		animation: obojobo-draft--animation--fadein includes.$duration-animation-default * 2;
	}
}

.obojobo-draft--sections--assessment--results-modal {
	background: includes.$color-bg2;
}
