$color-action: #6714bd;
$color-action-minor: desaturate(lighten($color-action, 30%), 40%);
$color-error: #990000;
$color-dangerous: #d40000;
$color-text: #000000;
$color-text-minor: lighten($color-text, 40%);
$color-bg: #ffffff;
$color-shadow: rgba(0, 0, 0, 0.3);
$color-highlight: #93c6ff;
$color-bg2: #f4f4f4;
$color-bg3: #131313;
$color-action-bg: #f9f4ff;
$color-correct: #38ae24;
$color-incorrect: #c21f00;
$color-alt-correct: #c49a03;
$color-unchosen-correct: #555555;
$color-transparent: rgba(0, 0, 0, 0);
$color-browser-focus: #5991ca;
$color-comment: #ffd400;
$color-preview: #0d4fa7;
$color-reward: #ffe65d;
$color-reward-text: #947d00;
$color-obojobo-blue: #0d4fa7;
$color-preview: #af1b5c;

$box-shadow-focus: 0 0 3px 3px $color-browser-focus;
$box-shadow-overlay: 0 2px 2px $color-shadow;

$duration-animation-default: 0.2s;

$font-default: 'Libre Franklin', Arial, sans-serif;
$font-text: 'Noto Serif', serif;
$font-monospace: 'Roboto Mono', monospace;

$font-size: 14.25pt;

$dimension-column-width: 44em;
$dimension-padding: 3em;
$dimension-editor: $dimension-column-width + 3em + 3em;
$dimension-toolbar-height: 2.7em;
$dimension-nav-menu: 18rem;
$dimension-nav-menu-small: 14rem;
$dimension-rounded-radius: 0.25em;
$dimension-header-padding: 1rem;
$dimension-preview-banner: 3rem;

$breakpoint-nav-small: 1000px;

$z-index-above-content: 999;
$z-index-above-most: 9999;
$z-index-above-all: 99999;
$z-index-preview: 999999;

@mixin pad() {
	padding-left: $dimension-padding;
	padding-right: $dimension-padding;
}

@mixin placeholder($height) {
	background: $color-bg2;
	box-sizing: border-box;
	color: transparentize($color-text, 0.5);
	font-family: $font-default;
	font-size: 1rem;
	font-weight: bold;
	height: $height;
	line-height: 0;
	padding-top: $height / 2;
	text-align: center;
}
