// @import '~styles/includes'; //@TODO - This is not importing

.obojobo-draft--sections--assessment--components--score-report {
	$color-hr: transparentize(rgba(0, 0, 0, 0.3), 0.2);
	$color-correct: #38ae24;
	$color-incorrect: #c21f00;

	text-align: left;

	> * {
		font-size: 0.7em;
		line-height: 1.5em;
		margin-top: 0.5em;
		position: relative;

		&:only-child {
			margin-top: 0;
			font-size: 1em;
		}

		&.divider {
			height: 1px;
			border: none;
			background: $color-hr;
		}

		&.extra-credit {
			> .label > span {
				color: $color-correct;
				font-weight: bold;
			}
		}

		&.penalty {
			> .label > span {
				color: $color-incorrect;
				font-weight: bold;
			}
		}

		&.value {
			padding-right: 4em;
		}

		&.total {
			font-size: 1em;
		}

		> .amount {
			white-space: nowrap;
			text-align: right;
			position: absolute;
			bottom: 0;
			right: 0;
			font-weight: bold;
		}
	}
}
