.score-report {
	$color-hr: transparentize($color-shadow, 0.2);

	font-family: $font-default;
	text-align: center;

	.value.is-not-null {
		position: relative;

		&:after {
			position: absolute;
			right: 0;
			top: 50%;
			content: '%';
			display: block;
			transform: translate(1em, -50%);
			font-size: 0.6em;
		}
	}

	.mod-breakdown {
		display: flex;
		justify-content: center;
		font-size: 0.7em;
		line-height: 1.5em;

		.mod-breakdown-items {
			width: 80%;
			padding-top: 0.5em;
			border-top: 1px solid $color-hr;

			&:last-child {
				padding-bottom: 0.8em;
			}
		}
	}

	.mod-breakdown-item {
		display: flex;
		align-items: baseline;

		&:first-child:not(:only-child) {
			margin-top: 5px;
		}

		&:last-child:not(:only-child) {
			padding-top: 0.5em;
			border-top: 1px solid $color-hr;
		}

		.score-report-text {
			display: inline-block;
			width: 80%;
			text-align: left;
			margin-bottom: 0.5em;

			.score-report-text-content {
				display: inline-block;
			}

			.is-type-score-report-penalty {
				color: red;
			}

			.is-type-score-report-extra-credit {
				color: green;
			}

			&.score-report-text-line,
			&.score-report-text-value {
				margin-top: 0.5em;
			}

			&.score-report-text-line {
				width: 100%;
				text-align: center;
			}

			.score-report-text-total {
				font-weight: bold;
			}
		}
	}

	.score-report-score {
		display: inline-block;
		width: 20%;
		white-space: nowrap;
		text-align: right;

		.score-report-score-content {
			display: inline-block;
		}
	}
}
