@import '~styles/includes';

$selected-gray: #ebebeb;
$lighter-blue: lighten($color-obojobo-blue, 60%);

.excerpt--excerpt-edit-controls {
	position: absolute;
	border-radius: $dimension-rounded-radius;
	font-size: 0.75rem;
	font-family: $font-default;
	box-sizing: border-box;
	min-height: 2.5em;
	background-color: $color-bg2;
	box-shadow: $box-shadow-overlay;
	left: 50%;
	width: 24em;
	top: calc(100% + 3em);
	transform: translateX(-50%);
	z-index: 9;

	&.extra-width {
		width: 32em;
	}

	&.is-open {
		bottom: -26.5em;
		width: 23em;
	}

	.box-border {
		background-color: $color-bg2;
		padding: 1em;
	}

	> .obojobo-draft--components--button {
		margin-bottom: 1em;
		margin-left: auto;
		margin-right: auto;
		width: 100%;

		button {
			padding: 0.5em 1em;
		}
	}

	&::before {
		content: ' ';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		width: 1.25em;
		height: 1.25em;
		border-radius: 0.25em 0;
		z-index: -1;
		background-color: $color-bg2;
	}

	> .attributes-list {
		background-color: $color-bg;
		border-radius: $dimension-rounded-radius;
		margin: 1em;

		> div {
			margin-bottom: 0.5em;
		}

		.attribute {
			display: inline-block;
			padding: 0.5em;
		}

		.attribute-label {
			font-weight: bold;
			display: block;
			width: 100%;
			text-align: center;
		}

		.effect-settings {
			&.is-not-enabled {
				opacity: 0.5;
			}

			cursor: pointer;
			text-align: left;
			width: 100%;
			display: flex;
			align-items: center;
			margin-bottom: 1em;
			margin-top: 2em;

			span {
				font-weight: bold;
				display: inline-block;
				line-height: 1em;
				transform: translate(0, 1px);
			}

			input {
				margin: 0;
				margin-right: 0.5em;
			}
		}

		> .preset-list {
			list-style-type: none;
			text-align: left;
			margin: 0;
			padding: 0;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			height: 18em;
			overflow-y: scroll;
			border-radius: $dimension-rounded-radius;
			border-top: 1px solid $color-shadow-light;

			li {
				padding: 0.25em 0;

				&.is-selected {
					background-color: $selected-gray;
				}

				&:hover {
					background: $lighter-blue;
				}
			}

			button {
				border: none;
				background: transparent;
				font-size: 1em;
				font-family: $font-default;
				text-align: center;
				width: 100%;
				height: 100%;
				cursor: pointer;
			}

			.icon {
				width: 4em;
				height: 3em;
				border-radius: $dimension-rounded-radius;
				display: block;
				margin: 0 auto;
				background-image: url('../images/icons-presets.png');
				background-position: 0 0;

				/*
				allowing pixels here because we're using this as a sprite sheet
				ideally we could use CSS or SVGs here instead of a png
				*/
				// stylelint-disable-next-line unit-disallowed-list
				background-size: 927px 39px;
				background-repeat: no-repeat;

				@function pos-x($i) {
					// stylelint-disable-next-line unit-disallowed-list
					@return $i * -51.5px;
				}

				&.icon-minimal {
					background-position-x: pos-x(0);
				}

				&.icon-simple-filled {
					background-position-x: pos-x(1);
				}

				&.icon-simple-bordered {
					background-position-x: pos-x(2);
				}

				&.icon-card {
					background-position-x: pos-x(3);
				}

				&.icon-fiction {
					background-position-x: pos-x(4);
				}

				&.icon-non-fiction {
					background-position-x: pos-x(5);
				}

				&.icon-historical {
					background-position-x: pos-x(6);
				}

				&.icon-very-historical {
					background-position-x: pos-x(7);
				}

				&.icon-white-paper {
					background-position-x: pos-x(8);
				}

				&.icon-instruction-manual {
					background-position-x: pos-x(9);
				}

				&.icon-typewritten {
					background-position-x: pos-x(10);
				}

				&.icon-receipt {
					background-position-x: pos-x(11);
				}

				&.icon-computer-modern {
					background-position-x: pos-x(12);
				}

				&.icon-computer-hacker-green {
					background-position-x: pos-x(13);
				}

				&.icon-modern-text-file {
					background-position-x: pos-x(14);
				}

				&.icon-retro-text-file {
					background-position-x: pos-x(15);
				}

				&.icon-computer-hacker-orange {
					background-position-x: pos-x(16);
				}

				&.icon-excerpt {
					background-position-x: pos-x(17);
				}
			}

			span {
				display: inline-block;
				font-size: 0.8em;
			}
		}

		.more-options {
			padding: 1em;
			padding-top: 0;
			display: flex;
			flex-direction: row;

			select {
				@include select-input();

				font-size: 0.9em;
				margin-bottom: 0.5em;
				width: 100%;
			}

			.more-options-group {
				display: flex;
				flex-direction: column;
				width: 50%;

				> :last-child {
					margin: auto 0 1em;
				}
			}
		}
	}
}
