@import '~styles/includes';

.obojobo-draft--components--modal--dialog {
	max-width: 100vw;

	.obojobo-draft--components--modal--modal > .content {
		> .heading {
			margin: 0;
			margin-bottom: 1em;
			padding: 0;
			font-size: 1.25em;
		}

		> .dialog-content {
			margin-bottom: 2em;

			@include mq($until: tablet) {
				margin-bottom: 2em;
			}

			@include mq($until: mobileLandscape) {
				margin-bottom: 1.5em;
			}
		}

		> .controls {
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;

			.obojobo-draft--components--button {
				margin-left: 0.5em;
				margin-right: 0.5em;
			}

			.text-group {
				color: $color-text-minor;
				font-size: 0.9em;
			}
		}
	}
}
