@import '../../../../scss/includes';

.obojobo-draft--components--modal--list-dialog {

	.obojobo-draft--components--modal--modal {
		background-color: $color-bg2;
		padding: 0;

		.content {
			.heading {
				padding-top: 1em;
				padding-bottom: 1em;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: $dimension-rounded-radius $dimension-rounded-radius 0 0;
				background: $color-bg;
				width: 100%;
				z-index: 9;
			}

			.dialog-content {
				margin-top: 5.5em;
				margin-left: 1.5em;
				margin-right: 1.5em;
				margin-bottom: 0;
			}
		}
	}

	.delete-button {
		.button{
			border: none;
			background: none;
			font-size: 1.5em;
			font-weight: bold;
			position: absolute;
			top: 0;
			right: 0.5em;
			color: $color-shadow;
			z-index: 99;
		}
	}
}