@import '~styles/includes';

.obojobo-draft--components--modal--tab-trap {
	.first-tab {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border: none;
		background: transparent;
	}

	.last-tab {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0;
		height: 0;
		border: none;
		background: transparent;
	}
}
