@import '~styles/includes';

.obojobo-draft--chunks--math-equation {
	.equation-editor {
		position: relative;
		overflow: auto;

		div {
			float: left;
			width: 50%;
			text-align: center;
		}

		input {
			position: static;
		}
	}
}
