@import '~styles/includes';

.math-equation-properties {
	width: 15em;
	text-align: left;
	margin: auto;

	.error {
		color: $color-error;
		font-size: 0.8em;
		font-weight: bold;
		margin-bottom: 1em;
		display: inline-block;
	}

	label {
		margin-bottom: 0.3em;
	}

	input {
		@include text-input();

		width: 100%;

		&#obojobo-draft--chunks--math-equation--latex {
			margin-bottom: 1em;
		}

		&#obojobo-draft--chunks--math-equation--size {
			margin-bottom: 1em;
		}

		&#obojobo-draft--chunks--math-equation--alt {
			font-family: $font-monospace;
			margin-bottom: 1em;
		}

		&#obojobo-draft--chunks--math-equation--label {
			font-family: $font-text;
			margin-bottom: 1em;
		}
	}

	.preview-title {
		font-weight: bold;
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.preview-container {
		margin-bottom: -1em;
	}

	.katex-container {
		position: relative;
		height: 3.5em;
		overflow: hidden;
	}

	.katex-preview {
		position: absolute;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
	}
}
