@import '~styles/includes';

.obojobo-draft--chunks--math-equation {
	.non-editable-chunk {
		position: relative;
	}

	.katex-display {
		margin: 0;
	}

	&.align-left .katex-display {
		text-align: left;
	}

	&.align-right .katex-display {
		text-align: right;
	}

	&.align-center .katex-display {
		text-align: center;
	}

	.equation-label {
		position: absolute;
		top: 40%;
		right: 3em;
		transform: translate(0, -50%);

		// when there's less room - move the label under the equation
		@include mq($until: desktop){
			position: relative;
			text-align: center;
			transform: none;
			right: 0;
			left: 0;
			top: 0;
			text-align: center;
			font-size: .8em;
			color: lighten($color-text, 30%);

			&:before{
				content: "Equation: ";
				font-style: italic;
				color: lighten($color-text, 50%);
			}
		}
	}

	.katex-error {
		background: #ff000011;
	}

	.equation-editor {
		position: relative;
		overflow: auto;

		div {
			float: left;
			width: 50%;
			text-align: center;
		}

		input {
			position: static;
		}
	}

	.for-screen-reader-only {
		right: inherit;
		bottom: inherit;
		left: 0;
		top: 0;
	}
}
