@import '~styles/includes';

.obojobo-draft--chunks--math-equation {
	.non-editable-chunk {
		position: relative;
	}

	.katex-display {
		margin: 0;
		overflow-x: scroll; // prevent whole page side scrolling

		@include mq($until: tablet) {
			font-size: 0.9em; // squish a little on smaller screens
		}
	}

	.equation-label {
		position: relative;
		text-align: center;
		right: 0;
		left: 0;
		top: 0;
		font-size: 0.8em;
		color: lighten($color-text, 30%); // stylelint-disable-line sh-waqar/declaration-use-variable

		&::before {
			content: 'Equation ';
			font-style: italic;
			color: lighten($color-text, 50%); // stylelint-disable-line sh-waqar/declaration-use-variable
		}
	}

	&.align-left .katex-display,
	&.align-left .equation-label {
		text-align: left;
	}

	&.align-right .katex-display,
	&.align-right .equation-label {
		text-align: right;
	}

	&.align-center .katex-display {
		text-align: center;
	}

	.katex-error {
		background: #ff000011;
	}

	.equation-editor {
		position: relative;
		overflow: auto;

		div {
			float: left;
			width: 50%;
			text-align: center;
		}

		input {
			position: static;
		}
	}

	.for-screen-reader-only {
		right: inherit;
		bottom: inherit;
		left: 0;
		top: 0;
	}
}
