@import '~styles/includes';

.obojobo-draft--chunks--code,
.component[data-obo-component='true'] .obojobo-draft--chunks--code {
	pre {
		$font-size: 0.9em;

		font-family: $font-monospace;
		letter-spacing: -0.01em;
		line-height: 1.2em;
		font-size: $font-size;
		margin-top: 0;
		margin-bottom: 0;
		overflow-x: auto;
		background: $color-bg2;
		border-radius: $dimension-rounded-radius;
		box-sizing: border-box;
		padding: $dimension-padding / 4 $dimension-padding / 3 / ($font-size / 1em);
		tab-size: 2;

		@include mq($until: desktop) {
			font-size: $font-size * 0.9;
		}

		@include mq($until: tablet) {
			font-size: $font-size * 0.8;
		}
	}

	.text {
		display: block;
		min-height: 1em;
	}
}
