@import '~styles/includes';

.obojobo-draft--chunks--action-button {
	.obojobo-draft--components--button {
		margin: 0 auto;
		min-width: 9em;
		display: block;
		// transform: scale(1.25,1.25);
		// text-align: center;

		button {
			min-width: 9em;
		}
	}

	// Editor Styles
	.button {
		input {
			font-family: $font-default;
			// button lightened to be close to $color-action with opacity 0.8
			background-color: lighten($color-action, 9%);
			font-size: 0.85em;
			color: $color-bg;
			border: none;
			width: 100%;

			&::placeholder {
				color: $color-bg;
				opacity: 80%;
			}
		}

		cursor: pointer;
		font-family: $font-default;
		font-size: 0.85em;
		position: relative;
		min-width: 3.25em;
		border-radius: 0.2em;
		padding: 0.6rem 1em;
		// button lightened to be close to $color-action with opacity 0.8
		background-color: lighten($color-action, 9%);
		color: $color-bg;
		border: 1px solid $color-transparent;
		border-bottom: 1px solid darken($color-action, 20%);
	}

	.trigger {
		padding-left: 2em;
		padding-bottom: 0.5em;
		overflow: auto;
		border: 1px solid #111111;
		border-radius: 0.2em;
		position: relative;
	}

	.trigger > div {
		float: left;
		padding-left: 1em;
		padding-right: 1em;
	}

	.is-type-invalid {
		background-color: #ff000011;
	}
}
