@import '~styles/includes';

.obojobo-draft--chunks--figure {
	.figure-box {
		position: relative;
		border: 3px solid transparentize($color-action, 0.7);

		.obojobo-draft--components--button {
			display: none;
		}

		&.is-selected {
			border: 3px solid $color-action;

			.obojobo-draft--components--button {
				display: block;
			}
		}

		.image-toolbar {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			transform: translate(0, -50%);
			.obojobo-draft--components--button {
				margin-top: 0.2em;
				margin-bottom: 0.2em;
			}
		}

		.delete-button {
			position: absolute;
			right: 0;
			top: 0;
			transform: translate(50%, -50%);
			z-index: 3;
			button {
				font-size: 1.2em;
				padding: 0;
				min-width: 1.4em;
				border-radius: 50%;
			}
		}
	}
}
