.image-properties {
	text-align: left;

	input {
		margin-bottom: 0.5em;
	}

	fieldset {
		text-align: left;
		border: none;
		padding-left: 0;
	}

	.size-input {
		display: block;

		.custom-size-inputs {
			display: inline;
			padding-left: 0.5em;
		}

		label {
			display: inline;
		}
	}
}
