@import '~styles/includes';

.numeric-input-container {
	$color-border: #dfdfdf;

	position: relative;
	padding: 1rem 0;

	table {
		border-collapse: collapse;

		th,
		td {
			font-family: $font-default;
			text-align: left;
			padding: 0;
			padding-right: 1rem;
		}
	}

	.select-item {
		font-family: $font-default;
		border: 1px solid $color-border;
		border-radius: 3px;
		font-size: 1rem;
		background-color: $color-bg;
		min-width: 11rem;
		padding: 0.7rem 0 0.7rem 0.5rem;

		appearance: none;
		background-image: linear-gradient(45deg, transparent 50%, gray 50%),
			linear-gradient(135deg, gray 50%, transparent 50%);
		background-position: calc(100% - 20px) calc(1rem + 2px), calc(100% - 15px) calc(1rem + 2px),
			calc(100% - 2.5rem) 0.5rem;
		background-size: 5px 5px, 5px 5px, 1px 1.5rem;
		background-repeat: no-repeat;
	}

	.input-item {
		font-family: $font-monospace;
		border: 1px solid $color-border;
		border-radius: 3px;
		font-size: 1rem;
		width: 5rem;
		padding: 0.7rem 0 0.7rem 0.5rem;
	}
}
