@import '../../../../../scss/includes';

.editor--components--side-menu--side-menu-handle
{
	background-color: $color-bg;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 0.5rem;
	border: 0.2rem solid $color-bg2;
	cursor: move;
	transform: translate(-50%);
	transition: width ease 0.2s, background ease 0.2s;
	width: 0.7rem;

	&:hover
	{
		background-color: $color-action-minor;
		border: 2px solid $color-action-minor;
		width: 1.5rem;
	}
}
