@import '../../../../../scss/includes';

.editor--components--side-menu--side-menu-list
{
	$button-size: 2.2rem;
	$border-size: 0.2rem;

	background: $color-bg;
	border: $border-size solid $color-bg2;
	border-radius: $button-size;
	box-sizing: border-box;
	color: darken($color-bg2, 5%);
	cursor: pointer;
	position: absolute;
	transition: border-radius $duration-animation-default, background $duration-animation-default;

	&.open
	{
		background: $color-action-minor;
		border: $border-size solid $color-transparent;
		border-radius: $border-size;
		color: transparentize($color-text, 0.5);
	}

	.insert-button
	{
		box-sizing: border-box;
		display: inline-block;
		font-size: $button-size * 0.8;
		height: $button-size - $border-size - $border-size;
		line-height: 0;
		position: relative;
		text-align: center;
		vertical-align: middle;
		width: $button-size - $border-size - $border-size;

		&::after
		{
			content: '+';
			font-family: $font-default;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%) translate(0.5px, 0);
		}
	}

	.side-menu-button
	{
		border-top-left-radius: 0.2rem;
		border-top-right-radius: 0.2rem;
		display: inline-block;
		height: $button-size - $border-size - $border-size;
		position: relative;

		button
		{
			background-color: transparent;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 1.2rem 1.2rem;
			border: none;
			color: $color-text;
			cursor: pointer;
			display: block;
			font-family: $font-default;
			font-size: 0.7rem;
			font-weight: bold;
			height: $button-size - $border-size - $border-size;
			overflow: hidden;
			position: relative;
			text-indent: -9999px;
			vertical-align: middle;
			width: $button-size * 1.3;
		}

		&:last-child
		{
			border-right: none;
		}

		&:hover
		{
			background-color: $color-bg;

			&::after
			{
				background: $color-bg;
				content: ' ';
				display: block;
				height: 0.2rem;
				left: 0;
				position: 'absolute';
				top: 0;
				width: $button-size * 1.3;
			}

			.label-container
			{
				opacity: 1;
			}
		}
	}

	.label-container
	{
		bottom: 0;
		box-sizing: border-box;
		display: inline-block;
		font-family: $font-default;
		font-size: 0.6rem;
		font-weight: bold;
		left: 50%;
		margin: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		transform: translate(-50%, 100%);
		vertical-align: top;
		width: 10rem;

		.label
		{
			background: $color-bg;
			border-bottom-left-radius: 0.2rem;
			border-bottom-right-radius: 0.2rem;
			border-radius: 0.2rem;
			border-top: none;
			box-sizing: border-box;
			display: inline-block;
			min-width: $button-size * 1.3;
			padding: 0.2rem;
		}
	}
}
