@import '~styles/includes';

.parameter-node {
	padding-right: 1em;
	display: inline;

	.invisible-children {
		display: none;
	}

	span {
		padding-right: 0.5em;
	}

	select {
		font-family: $font-default;
		border-radius: $dimension-rounded-radius;
		font-size: 0.7em;
		background-color: $color-bg;
		padding: 0.7em 2em 0.7em 0.5em;
		appearance: none;
		background-image: linear-gradient(45deg, transparent 50%, gray 50%),
			linear-gradient(135deg, gray 50%, transparent 50%);
		background-position: calc(100% - 1.5em) 1.1em, calc(100% - 1.1em) 1.1em,
			calc(100% - 2.5em) 0.5em;
		background-size: 0.4em 0.4em, 0.4em 0.4em, 0.1em 1.5em;
		background-repeat: no-repeat;
	}
}
