@import '~styles/includes';

.parameter-node {
	padding-right: 1em;
	display: inline;

	.invisible-children {
		display: none;
	}

	span {
		padding-right: 0.5em;
	}

	select {
		font-family: $font-default;
		border-radius: 3px;
		font-size: 0.7em;
		background-color: white;
		padding: 0.7em 2em 0.7em 0.5em;

		appearance: none;
		background-image: linear-gradient(45deg, transparent 50%, gray 50%),
			linear-gradient(135deg, gray 50%, transparent 50%);
		background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px),
			calc(100% - 2.5em) 0.5em;
		background-size: 5px 5px, 5px 5px, 1px 1.5em;
		background-repeat: no-repeat;
	}
}
