@import '../../client/css/defaults';

#admin-root {
	p {
		background-color: purple;
		color: red;
	}

	div {
		background-color: green;
		color: pink;
	}

	.title {
		background-color: salmon;
		color: orange;
	}

	.repository--main-content {
		max-width: inherit;
	}

	.repository--section-wrapper {
		max-width: inherit;
	}

	.repository--data-grid-drafts-container {
		max-height: 30em;
		overflow: scroll;
		margin-bottom: 1em;
	}

	.repository--assessment-stats {
		height: 50em;
	}

	.repository--drafts-search {
		padding: 0.25em;
		width: 14em;
		margin-bottom: 1em;
	}
}
