@import '../../client/css/defaults';

#admin-root {
	.repository--section-wrapper {
		max-width: inherit;
	}

	.repository--data-grid-drafts-container {
		max-height: 30em;
		overflow: scroll;
		margin-bottom: 1em;
	}

	.repository--assessment-stats {
		height: 50em;
	}

	.repository--drafts-search {
		padding: 0.25em;
		width: 14em;
		margin-bottom: 1em;
	}

	.title {
		background-color: $color-banner-bg;
		color: $color-action-minor;
		border-radius: 0.25em;
		padding: 1em;
		margin: 0;
	}

	select {
		padding: 0.8em;
		border-radius: 0.25em;
		min-width: 30%;
	}

	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.row.buttons {
		justify-content: left;
		gap: 1em;
	}

	.tool-button {
		width: 6em;
	}
}
