@import '../../client/css/defaults';

.repository--button {
	@mixin disabled() {
		cursor: not-allowed;
		border: 1px solid $color-transparent;
		border-bottom: 1px solid $color-transparent;
		opacity: 0.4;
	}

	border: 0;
	background: $color-button-bg;
	color: white;
	border-radius: 0.25em;
	padding: 0.8em 1.1em;
	box-sizing: border-box;
	cursor: pointer;
	text-decoration: none;
	font-size: 0.7em;

	&:disabled {
		@include disabled();
	}

	&:hover {
		background: $color-action;
	}

	&.close-button {
		$size: 1.6em;

		min-width: $size;
		height: $size;
		line-height: $size;
		padding: 0;
		border-radius: $size;
		color: $color-action-minor;
		background-color: white;
		font-weight: 900;
		font-size: 1.1em;

		&:hover {
			color: $color-action;
		}
	}

	&.secondary-button {
		border: 0.1em solid $color-action;
		background-color: white;
		color: $color-action;

		&:hover {
			background-color: $color-action;
			color: white;
		}
	}

	&.dangerous-button {
		background-color: $color-dangerous;

		&:hover {
			background-color: $color-dangerous-minor;
		}
	}
}
