@import '../../client/css/defaults';

.collection-rename-dialog {
	max-width: 25em;
	text-align: center;
	width: 80vw;
	padding-bottom: 1em;

	.top-bar {
		text-align: left;
		position: relative;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		padding: 1em;
		height: 3em;

		.close-button {
			position: absolute;
			right: 0.5em;
			top: 50%;
			transform: translate(0, -50%);
		}
	}

	.collection-rename-input {
		display: block;
		width: 80%;
		margin: 2em auto;
	}
}
