@import '../../client/css/defaults';

#dashboard-root {
	.repository--main-content--control-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: $size-spacing-vertical-big;

		&.is-multi-select-mode {
			border: 1px solid $color-banner-bg;
			background-color: $color-banner-bg;
			border-radius: 0.15em;

			.module-count {
				font-size: 0.8em;
				margin-left: 1em;
				width: 40em;
			}

			button.secondary-button {
				margin: 0.3em 0.2em;
				font-size: 0.65em;
			}

			button.close-button {
				background: none;
			}
		}

		.repository-tab-buttons {
			display: flex;
			align-items: center;
			gap: 0.5em;
		}

		.dashboard-menu-button {
			height: 3em;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 0.5em;
			position: relative;
			stroke-width: 0.5em;
			stroke: $color-action;

			.trash-can-icon {
				width: 1.6em;
				height: 1.6em;
				margin-left: -0.5em;
				background: url('./layouts/trash_can.svg') center center no-repeat;
			}

			&.go-back-container span {
				margin-left: 2em;
			}

			.go-back-icon {
				position: absolute;
				height: 2.3em;
				width: 2.3em;
				left: 0.3em;
				top: 50%;
				transform: translate(0, -50%);

				svg {
					position: relative;
					height: 100%;
					width: 100%;
					fill: white;
					stroke-width: 0.5em;
					stroke: $color-action;
					top: 0.35em;
				}
			}
		}
	}
}
