@import '../../client/css/defaults';

#dashboard-root{

	.repository--main-content--control-bar{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: $size-spacing-vertical-big;
	}

}
