@import '../../client/css/defaults';

.repository--module-icon--menu-wrapper{
	position: relative;
	box-sizing: border-box;
	margin-left: -10px;
	width: 100%;
}

.repository--module-icon--menu-control-button{
	$size-small: 30px;
	$size-big: 35px;
	$position-icon-top: 80px;
	$position-icon-right: 15px;

	height: $size-small;
	width: $size-small;
	line-height: $size-small;
	position: absolute;
	border-radius: $size-small;
	background-color: $color-banner-bg;
	border: 3px solid white;
	top: $position-icon-top;
	right: $position-icon-right;
	color: white;

	> svg {
		vertical-align: middle;
		height: 50%;
		width: 50%;
		stroke: $color-action;
		fill: $color-action;
	}

	&:hover {
		background-color: $color-action;
		height: $size-big;
		width: $size-big;
		line-height: $size-big;
		border-radius: $size-big;
		top: $position-icon-top - ($size-big - $size-small) / 2;
		right: $position-icon-right - ($size-big - $size-small) / 2;
		> svg {
			margin: -5px;
			stroke: white;
			fill: white;
		}
	}
}

.repository--module-icon--menu{
	display: block;
	position: absolute;
	width: 100%;
	top: 5px;
	background-color: $color-banner-bg;
	border-radius: 0px 0px 5px 5px;
	padding: 5px 9px;
	z-index: 100;
	border: 1px solid $color-banner-bg;
	border-top: 0;

	hr{
		margin: 0 0 4px 0;
		border: 0;
		border-top: 1px solid darken($color-banner-bg, 10%);
	}

	.repository--button{
		display: inline-block;
		margin-bottom: 8px;
		width: 100%;
		position: relative;
		font-weight: bold;

		&.more{
			margin-bottom: 2px;
			color: $color-action;
			background-color: inherit;
			text-decoration: underline;

			&:before{
				content: ' ';
				width: 100%;
				height: 1px;
				position: absolute;
				top: -10px;
				left: 0px;
			}

			&:hover{
				background-color: rgba(255,255,255,.5);
			}
		}
	}

}
