@import '../../client/css/defaults';

.module-permissions-dialog {
	max-width: 400px;
	text-align: center;
	width: 80vw;

	.repository--module-icon--image {
		width: 25px;
		display: inline-block;
		vertical-align: middle;
	}

	.top-bar {
		text-align: left;
		margin: -10px -20px 20px -20px;
		padding: 0 20px 5px 20px;
		position: relative;
		border-bottom: 1px solid #999999;
		box-sizing: border-box;

		.module-title {
			display: inline-block;
			font-size: 12px;
			font-weight: 600;
			color: black;
			margin: 0 20px 0 10px;
			max-width: 50%;
			vertical-align: middle;
		}

		.close-button {
			position: absolute;
			top: 0;
			right: 10px;
		}
	}

	.title {
		font-weight: 700;
		font-size: 1.3em;
		margin-bottom: 5px;
	}

	.sub-title {
		font-size: 0.7em;
		margin-bottom: 20px;
	}

	.access-list-wrapper {
		margin: 20px -20px 20px -20px;
		background-color: $color-banner-bg;
		padding: 10px;
	}

	.access-list {
		$dimensions-avatar: 30px;
		$dimensions-close-button: 20px;

		text-align: left;
		height: 150px;
		overflow-y: scroll;
		list-style: none;
		font-size: 0.7em;
		padding: 0;
		margin: 0;

		li {
			max-width: 50%;
		}
	}

	.button-things {
		text-align: left;
		margin: 40px 10px;
		display: grid;
		grid-template-columns: 100px auto;
		grid-gap: 10px;
		align-items: center;

		.label {
			font-size: 0.8em;
		}

		.repository--button {
			min-width: 100px;
			display: inline-block;
			text-align: center;
			margin-right: 10px;
		}
	}
}
