@import '../../client/css/defaults';

.people-list-item {
	$dimensions-avatar: 30px;
	$dimensions-close-button: 20px;

	padding: 5px;
	margin: 0 auto;
	position: relative;
	border-radius: 3px;

	&:hover {
		background-color: lighten($color-banner-bg, 2%);
	}

	.user-name {
		max-width: calc(100% - #{$dimensions-avatar + $dimensions-close-button + 20px});
		display: inline-block;
		margin: 0 $dimensions-close-button + 10px 0 10px;
		vertical-align: middle;
	}

	.avatar {
		width: $dimensions-avatar;
		height: $dimensions-avatar;
		margin: 0;
		vertical-align: middle;
		display: inline-block;
	}

	> button {
		position: absolute;
		top: 5px;
		right: 10px;
	}

	.close-button {
		height: $dimensions-close-button;
		min-width: $dimensions-close-button;
		line-height: $dimensions-close-button;
		font-size: 0.85em;
		position: absolute;
		right: 5px;
		top: calc(50% - #{$dimensions-close-button / 2});
		background-color: inherit;

		&:hover {
			background-color: $color-action;
		}
	}
}
