@import '../../client/css/defaults';

.people-list-item {
	$dimensions-avatar: 1.8em;
	$dimensions-close-button: 1.2em;

	padding: 0.3em;
	margin: 0 auto;
	position: relative;
	border-radius: 0.25em;

	&:hover {
		background-color: lighten($color-banner-bg, 2%);
	}

	.user-name {
		display: block;
	}

	.email {
		display: block;
		font-size: 0.7em;
	}

	.avatar {
		width: $dimensions-avatar;
		height: $dimensions-avatar;
		margin: 0;
		vertical-align: middle;
		display: inline-block;
		position: absolute;
		left: 0.3em;
		top: 50%;
		transform: translate(0, -50%);
	}

	.user-info {
		padding-left: 2.5em;
		padding-right: 2.5em;
	}

	> button {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		right: 0;
	}

	.close-button {
		height: $dimensions-close-button;
		min-width: $dimensions-close-button;
		line-height: $dimensions-close-button;
		background-color: inherit;
		position: absolute;
		right: 0.5em;
		top: 50%;
		transform: translate(0, -50%);
	}
}
