@import '../../client/css/defaults';

.repository--section-wrapper {
	max-width: 770px;
	margin: 0 auto;
}

.repository--stick-to-top {
	position: sticky;
	top: 0;
	background: #ffffff;
	min-width: 100%;
	z-index: 100;
}

.repository--nav {
	max-width: 800px;
	min-height: 65px;
	margin: 5px auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
	font-size: 0.85em;

	@include mq($from: zero, $until: mobileS) {
		font-size: 0.65em;
	}

	@include mq($from: mobileS, $until: mobileL) {
		font-size: 0.7em;
	}

	@include mq($from: mobileL, $until: tablet) {
		font-size: 0.75em;
	}
}

.repository--nav a:link,
.repository--nav a:visited {
	color: $color-obojobo-blue;
}

.repository--nav a:active,
.repository--nav a:hover {
	color: $color-highlight;
}

.repository--nav--logo {
	background-image: url('/images/obojobo-logo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	box-sizing: border-box;
	display: block;
	height: 25px;
	overflow: hidden;
	text-indent: -1000px;
	width: 100px;
	margin: 0 20px;

	@include mq($from: zero, $until: mobileS) {
		margin: 0 10px;
		width: 65px;
	}

	@include mq($from: mobileS, $until: mobileL) {
		margin: 0 10px;
		width: 70px;
	}

	@include mq($from: mobileL, $until: tablet) {
		margin: 0 10px;
		width: 75px;
	}
}


.repository--nav--current-user {
	position: relative;
	font-size: 0.9em;
	height: 65px;
	text-align: right;
	padding: 25px 65px 0 0;
	box-sizing: border-box;

	&:hover {
		.repository--nav--current-user--menu {
			display: block;
		}
	}
}

.repository--nav--current-user > .avatar {
	position: absolute;
	right: 0;
	top: 5px;
	height: 55px;
	width: 55px;
	margin: 0;
}

.repository--nav--current-user--name {
	font-size: 0.9em;
}

.repository--nav--current-user--menu {
	display: none;
	position: absolute;
	right: -20px;
	top: 62px;
	background: #ffffff;
	padding: 20px;
	border-radius: 3px;
}

// if the last child is a link (login link instead of logged in user avatar)
// space it from the right side of the window
.repository--nav--links--link:last-child {
	padding-right: 20px;
}
