@import '~styles/includes';

.component.obojobo-draft--chunks--mc-assessment.editor--mc-assessment {
	background-color: $color-bg2;
	padding: 0.5em;
	margin-top: 0;
	position: relative;
	min-height: 1em;

	> div {
		background-color: $color-bg;
		border-radius: $dimension-rounded-radius;

		.obojobo-draft--components--button {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
	}

	.collapse-button {
		position: absolute;
		left: 0.5em;
		right: auto;
		top: 0.5em;
		z-index: 3;
		transform: rotate(-180deg);
		background: none;

		.button {
			font-size: 1.2em;
			padding: 0;
			min-width: 1.4em;
			border-radius: 50%;
			border: none;
			background: none;
			font-weight: bold;
			color: $color-shadow;

			&:hover {
				background: none;
				color: $color-obojobo-blue;
			}
		}
	}

	&.is-not-open {
		> div {
			background: none;
			text-align: center;
		}

		.mc-content {
			display: none;
			text-align: center;
		}

		.collapse-button {	
			top: 0.5em;
			left: 0em;
			transform: rotate(90deg);
		}
	}

	.mc-settings {
		background-color: $color-bg2;
		padding-bottom: 0.5em;
		padding-left: 2.5em;
		font-family: $font-default;
		position: relative;

		select {
			margin-left: 0.5em;
			min-width: 15em;
		}

		.obojobo-draft--components--switch {
			position: absolute;
			right: 4.3em;
			top: 0.2em;
		}
	}

	// Work around for the tangled scss in MCAssessment
	.obojobo-draft--chunks--mc-assessment--mc-choice {
		position: relative;

		&.editor-mc-choice {
			.delete-button {
				top: 0.7em;
				right: 0.7em;
			}
		}

		.obojobo-draft--chunks--mc-assessment--mc-answer {
			padding-bottom: 3em;
			padding-top: 2.5em;
			padding-left: 0;
		}

		.obojobo-draft--chunks--mc-assessment--mc-feedback {
			.delete-button {
				right: 0.8em;
				top: 1em;
			}
		}
	}

	&.is-type-survey {
		.obojobo-draft--chunks--mc-assessment--mc-choice .correct-button {
			visibility: hidden;
		}
	}
}
