@import '~styles/includes';

.component.obojobo-draft--chunks--mc-assessment.editor--mc-assessment {
	background-color: $color-bg2;
	padding: 0.5em;
	padding-bottom: 0;
	margin-top: 0;

	.obojobo-draft--chunks--mc-assessment--choice-button-container {
		.choice-button {
			background: $color-bg2;
			width: 100%;
			padding-top: 1rem;
			padding-bottom: 1rem;
			display: block;
		}
	}

	.mc-settings {
		background-color: $color-bg2;
		padding-bottom: 0.5em;
		padding-left: 2.5em;
		font-family: $font-default;
		position: relative;

		label > span {
			font-family: $font-default;
			font-weight: bold;
			font-size: 0.8em;
		}

		select {
			margin-left: 0.5em;
			min-width: 15em;
		}

		.obojobo-draft--components--switch {
			position: absolute;
			right: 4.3em;
			top: 0.2em;
		}
	}

	// Work around for the tangled scss in MCAssessment
	.obojobo-draft--chunks--abstract-assessment--choice {
		$color-border: #dfdfdf;

		position: relative;
		border-bottom: 1px solid $color-border;
		background: $color-bg;

		&:first-child {
			border-top-left-radius: $dimension-rounded-radius;
			border-top-right-radius: $dimension-rounded-radius;
		}

		&:nth-last-child(2) {
			border-bottom: none;
			border-bottom-left-radius: $dimension-rounded-radius;
			border-bottom-right-radius: $dimension-rounded-radius;
		}

		&.editor-choice {
			.delete-button {
				top: 0.7em;
				right: 0.7em;
			}
		}

		.obojobo-draft--chunks--mc-assessment--mc-answer {
			padding-bottom: 3em;
			padding-top: 1em;
			padding-left: 0;

			.text-chunk.obojobo-draft--chunks--single-text.pad {
				padding-left: 2.5em;
				padding-right: 2.5em;
			}
		}

		.obojobo-draft--chunks--abstract-assessment--feedback {
			.delete-button {
				right: 0.8em;
				top: 1em;
			}
		}
	}

	&.is-type-survey {
		.obojobo-draft--chunks--abstract-assessment--choice .correct-button {
			visibility: hidden;
		}

		.obojobo-draft--chunks--abstract-assessment--choice .children {
			padding-top: 0;
		}
	}
}
