@import '~styles/includes';

.oboeditor-component {
	position: relative;

	&.is-selected {
		z-index: $z-index-above-content;
	}

	.component-toolbar {
		position: absolute;
		height: 100%;
		top: 0;
		left: 1.1em;
		border: 2px dotted $color-shadow;
		width: 0.1em;
		user-select: none;
		background: $color-bg;
		outline: 2px solid $color-bg; //stylelint-disable unit-disallowed-list

		.top {
			top: 0;
			left: -1em;
			transform: translate(0, -50%);
		}

		.bottom {
			bottom: 0;
			left: -1em;
			transform: translate(0, 50%);
		}
	}

	.more-info {
		font-size: 0.9em;
	}

	.more-info-button {
		width: 1.7em;
		height: 1.7em;
		position: absolute;
		right: -2em;
		top: 0;
		padding: 0;
		background: $color-bg;
		border: 2px solid $color-bg;
		border-radius: 100%;
		cursor: pointer;

		> svg {
			pointer-events: none;
		}
	}
}
