@import '~styles/includes';

.variable-properties {
	font-size: 0.9em;
	background-color: $color-bg;
	padding: 0 1em;
	flex: 1;
	overflow-y: scroll;
	text-align: left;

	.test {
		z-index: 100000;
	}
	.group-item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0.8em 0;

		label {
			margin: 0;
			width: 4em;
			text-align: right;
		}

		input {
			margin: 0 0.5em;
		}

		select {
			margin-left: 0.5em;
		}
	}

	input {
		@include text-input();

		font-size: 1em;
		padding: 0.5em;
		width: 1em;
		border: solid 1px rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		flex: 1;
	}

	select {
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: border-box;

		flex: 1;
		font-size: 1em;
		appearance: list-menu;
		vertical-align: top;

		border-radius: $dimension-rounded-radius;
		background-color: $color-bg;
		padding: 0.6em 0.5em;
		appearance: none;
		border: solid 1px rgba(0, 0, 0, 0.1);

		//stylelint-disable-next-line declaration-colon-newline-after, value-list-comma-newline-after
		background-image: linear-gradient(45deg, transparent 50%, gray 50%),
			linear-gradient(135deg, gray 50%, transparent 50%);
		//stylelint-disable-next-line declaration-colon-newline-after, value-list-comma-newline-after
		background-position: calc(100% - 1.5em) 1.1em, calc(100% - 1.1em) 1.1em,
			calc(100% - 2.5em) 0.5em;
		background-size: 0.4em 0.4em, 0.4em 0.4em, 0.1em 1.5em;
		background-repeat: no-repeat;
	}

	.variable-properties--delete-button {
		button {
			color: $color-dangerous;
			background-color: $color-bg;
			border-color: $color-dangerous;
			padding: 0.7em;

			&:hover {
				color: $color-bg;
				background-color: $color-dangerous;
			}
		}
	}

	.variable-properties--duplicate-button {
		margin-bottom: 1em;

		button {
			color: $color-action;
			background-color: $color-bg;
			border-color: $color-action;
			padding: 0.5em;

			&:hover {
				color: $color-bg;
				background-color: $color-action;
			}
		}
	}
}
