@import '../../../../scss/includes';

.visual-editor--drop-down-menu {
	display: inline;

	.dropdown {
		display: inline;
		margin: 0;
		position: relative;

		> .menu-items {
			position: absolute;
			left: 0;
			display: none;
			width: 15em;
			background-color: $color-bg;
			padding: 0;
			margin: 0;
			z-index: 99;
			border: 1px solid $color-shadow;

			button {
				text-align: start;
				width: 100%;
				height: 100%;
				display: block;
				font-size: 1rem;
				position: relative;

				span {
					position: absolute;
					right: 1em;
				}
			}
		}

		// Makes the dropdown menu keyboard accessible
		&.is-open {
			> .menu-items {
				display: block;
				width: 15em;
				margin-right: 1em;
			}
		}

		// Reveals the dropdown menu the expected way for mouse users
		&:hover {
			> .menu-items {
				display: block;
				margin-right: 1em;
			}

			> .menu-title {
				background: lighten($color-action, 48%);
			}
		}

		.dropdown {
			display: inline;
			margin: 0;
			position: relative;

			> .menu-items {
				position: absolute;
				left: 15em;
				top: -2.3em;
			}
		}
	}
}
