@import '../../../../scss/includes';

.visual-editor--drop-down-menu {
	display: inline;

	.dropdown {
		display: inline;
		margin: 0;
		position: relative;

		> .menu-items {
			position: absolute;
			left: 0;
			display: none;
			width: 15em;
			background-color: $color-bg;
			padding: 0;
			margin: 0;
			z-index: 99;
			border: 1px solid $color-shadow;

			button {
				text-align: start;
				width: 100%;
				height: 100%;
				display: block;
				font-size: 1rem;
				position: relative;

				span {
					position: absolute;
					right: 1em;
					font-size: 0.8em;
					line-height: 1.5em;
				}
			}
		}

		// Makes the dropdown menu keyboard accessible
		&.is-open {
			> .menu-items {
				display: block;
				width: 15em;
				margin-right: 1em;
			}
		}

		.dropdown {
			display: block;
			margin: 0;
			position: relative;

			> .menu-items {
				position: absolute;
				left: 15em;
				top: -0.05em;
			}
		}
	}
}
