@use "sass:color";
@use '../../../../scss/includes';

.visual-editor--file-toolbar {
	z-index: includes.$z-index-above-all;
	margin: 0 auto;
	padding-right: 0.5em;
	padding-left: 0.5em;
	background-color: includes.$color-bg;
	border-bottom: 1px solid includes.$color-shadow;
	font-family: includes.$font-default;
	font-size: 0.8em;
	margin-top: 2.3em;

	button {
		font-size: 1em;
		padding: 0.5em;
		margin: 0;
		border: none;
		background: transparent;
		cursor: pointer;
		font-family: includes.$font-default;

		&:hover {
			opacity: 1;
			background: color.adjust(includes.$color-action, $lightness: 48%);
		}
	}

	.preview-button {
		position: absolute;
		right: 1.5em;
		top: 1em;
	}

	.saved-message {
		font-size: 1em;
		padding-left: 3em;
		display: inline-block;
		pointer-events: none;
		text-align: center;
		font-weight: bold;

		&.saved {
			color: includes.$color-action;
		}

		&.saving {
			color: includes.$color-text-minor;
		}
	}
}
