@use '~styles/includes';

.obojobo-draft--chunks--abstract-assessment--choice {
	position: relative;

	&:hover {
		background: none;
	}

	.correct-button {
		/* stylelint-disable-next-line value-keyword-case */
		$correct-font: 'Segoe UI Symbol', Arial, sans-serif;

		position: absolute;
		top: 1em;
		left: 2.5em;
		font-family: $correct-font;
		z-index: 1;

		@media (max-width: 61.24em) {
			left: 2.2em;
		}

		.button {
			padding: 0.2em 0.5em;
			color: includes.$color-correct;
			background-color: includes.$color-bg;
			border-color: includes.$color-correct;
			border-width: 2px;
			height: 2.35em;

			&:hover {
				color: includes.$color-bg;
				background-color: includes.$color-correct;
			}
		}
	}

	&.is-not-correct {
		.correct-button {
			color: includes.$color-incorrect;

			.button {
				color: includes.$color-incorrect;
				border-color: includes.$color-incorrect;

				&:hover {
					color: includes.$color-bg;
					background-color: includes.$color-incorrect;
				}
			}
		}
	}

	.children {
		padding-top: 2.5em;
	}

	.add-feedback {
		position: absolute;
		bottom: 0.5em;
		left: 2.5em;

		@media (max-width: 61.24em) {
			left: 2.2em;
		}
	}

	&.is-correct {
		.correct-button {
			color: includes.$color-correct;
		}
	}

	.delete-button {
		position: absolute;
		right: -2em;
		left: auto;
		top: 0.5em;
		transform: translate(50%, -50%);
		z-index: 3;

		button {
			font-size: 1.2em;
			padding: 0;
			min-width: 1.4em;
			border-radius: 50%;
			border: none;
			background: none;
			font-weight: bold;
			color: includes.$color-shadow;

			&:hover {
				background-color: transparent; //stylelint-disable-line
				color: includes.$color-obojobo-blue;
			}
		}
	}
}
