@import '~styles/includes';

.obojobo-draft--chunks--abstract-assessment--choice {
	$color-border: #dfdfdf;

	border-bottom: 1px solid $color-border;
	position: relative;

	&:hover {
		background: none;
	}

	.correct-button {
		/* stylelint-disable-next-line value-keyword-case */
		$correct-font: 'Segoe UI Symbol', Arial, sans-serif;

		position: absolute;
		top: 0.5em;
		left: 1em;
		font-family: $correct-font;

		.button {
			padding: 0.2em 0.5em;
			color: $color-correct;
			background-color: $color-bg;
			border-color: $color-correct;
			border-width: 2px;
			height: 2.35em;

			&:hover {
				color: $color-bg;
				background-color: $color-correct;
			}
		}
	}

	&.is-not-correct {
		.correct-button {
			color: $color-incorrect;

			.button {
				color: $color-incorrect;
				border-color: $color-incorrect;

				&:hover {
					color: $color-bg;
					background-color: $color-incorrect;
				}
			}
		}
	}

	.children {
		padding-top: 2em;
	}

	.add-feedback {
		position: absolute;
		bottom: 0.5em;
		right: 3em;
	}

	&.is-correct {
		.correct-button {
			color: $color-correct;
		}
	}

	.delete-button {
		position: absolute;
		right: -2em;
		left: auto;
		top: 0.5em;
		transform: translate(50%, -50%);
		z-index: 3;

		button {
			font-size: 1.2em;
			padding: 0;
			min-width: 1.4em;
			border-radius: 50%;
			border: none;
			background: none;
			font-weight: bold;
			color: $color-shadow;
		}
	}
}
