@import '~styles/includes';

.obojobo-draft--chunks--table.viewer {
	> .container {
		// This allows auto-width tables with really long strings of text to still fit within the viewer
		overflow: auto;
	}

	.view.is-display-type-auto {
		table-layout: auto;
	}

	.view {
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;

		th,
		td {
			border: 1px solid $color-shadow;
			box-sizing: border-box;
			font-size: 1em;
			height: auto;
			line-height: 1.5em;
			margin: 0;
			padding: 0.2em 0.5em;
			text-align: left;
			width: auto;
			background: $color-bg;
		}

		th {
			background: $color-bg2;
			font-family: $font-default;
			font-size: 0.9em;
			text-align: center;
		}
	}

	> .table-editor-buttons {
		text-align: center;
	}

	&.is-showing-scrollbar {
		> .container {
			padding-bottom: 1em;
		}
	}
}
