@import '../../../scss/includes';

.viewer--components--nav {
	$color-nav-bg: #fbfbfb;
	$color-nav-highlight: $color-obojobo-blue;
	$color-nav-hover: darken($color-highlight, 25%);
	$padding: 2rem;

	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: $z-index-above-content;
	font-family: $font-default;
	color: $color-text;
	background: $color-nav-bg;
	font-size: 1rem;
	width: $dimension-nav-menu;
	padding: $padding;
	padding-top: 0;
	box-sizing: border-box;
	transition: left $duration-animation-default $duration-animation-default;
	border-right: 1px solid transparentize($color-shadow, 0.1);

	@media screen and (max-width: $breakpoint-nav-small) {
		width: $dimension-nav-menu-small;
		padding: $padding * 0.4;
		padding-bottom: $padding;
		padding-top: 0;
		font-size: 0.8rem;
	}

	hr {
		border: none;
		border-bottom: 1px solid $color-bg;
		opacity: 0.2;
	}

	ul {
		background-color: $color-nav-bg;
		position: relative;
		top: 0;
		padding: 0;
		margin: 0;
		z-index: 5; // used to position between the footer logo and the toggle-button
	}

	li {
		position: relative;
		list-style-type: none;
		padding: 0 0 1rem 0;
		border-left: solid 1px $color-text-minor;
	}

	.lock-icon {
		$color-lock-bg: transparent;

		position: absolute;
		left: -1.4rem;
		top: 0.1rem;
		width: 1rem;
		height: 0.8rem;
		opacity: 0.5;
		background-image: url('./lock-icon.svg');
		background-color: $color-lock-bg;
		background-repeat: no-repeat;
		background-size: contain;

		@media screen and (max-width: $breakpoint-nav-small) {
			left: -1rem;
			height: 0.65rem;
		}
	}

	.is-assessment .lock-icon {
		left: -1.3rem;
	}

	.heading {
		$color-heading-text: lighten($color-text, 25%);

		padding-top: 2em;
		margin-bottom: 1em;
		position: sticky;
		z-index: 5;
		background: $color-nav-bg;
		top: 0;
		font-size: 1.1rem;
		font-weight: bold;
		opacity: 0.9;
		color: $color-heading-text;
		cursor: default;
		border-left: solid 1px $color-nav-bg;

		&::after {
			content: '';
			position: relative;
			display: block;
			top: 1rem;
			width: 100%;
			height: 1px; /* stylelint-disable-line unit-blacklist */
			background: lighten($color-text, 95%);
		}
	}

	.sub-link {
		position: relative;
		font-size: 0.7rem;
		border-left-color: $color-nav-highlight;

		.lock-icon {
			display: none;
		}

		&.is-last-in-list {
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: -2px; /* stylelint-disable-line unit-blacklist */
				width: 1.2em;
				height: 2em;
				background: $color-nav-bg;
			}
		}

		&::after {
			left: -3px; /* stylelint-disable-line unit-blacklist */
			width: 5px; /* stylelint-disable-line unit-blacklist */
			height: 5px; /* stylelint-disable-line unit-blacklist */
			top: 0.5em;
			background: $color-nav-highlight;
			border: none;
		}
	}

	.link {
		&.is-selected {
			color: $color-nav-highlight;
			border-left-color: $color-nav-highlight;
			font-weight: bold;

			&::after {
				background: lighten($color-nav-highlight, 10%);
				border: solid 2px $color-nav-highlight;
			}

			.lock-icon {
				display: none;
			}
		}

		&.is-first-in-list {
			margin-top: 0.75em;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: -2px; /* stylelint-disable-line unit-blacklist */
				width: 1.2em;
				height: 1em;
				background: $color-nav-bg;
			}
		}
	}

	.link,
	.sub-link {
		margin-left: 0.5rem;
		padding-left: 1rem;
		color: $color-text-minor;
		cursor: pointer;

		&.is-selected:hover {
			color: $color-nav-highlight;
			cursor: default;
		}

		&::after {
			content: '';
			position: absolute;
			display: inline-block;
			top: 0;
			left: -0.55em;
			width: 0.8em;
			height: 0.8em;
			border: solid 2px $color-text-minor;
			border-radius: 0.8em;
			background: $color-bg;
		}

		&:hover {
			color: $color-nav-hover;

			&::after {
				border-color: $color-nav-hover;
				background: lighten($color-nav-hover, 25%);
			}
		}

		&.is-last-in-list {
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: -1px; /* stylelint-disable-line unit-blacklist */
				width: 1.2em;
				height: 1.2em;
				background: $color-nav-bg;

				@media screen and (max-width: $breakpoint-nav-small) {
					width: 1em;
					height: 2em;
				}
			}
		}
	}

	.is-assessment {
		position: relative;

		&.is-last-in-list {
			border-left: $dimension-nav-menu-small;
		}

		&::before {
			display: none;
		}

		&::after {
			$c: lighten($color-text, 60%);

			left: -0.9em;
			width: 1.2em;
			height: 1.2em;
			content: 'Q';
			padding: 0.2em;
			color: $c;
			border: solid 1px lighten($color-text, 60%);
			border-radius: 4px;
			font-size: 0.6em;
			font-weight: bold;
			text-align: center;
		}

		&.is-selected {
			color: $color-nav-highlight;

			&::after {
				color: $color-bg;
				background: lighten($color-nav-highlight, 10%);
				border: solid 1px $color-nav-highlight;
			}
		}

		&:hover::after {
			color: $color-bg;
		}
	}

	.toggle-button {
		$color-toggle-bg: transparent;

		background-image: url('./arrow.svg');
		background-color: $color-toggle-bg;
		background-position: center center;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		height: 1.5rem;
		left: 0.5rem;
		overflow: hidden;
		position: fixed;
		text-indent: -9999px;
		top: 0.5rem;
		transition: background-color $duration-animation-default;
		width: 1.5rem;
		z-index: 6;
		transform: none;

		&:focus {
			outline: none;
		}
	}

	.viewer--components--logo {
		position: fixed;
		left: $padding;
		bottom: $padding * 0.4;
		font-size: 0.7rem;
		opacity: 0.5;
		transition: opacity $duration-animation-default $duration-animation-default;

		@media screen and (max-width: $breakpoint-nav-small) {
			left: $padding * 0.4;
		}
	}

	&.is-not-open .toggle-button {
		transform: rotate(180deg);

		&:not(:hover) {
			background-image: url('./hamburger.svg');
		}
	}

	&.is-locked {
		li.link {
			opacity: 0.25;
			pointer-events: none;

			&.is-selected {
				opacity: 1;

				a {
					text-decoration: none;
				}
			}
		}
	}

	&.is-not-open {
		left: -$dimension-nav-menu;
	}

	&.is-not-enabled {
		display: none;
	}

	&.is-not-open .viewer--components--logo {
		opacity: 0;
	}
}

.is-previewing .viewer--components--nav {
	bottom: 3em;
}
