@import '../../../scss/includes';

.viewer--viewer-app {
	$header-padding: 1rem;

	height: 100%;
	transition: padding-left $duration-animation-default $duration-animation-default,
		padding-top $duration-animation-default;
	overflow: auto;
	padding-top: 2.5rem;
	box-sizing: border-box;
	background: $color-bg;

	&.is-open-nav.is-enabled-nav {
		padding-left: $dimension-nav-menu;
		padding-top: 0;
		// transition: padding-left $duration-animation-default , padding-top $duration-animation-default $duration-animation-default;

		> header {
			top: -2.5rem;
			// width: $dimension-nav-menu;
			// border-right: 1px solid transparentize($color-shadow, 0.2);
			// background: transparent;
			border-bottom: 1px solid $color-transparent;

			.viewer--components--logo,
			.location {
				opacity: 0;
				transition-delay: 0s;
				transition: $duration-animation-default/2 opacity;
			}
		}
	}

	> header {
		background: $color-bg;
		position: absolute;
		left: 0;
		width: 100%;
		top: 0;
		height: 2.5rem;
		z-index: $z-index-above-content;
		border-bottom: 1px solid transparentize($color-shadow, 0.2);
		font-size: 0.7rem;
		font-family: Libre Franklin;
		color: $color-text;
		padding: 0.8rem $header-padding;
		padding-left: 4rem;
		box-sizing: border-box;
		transition: top $duration-animation-default;
		opacity: 0.95;

		> div {
			position: relative;
		}

		.module-title {
			text-transform: uppercase;
			display: inline-block;
			cursor: default;
		}

		.location {
			margin-left: 1rem;
			font-weight: bold;
			transition: opacity $duration-animation-default;
			transition-delay: $duration-animation-default * 2;
			cursor: default;
		}

		.viewer--components--logo {
			color: $color-text-minor;
			position: fixed;
			right: $header-padding;
			top: 0.8rem;
			transition: opacity $duration-animation-default;
			transition-delay: $duration-animation-default * 3;
			opacity: 0.2;
			cursor: default;
		}
	}

	> .preview-banner {
		font-family: $font-default;
		background: $color-preview;
		box-sizing: border-box;
		color: white;
		font-size: 0.7em;
		font-weight: bold;
		line-height: 0;
		height: 3rem;
		left: 0;
		padding: 0.5em 1em;
		padding-top: 1.5rem;
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: $z-index-preview;

		> .controls {
			position: absolute;
			right: 1em;
			top: 50%;
			transform: translate(0, -50%) translate(0, 0.5px);

			button {
				@include appearance(none);
				@include user-select(none);

				margin-left: 1em;
				font-family: $font-default;
				font-size: 0.75em;
				line-height: 1em;
				cursor: pointer;
				font-family: $font-default;
				font-size: 1em;
				// opacity: 0.8;
				position: relative;
				text-align: center;
				min-width: 3.25em;
				// margin-bottom: 1em;
				// margin-top: 1em;
				border-radius: 0.2em;
				padding: 0.4em;
				background-color: white;
				color: $color-preview;
			}
		}

		> .border {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			border: 3px solid $color-preview;
			pointer-events: none;
		}
	}

	&.is-previewing {
		// margin-top: 2rem;

		// > header
		// {
		// 	top: 2rem;
		// }

		// .viewer--components--nav
		// {
		// 	top: 2rem;

		// 	> .toggle-button
		// 	{
		// 		top: 2.5rem;
		// 	}
		// }
		height: calc(100% - 3rem);
	}
}

.debug-edit-json {
	// position: fixed;
	// left: 330px;
	// top: 0;
	// bottom: 0;
	// right: 0;
	// overflow-x: scroll;
}
