@import '~styles/includes';
@import '~styles/revealable-container';
@import '~styles/chunk-caption';

.obojobo-draft--chunks--materia {
	position: relative;
	user-select: none;

	.widget-icon img{
		height: 92px;
	}

	.obojobo-draft--revealable-container::after {
		content: ' ';
		position: absolute;
		background: url('./materia-logo.svg') no-repeat bottom right;
		background-size: contain;
		width: 4em;
		bottom: 8px;
		right: 8px;
	}
}
