.attempt-review-container {
	position: relative;

	> .attempt-button-container {
		width: 100%;
		text-align: center;

		&.is-showing-one-item {
			visibility: hidden;
		}
	}

	> .attempt-results {
		text-align: left;
		margin: 0 auto;
		border: 1px solid $color-action;
		padding: 3em;
		padding-top: 2em;
		padding-bottom: 0;
		margin-top: -1.1em;
		background: $color-bg;
		border-radius: $dimension-rounded-radius;
		font-size: 1em;

		> .attempt-header {
			display: flex;
			justify-content: space-between;
			align-items: start;
			font-family: $font-default;

			> .attempt-info-container {
				display: flex;
				align-items: center;
				justify-content: center;

				svg {
					width: 5em;
					height: 5em;
					margin-right: 1em;
				}

				ul {
					margin: 0;
					padding: 0;
					list-style-type: none;
					font-size: 0.8em;
					line-height: 1.5em;
				}

				li {
					position: relative;
					line-height: 1.5em;
				}

				h4 {
					vertical-align: middle;

					> strong {
						vertical-align: middle;
					}
				}

				.highest-attempt {
					background: $color-reward;
					display: inline-block;
					margin-left: 1em;
					font-size: 0.7em;
					border-radius: 2em;
					line-height: 2em;
					color: $color-reward-text;
					font-weight: bold;
					padding: 0 1em;
					vertical-align: middle;
				}

				.obojobo-draft--components--more-info-button {
					margin-left: 0.5em;

					.obojobo-draft--sections--assessment--components--score-report {
						font-size: 1.25em;
						margin: 0 auto;
						padding: 1em;
						box-sizing: border-box;
					}

					//@HACK: Fixes the .info dialog being blurry sometimes in CHROME
					transform: translate3d(0, 0, 0);
					z-index: 1;
				}
			}

			// > .score-section {
			// 	width: 50%;

			// 	.value {
			// 		font-size: 1.5em;
			// 		margin-bottom: 0.3em;
			// 		display: inline-block;
			// 	}
			// }
		}

		.review.is-basic-review {
			margin-top: 2em;

			.result-container {
				margin-left: 3em;
				margin-top: 1em;
				margin-bottom: 0.4em;
			}

			.flipper {
				//background: #fff;
				margin: 0 auto;
			}

			.is-correct > p,
			.is-not-correct > p {
				margin-top: 0;
				margin-bottom: 0;
				font-family: $font-default;
				font-weight: bold;
			}

			.obojobo-draft--chunks--question {
				font-size: 0.875em;
			}

			.is-not-correct .obojobo-draft--chunks--question .flipper {
				position: relative;
				border: 1px solid $color-incorrect;
				background: transparentize($color-incorrect, 0.9);

				.responses-hidden {
					color: $color-incorrect;
				}
			}

			.is-correct .obojobo-draft--chunks--question .flipper {
				position: relative;
				border: 1px solid $color-correct;
				background: transparentize($color-correct, 0.9);

				.responses-hidden {
					color: $color-correct;
				}
			}
		}
	}
}
