@import '~styles/includes';

.obojobo-draft--chunks--math-equation
{
	.katex-display
	{
		margin: 0;
	}

	&.align-left .katex-display
	{
		text-align: left;
	}

	&.align-right .katex-display
	{
		text-align: right;
	}

	&.align-center .katex-display
	{
		text-align: center;
	}
}
