@import '~styles/includes';

.obojobo-draft--chunks--math-equation {
	.katex-display {
		margin: 0;
	}

	&.align-left .katex-display {
		text-align: left;
	}

	&.align-right .katex-display {
		text-align: right;
	}

	&.align-center .katex-display {
		text-align: center;
	}

	&.size-small {
		font-size: 0.7em; 
	}

	&.size-large {
		font-size: 1.5em;
	}

	.equation-label {
		position: absolute;
		top: 50%;
		right: 3em;
		transform: translate(0, -50%);
	}
}
