@import '~styles/includes';

$selected-gray: #ebebeb;
$lighter-blue: lighten($color-obojobo-blue, 60%);

.obojobo-draft--chunks--excerpt--edge-controls {
	z-index: 1;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1em;
	border: 2px dotted transparentize(lighten($color-obojobo-blue, 40%), 0.5);
	transform: translate(-50%, -50%);
	left: 50%;
	width: 100%;

	label {
		position: relative;
		width: 1em;
		height: 1em;
		display: inline-block;
		border: 2px solid lighten($color-obojobo-blue, 40%);
		background-color: $color-bg;

		&::after {
			content: ' ';
			position: absolute;
			left: 0;
			top: 0;
			width: 1em;
			height: 1em;
			pointer-events: none;
			background-size: 100% 100%;
			opacity: 0.2;
		}

		&:nth-child(2) {
			transform: translate(-2px);
		}

		&:nth-child(3) {
			transform: translate(-4px);
		}

		&.is-selected {
			background-color: $lighter-blue;
			border: 2px solid $color-obojobo-blue;
			z-index: 1;

			&::after {
				opacity: 0.5;
				filter: grayscale(0%);
			}
		}

		&.is-not-selected {
			cursor: pointer;
		}

		&:hover.is-not-selected {
			background-color: $lighter-blue;

			&::after {
				opacity: 0.5;
				filter: grayscale(0%);
			}
		}

		&.is-edge-normal::after {
			width: 100%;
			height: 50%;
			border-bottom: 0.5em solid #1451a4;
		}

		&.is-edge-fade::after {
			background-image: url('./images/icon-fade-edge.png');
		}

		&.is-edge-jagged::after {
			background-image: url('./images/icon-jagged-edge.png');
		}
	}

	span {
		width: 0;
		overflow: hidden;
		display: inline-block;
		height: 0;
	}

	.wrapper {
		background: red;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	&:hover {
		opacity: 1;
	}

	&.is-position-top {
		top: 0;
	}

	&.is-position-bottom {
		bottom: 0;
		transform: translate(-50%, 50%);

		label::after {
			transform: rotate(180deg);
		}
	}

	.edges {
		height: 1em;
		transform: translate(0, -2px);
	}

	input {
		opacity: 0;
		position: fixed;
		width: 0;
	}
}

.radio-icons {
	$size: 1.2em;

	font-size: 2em;
	display: block;
	text-align: center;
	margin-bottom: 0.5em;

	span {
		width: 0;
		overflow: hidden;
		display: inline-block;
		height: 0;
	}

	img {
		vertical-align: top;
	}

	.options {
		height: $size;
	}

	.options > label > input {
		opacity: 0;
		position: fixed;
		width: 0;
	}

	.options > label {
		position: relative;
		width: $size;
		height: $size;
		border-left: 1px solid $color-shadow;
		display: inline-block;
		border: 1px solid $color-shadow;
		background-color: $color-bg;

		img {
			width: $size;
			height: $size;
			pointer-events: none;
			background-size: 100% 100%;
			opacity: 0.4;
			filter: grayscale(100%);
		}

		&:first-child {
			border-top-left-radius: 0.25rem;
			border-bottom-left-radius: 0.25rem;
		}

		&:last-child {
			border-top-right-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;
		}

		&.is-not-selected {
			cursor: pointer;
		}

		&.is-selected {
			background-color: $lighter-blue;
			border: 1px solid $color-obojobo-blue;
			z-index: 1;

			img {
				opacity: 1;
				filter: grayscale(0%);
			}
		}

		&:hover.is-not-selected {
			border: 1px solid lighten($color-obojobo-blue, 40%);
			background-color: $lighter-blue;

			img {
				opacity: 0.5;
				filter: grayscale(0%);
			}
		}
	}
}

.obojobo-draft--chunks--excerpt {
	.attributes-list {
		margin: 1em;
	}

	.preset-list {
		list-style-type: none;
		text-align: left;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		height: 18em;
		overflow-y: scroll;
		border-radius: $dimension-rounded-radius;
		border-top: 1px solid $color-shadow-light;

		li {
			padding: 0.25em 0;

			&.is-selected {
				background-color: $selected-gray;
			}

			&:hover {
				background: $lighter-blue;
			}
		}

		button {
			border: none;
			background: transparent;
			font-size: 1em;
			font-family: $font-default;
			text-align: center;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}

		.icon {
			width: 4em;
			height: 3em;
			border-radius: $dimension-rounded-radius;
			display: block;
			margin: 0 auto;
			background-image: url('./images/icons-presets.png');
			background-position: 0 0;

			/*
			allowing pixels here because we're using this as a sprite sheet
			ideally we could use CSS or SVGs here instead of a png
			*/
			/* stylelint-disable-next-line unit-disallowed-list */
			background-size: 927px 39px;
			background-repeat: no-repeat;

			@function pos-x($i) {
				/* stylelint-disable-next-line unit-disallowed-list */
				@return $i * -51.5px;
			}

			&.icon-minimal {
				background-position-x: pos-x(0);
			}

			&.icon-simple-filled {
				background-position-x: pos-x(1);
			}

			&.icon-simple-bordered {
				background-position-x: pos-x(2);
			}

			&.icon-card {
				background-position-x: pos-x(3);
			}

			&.icon-fiction {
				background-position-x: pos-x(4);
			}

			&.icon-non-fiction {
				background-position-x: pos-x(5);
			}

			&.icon-historical {
				background-position-x: pos-x(6);
			}

			&.icon-very-historical {
				background-position-x: pos-x(7);
			}

			&.icon-white-paper {
				background-position-x: pos-x(8);
			}

			&.icon-instruction-manual {
				background-position-x: pos-x(9);
			}

			&.icon-typewritten {
				background-position-x: pos-x(10);
			}

			&.icon-receipt {
				background-position-x: pos-x(11);
			}

			&.icon-computer-modern {
				background-position-x: pos-x(12);
			}

			&.icon-computer-hacker-green {
				background-position-x: pos-x(13);
			}

			&.icon-modern-text-file {
				background-position-x: pos-x(14);
			}

			&.icon-retro-text-file {
				background-position-x: pos-x(15);
			}

			&.icon-computer-hacker-orange {
				background-position-x: pos-x(16);
			}

			&.icon-excerpt {
				background-position-x: pos-x(17);
			}
		}

		span {
			display: inline-block;
			font-size: 0.8em;
		}
	}

	.attributes-box {
		position: absolute;
		border-radius: $dimension-rounded-radius;
		font-size: 0.75rem;
		font-family: $font-default;
		box-sizing: border-box;
		min-height: 2.5em;
		background-color: $color-bg2;
		box-shadow: $box-shadow-overlay;
		left: 50%;
		width: 24em;
		top: calc(100% + 3em);
		transform: translateX(-50%);

		&.attributes-box-extra-width {
			width: 32em;
		}

		&.is-open {
			bottom: -26.5em;
			width: 23em;
		}

		.box-border {
			background-color: $color-bg2;
			padding: 1em;
		}

		> .obojobo-draft--components--button {
			margin-bottom: 1em;
			margin-left: auto;
			margin-right: auto;
			width: 100%;

			button {
				padding: 0.5em 1em;
			}
		}

		&::before {
			content: ' ';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 1.25em;
			height: 1.25em;
			border-radius: 0.25em 0;
			z-index: -1;
			background-color: $color-bg2;
		}

		.attributes-list {
			background-color: $color-bg;
			border-radius: $dimension-rounded-radius;

			> div {
				margin-bottom: 0.5em;
			}

			.attribute {
				display: inline-block;
				padding: 0.5em;
			}

			.attribute-label {
				font-weight: bold;
				display: block;
				width: 100%;
				text-align: center;
			}

			.effect-settings {
				&.is-not-enabled {
					opacity: 0.5;
				}

				cursor: pointer;
				text-align: left;
				width: 100%;
				display: flex;
				align-items: center;
				margin-bottom: 1em;
				margin-top: 2em;

				span {
					font-weight: bold;
					display: inline-block;
					line-height: 1em;
					transform: translate(0, 1px);
				}

				input {
					margin: 0;
					margin-right: 0.5em;
				}
			}
		}
	}

	.obojobo-draft--chunks--excerpt--edge-controls {
		opacity: 0;

		.edges {
			opacity: 0;
		}
	}

	&.is-selected {
		.obojobo-draft--chunks--excerpt--edge-controls {
			opacity: 1;

			&:hover {
				.edges {
					opacity: 1;
				}
			}
		}
	}

	.more-options {
		padding: 1em;
		padding-top: 0;
		display: flex;
		flex-direction: row;

		.more-options-group {
			display: flex;
			flex-direction: column;
			width: 50%;

			> :last-child {
				margin: auto 0 1em;
			}
		}
	}

	select {
		@include select-input();

		font-size: 0.9em;
		margin-bottom: 0.5em;
		width: 100%;
	}
}
