@import '../../../../scss/includes';

.editor--components--editor-page
{
	position: relative;

	&::before
	{
		background: $color-bg;
		border: 1px solid $color-transparent;
		border-radius: 0.3rem;
		bottom: 0;
		content: ' ';
		display: block;
		left: 50%;
		position: absolute;
		top: 0;
		transform: translate(-50%, 0);
		width: $dimension-editor;
	}

	.chunks:focus
	{
		outline: none;
	}

	// .component::after
	// {
	// 	background: yellow;
	// 	content: attr(data-oboid);
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	display: inline-block;
	// }

	// &::after
	// {
	// 	background: red;
	// 	content: attr(data-cid);
	// 	position: absolute;
	// 	bottom: 0;
	// 	right: 0;
	// 	display: inline-block;
	// }

	.component
	{
		color: lighten($color-text, 35%);

		&.selection-contains,
		&.selection-inside,
		&.selection-start,
		&.selection-end
		{
			color: $color-text;
			z-index: 2;
		}


		max-width: $dimension-editor;
	}

	&.editing
	{
		.component.not-editing-chunk
		{
			opacity: 0.2;
		}
	}

	> .obojobo-draft--components--delete-button
	{
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate($dimension-editor / 2) translate(-50%, -50%);

		button
		{
			border: 1px solid $color-action-minor;
		}

		&:hover button
		{
			border: 1px solid $color-action;
		}
	}
}
