@import '../../../../scss/includes';

.editor--components--editor-app
{
	$page-spacing: 2.5rem;

	background: $color-bg2;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	.anchor
	{
		color: $color-transparent;
		cursor: default;
		height: 0;
		left: 0;
		outline: none;
		position: absolute;
		top: 0;
	}

	.anchor-container
	{
		position: relative;

		.anchor
		{
			bottom: 0;
			height: auto;
			left: 0;
			right: 0;
			top: 0;
		}
	}

	.focusable-chunk
	{
		.anchor
		{
			cursor: pointer;
		}

		&:hover.highlight-on-hover,
		&:hover .highlight-on-hover
		{
			outline: 0.15rem solid transparentize($color-action, 0.6);
		}
	}

	.component.selection-contains .outline-on-selection,
	.component.selection-inside .outline-on-selection,
	.component.selection-start .outline-on-selection,
	.component.selection-end .outline-on-selection
	{
		outline: 0.15rem solid $color-action;
	}

	.controls
	{
		left: 50%;
		position: absolute;
		top: 0;
		transform: translate(-$dimension-editor / 2);
		width: $dimension-editor;
		z-index: 100;
	}

	main
	{
		bottom: 0;
		left: 0;
		overflow: scroll;
		position: absolute;
		right: 0;
		top: $dimension-toolbar-height;
		transition: background $duration-animation-default ease;
		width: 100%;

		// .guidelines
		// {
		// 	background: $color-bg;
		// 	border-radius: 0.3rem;
		// 	bottom: 2rem;
		// 	left: 50%;
		// 	pointer-events: none;
		// 	position: absolute;
		// 	right: 0;
		// 	top: 4.7rem;
		// 	transform: translate(-50%);
		// 	width: $dimension-editor;
		// }

		.wrapper
		{
			box-sizing: border-box;
			margin-top: $page-spacing;
			margin-bottom: 5rem;
			position: relative;
		}

		.page-container
		{
			text-align: center;
			position: relative;
			padding-top: $page-spacing;
			padding-bottom: $page-spacing;

			.editor--components--editor-page
			{
				text-align: left;
				// margin-top: $page-spacing;
				// margin-bottom: $page-spacing;

				> .obojobo-draft--components--delete-button
				{
					display: none;
				}
			}



			&.active
			{


				.add-page-btn
				{
					display: block;
				}

				.editor--components--editor-page
				{
					margin-bottom: 0;

					&::before
					{
						border: 1px solid $color-action-minor;
					}

					> .obojobo-draft--components--delete-button
					{
						display: block;
					}
				}
			}

			.add-page-btn
			{
				position: absolute;
				display: none;
				background: $color-bg;
				text-transform: uppercase;
				font-size: 0.7rem;
				font: $font-default;
				border: none;
				font-weight: bold;
				color: transparentize($color-text, 0.7);
				margin: 0 auto;
				border-radius: 0.2rem;
				padding: 0.5rem;
				cursor: pointer;
				transition: color $duration-animation-default, background $duration-animation-default;
				left: 50%;
				z-index: 1;

				&.top
				{
					// top: -$page-spacing / 2;
					top: 0;
					transform: translate(-$dimension-editor / 2, -50%);
				}

				&.bottom
				{
					// bottom: -$page-spacing / 2;
					bottom: 0;
					transform: translate(-$dimension-editor / 2, 50%);
				}


				&:hover
				{
					background: $color-action-minor;
					color: transparentize($color-text, 0.3);
				}


			}
		}

		.append-menu
		{
			// height: 4rem;
			margin-left: 50%;
			position: relative;
			transform: translate(-50%);
			width: $dimension-editor;


			.editor--components--side-menu--side-menu-list
			{
				background: none;
				opacity: 0.5;
				padding-top: 0.3rem;
				text-align: center;
				top: 0;
				transition: opacity $duration-animation-default ease;
				width: $dimension-editor;

				&:hover
				{
					opacity: 1;
				}

				.side-menu-button
				{
					&:hover
					{
						background: $color-action-minor;

						&::after
						{
							background: $color-action-minor;
						}

						.label
						{
							background: $color-action-minor;
						}
					}
				}
			}
		}


	}

	.editing-blocker
	{
		background: transparentize($color-bg, 0.5);
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1000;
	}
}
