@import '../../../../scss/includes';

.editor--components--side-menu
{
	$button-size: 2.2rem;

	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	&.gu-transit
	{
		display: none;
	}

	&.dragging
	{
		.editor--components--side-menu--side-menu-list,
		.editor--components--side-menu--side-menu-handle
		{
			opacity: 0;
		}
	}

	.clone-container
	{
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 1rem;
		z-index: 1;

		.dragged-container
		{
			background: $color-bg;
			margin: 0 auto;
			outline: 0.15rem solid $color-action;
		}
	}

	.editor--components--side-menu--side-menu-list
	{
		transform: translate(-$button-size / 2);
	}
}

.editor--components--editor-page
{
	.editor--components--side-menu--dragged
	{
		background: lighten($color-action, 45%);

		> *
		{
			opacity: 0.2;
		}
	}
}
