@import '~styles/includes';

.obojobo-draft--chunks--iframe {
	&.is-not-showing {
		> .container {
			max-height: none;
		}
	}

	.container {
		position: relative;

		.blocker {
			.form {
				padding: 0.5em;
				text-align: left;

				label {
					padding-right: 0.2em;
				}

				.controls {
					padding-left: 1em;

					.obojobo-draft--components--slider {
						display: inline;
						padding-right: 4em;
					}
				}
			}
		}

		.obojobo-draft--components--button {
			position: absolute;
			top: 0.5em;
			right: 0.5em;
			z-index: 3;
			button {
				border: 1px solid $color-bg;
			}
		}
	}
}
