@import '~styles/includes';

.obojobo-draft--chunks--iframe {
	position: relative;

	.obojobo-draft--components--button {
		display: block;
	}

	.iframe-toolbar {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translate(0, -50%);
		z-index: 3;

		.obojobo-draft--components--button {
			margin-top: 0.2em;
			margin-bottom: 0.2em;

			button {
				border: 1px solid $color-bg;
			}
		}
	}
}
