.score {
	> .results-bar {
		font-family: $font-default;
		text-align: center;
		background-color: $color-bg2;
		border-radius: $dimension-rounded-radius;
		padding: 2em 3em;
		padding-bottom: 1em;

		> h1 {
			width: 100%;
			display: inline-block;
			font-weight: normal;
			font-size: 1.35em;
			border-bottom: 1px solid $color-shadow;
			padding: 1em 0;
			padding-top: 0;
			box-sizing: border-box;
		}
	}

	.assessment-flex-container {
		display: flex;
		justify-content: space-around;
		margin-top: 1em;
		margin-bottom: 1em;

		.score-report {
			width: 70%;
		}
	}

	.number-correct {
		font-family: $font-default;
		margin-top: 0;
		margin-bottom: 1.5em;
	}
}
