.score {
	> .results-bar {
		font-family: $font-default;
		text-align: center;
		background-color: $color-bg2;
		border-radius: $dimension-rounded-radius;
		padding: 2em 3em;
		padding-bottom: 1em;

		> h1 {
			width: 100%;
			display: inline-block;
			font-weight: normal;
			font-size: 1.35em;
			border-bottom: 1px solid transparentize($color-shadow, 0.2);
			padding: 1em 0;
			padding-top: 0;
			box-sizing: border-box;
		}
	}

	.assessment-flex-container {
		display: flex;
		justify-content: space-around;
		margin-top: 1em;
		margin-bottom: 1em;

		> div {
			margin-top: 0.8em;
		}

		.score-report {
			width: 55%;
			margin-top: 0;
		}

		h2 {
			color: $color-text-minor;
			font-weight: bold;
			font-size: 0.8em;
			margin-bottom: 1em;
		}

		.value {
			font-size: 1.5em;
		}

		.highest-score {
			h2 {
				color: $color-text;
				font-size: 1em;
				margin-bottom: 0.8em;
			}

			.value {
				font-size: 1.75em;
				display: block;
				margin-bottom: 0.4em;
			}
		}
	}

	.number-correct {
		font-family: $font-default;
		margin-top: 0;
		margin-bottom: 1.5em;
	}
}
