@import '~styles/includes';

.obojobo-draft--chunks--html {
	&.align-left {
		text-align: left;
	}

	&.align-center {
		text-align: center;
	}

	&.align-right {
		text-align: right;
	}

	&.html-editor {
		background: $color-bg2;
		border: 1px solid black;
	}
}
