@import '~styles/includes';

.rubric {
	$color-rubric: transparentize($color-preview, 0.95);

	font-family: $font-default;
	background: $color-rubric;
	padding: 1.5em;
	border-radius: $dimension-rounded-radius;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8em;

	.obojobo-draft--components--more-info-button {
		button {
			border: 2px solid $color-action-minor;
		}
	}

	.container {
		font-family: $font-default;
		font-size: 0.9rem;
		width: 25rem;

		> .wrapper {
			padding: 1rem;
			margin: 1rem;
			background: $color-bg;
			border-radius: $dimension-rounded-radius;

			> .about {
				font-weight: bold;
				font-size: 1rem;
			}

			> ul {
				padding-left: 0;
				margin-bottom: 0;

				> li,
				> div li {
					display: inline-block;
					margin-top: 0.5em;
					list-style-type: none;
					line-height: 1.5em;

					> b,
					> div b {
						margin-right: 0.5em;
					}

					> span,
					> div span {
						font-family: $font-monospace;
						background: lighten($color-highlight, 18%);
						padding: 0.2em 0.4em;
						margin-left: 0.2em;
						margin-right: 0.2em;
						border-radius: $dimension-rounded-radius / 2;
					}
				}
			}
		}
	}
}
