@import '~styles/includes';

.rubric {
	$color-rubric: transparentize($color-preview, 0.95);

	font-family: $font-default;
	background: $color-rubric;
	padding: 1.5em;
	border-radius: $dimension-rounded-radius;
	display: flex;
	align-items: center;
	justify-content: center;
}
