@import '~styles/includes';

.obojobo-draft--sections--assessment--mod-properties {
	font-size: 0.85em;
	// @HACK: Enforce pixel perfect children.
	// Used to make the "Click to load this content" element non-blurry in CHROME
	transform-style: preserve-3d;

	.info {
		text-align: start;
	}

	h2 {
		font-size: 1em;
		margin-bottom: 0.5em;
	}

	.mod-box {
		background: $color-bg2;
		border-radius: $dimension-rounded-radius;
		border: 1px solid $color-shadow;
		padding: 0.5em;
		overflow-y: auto;

		.mod {
			background: $color-bg;
			border-radius: $dimension-rounded-radius;
			margin: 0.5em;
			padding: 0.5em;
			text-align: start;
			border: 1px solid $color-shadow;
			position: relative;

			label {
				text-align: center;
			}

			input {
				@include text-input();
			}

			.delete-button {
				position: absolute;
				top: 0;
				right: 0;

				button {
					padding: 0;
					padding-right: 0.3em;
					font-weight: bold;
					font-size: 1.3em;
					min-width: 0;
					background: none;
					color: $color-shadow;
					border: none;
				}
			}

			.slider-container {
				padding-left: 0.7em;
				padding-right: 0.7em;
			}

			.slider-inputs {
				position: relative;
				height: 2em;
				text-align: center;

				input {
					top: 0;
				}

				.min-input {
					width: 9em;
					text-align: right;
					margin-right: 0.5em;
				}

				.max-input {
					width: 9em;
					margin-left: 0.5em;
				}
			}

			.add {
				margin-top: 1em;

				input {
					width: 3.5em;
					margin-left: 0.5em;
				}
			}
		}
	}
}
