@import '~styles/includes';

.obojobo-draft--chunks--mc-interaction--mc-feedback
{
	font-size: 0.8em;
	padding-left: $dimension-padding * 0.2333333333;
	padding-right: $dimension-padding * 0.2333333333;
}