/* stylelint-disable  unit-blacklist */
@import '../../../../../../../scss/includes';

.editor--components--toolbar {
	background: 'red';

	.grid-button {
		display: inline-block;
		position: relative;
		vertical-align: top;

		.table-container {
			position: absolute;
			top: 40px;
			width: 133px;
			z-index: 9999;
		}

		table {
			background: white;
			border: 1px solid rgba(0, 0, 0, 0.2);
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
			left: 0;
			margin: 0;
			margin-bottom: 0.25em;
			padding: 0;
			width: 100%;

			td {
				border: 1px solid rgba(0, 0, 0, 0.2);
				cursor: pointer;
				display: inline-block;
				height: 15px;
				margin: 1px;
				width: 15px;

				&.selected {
					background: #cae4ff;
				}
			}
		}

		.tooltip {
			background: black;
			border-radius: 10px;
			box-sizing: border-box;
			// stylelint-disable-next-line sh-waqar/declaration-use-variable
			color: white;
			// stylelint-disable-next-line sh-waqar/declaration-use-variable, font-family-no-missing-generic-family-keyword
			font-family: 'Source Sans Pro';
			font-size: 9pt;
			font-weight: bold;
			height: 20px;
			line-height: 0;
			padding: 10px;
			text-align: center;
			width: 100%;
			z-index: 10000;
		}
	}
}
/* stylelint-enable */
