@import '../../../../../scss/includes';

.obojobo-draft--components--modal--bubble {
	$tip-size: 1em;

	background: $color-bg;
	border: 1px solid $color-shadow;
	border-radius: 0.3em;
	bottom: 0;
	box-shadow: $box-shadow-overlay;
	box-sizing: border-box;
	display: inline-block;
	left: 50%;
	margin-top: 0.75em;
	padding: 0.5rem 2em;
	position: absolute;
	transform: translate(-50%, 120%);
	z-index: 10;

	&::before {
		background: $color-bg;
		border-left: 1px solid $color-shadow;
		border-top: 1px solid $color-shadow;
		content: ' ';
		height: $tip-size;
		left: 50%;
		position: absolute;
		top: 0;
		transform: translate(-50%, -50%) rotate(45deg);
		width: $tip-size;
	}

	.container {
		position: relative;
	}
}
