@import '~styles/includes';

.obojobo-draft--chunks--heading {
	.placeholder {
		&::before {
			min-width: 12em;
		}
	}

	.dropdown-heading {
		position: absolute;
		left: 3em;
		top: -0.9em;
		z-index: 9;
		cursor: pointer;
		user-select: none;

		> button {
			display: block;
			border-radius: $dimension-rounded-radius;
			background-color: $color-bg;
			font-size: 1em;
			border: 2px solid $color-obojobo-blue;
			padding-right: 2em;
			position: relative;

			span {
				font-weight: bold;
				position: absolute;
				right: 0.5em;
				color: $color-text-minor;
				top: 0;
				transform: rotate(-180deg);

				&.is-open {
					transform: none;
					top: 0.2em;
				}
			}
		}

		> div {
			&.is-not-open {
				display: none;
			}

			&.is-open {
				display: block;
			}
		}

		&:hover {
			> div.is-not-open {
				display: block;
			}

			> button {
				span.is-not-open {
					transform: none;
					top: 0.2em;
				}
			}
		}

		.drop-content-heading {
			position: relative;
			top: -0.15em;
			background-color: $color-bg;
			border-radius: 0 $dimension-rounded-radius $dimension-rounded-radius $dimension-rounded-radius;
			min-width: 20em;
			border: 2px solid $color-obojobo-blue;
			box-shadow: $box-shadow-overlay;

			button {
				display: block;
				background-color: $color-bg;
				border: none;
				font-size: 1em;
				width: 100%;
				text-align: left;
				padding: 0.3em;

				&:hover {
					background: lighten($color-action, 48%);
				}
			}
		}
	}
}
