@import '~styles/includes';

.obojobo-draft--chunks--heading {
	h1 {
		display: inline-block;
	}
	h2 {
		display: inline-block;
	}
	h3 {
		display: inline-block;
	}
	h4 {
		display: inline-block;
	}
	h5 {
		display: inline-block;
	}
	h6 {
		display: inline-block;
	}
	.dropdown-heading {
		position: absolute;
		right: 0;
		top: 1em;

		button {
			display: block;
			border-radius: $dimension-rounded-radius;
			background-color: $color-bg;
			border: solid 1px $color-shadow;
			margin: 0.3em;
			font-size: 1em;
		}

		.is-open {
			display: block;
		}

		.is-not-open {
			display: none;
		}

		.drop-content-heading {
			background-color: $color-bg;
			border-radius: $dimension-rounded-radius;
			position: absolute;
			right: 1em;
			z-index: 1;
			min-width: 20em;
			top: auto;

			button {
				display: block;
				background-color: $color-bg;
				border-radius: $dimension-rounded-radius;
				margin: 0.3em;
				font-size: 1em;
				width: 100%;
			}
		}
	}
}
