@import '~styles/includes';

.obojobo-draft--chunks--heading {
	.placeholder {
		&:before{
			min-width: 12em;
		}
	}

	.dropdown-heading {
		position: absolute;
		left: 3em;
		top: -0.9em;
		z-index: 9;

		> button {
			display: block;
			border-radius: $dimension-rounded-radius;
			background-color: $color-bg;
			border: none;
			font-size: 1em;
			border: 2px solid $color-obojobo-blue;
		}

		.is-open {
			display: block;
		}

		.is-not-open {
			display: none;
		}

		.drop-content-heading {
			position: relative;
			top: -0.15em;
			background-color: $color-bg;
			border-radius: 0 $dimension-rounded-radius $dimension-rounded-radius $dimension-rounded-radius;
			min-width: 20em;
			border: 2px solid $color-obojobo-blue;
			box-shadow: $box-shadow-overlay;

			button {
				display: block;
				border-radius: $dimension-rounded-radius;
				background-color: $color-bg;
				border: none;
				font-size: 1em;
				font-size: 1em;
				width: 100%;
				text-align: left;
			}
		}
	}
}
