@use "sass:color";
@use '~styles/includes';

.viewer--components--inline-nav-button {
	background: color.adjust(includes.$color-action, $alpha: -0.95);
	width: 100%;
	border: none;
	font-family: includes.$font-default;
	font-size: 0.9em;
	padding: 1em;
	box-sizing: border-box;
	color: includes.$color-action;
	transition: color includes.$duration-animation-default,
		background includes.$duration-animation-default;
	cursor: pointer;
	text-align: center;
	height: includes.$dimension-prev-next-button-height;
	overflow: hidden;
	line-height: 1.5em;
	transform: translate(0, -1px);
	word-wrap: break-word;

	&.is-enabled {
		&.is-prev {
			border-bottom: 1px solid includes.$color-action;

			&::before {
				content: '➜';
				transform: rotate(-90deg) translate(0, -0.5rem);
				display: inline-block;
				opacity: 0.5;
			}
		}

		&.is-next {
			border-top: 1px solid includes.$color-action;

			&::before {
				content: '➜';
				transform: rotate(90deg) translate(0, 0.5rem);
				display: inline-block;
				opacity: 0.5;
			}
		}

		&:hover {
			color: includes.$color-bg;
			background: includes.$color-action;
		}
	}

	&.is-not-enabled {
		background: includes.$color-bg2;
		color: includes.$color-shadow;
		pointer-events: none;

		&:focus {
			outline: none;
		}

		&.is-prev {
			border-bottom: 1px solid includes.$color-shadow;
		}

		&.is-next {
			border-top: 1px solid includes.$color-shadow;
		}
	}
}
