@import '~styles/includes';

@keyframes viewer--components--rd--animation1 {
	0% {
		transform: translate(0, 0);
	}

	25% {
		transform: translate(20px, 20px);
	}

	50% {
		transform: translate(0, 0);
	}

	75% {
		transform: translate(-20px, -20px);
	}
}

@keyframes viewer--components--rd--animation2 {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.viewer--components--rd {
	animation: viewer--components--rd--animation1 1s infinite;
	position: fixed;
	left: 0;
	top: 0;
	transition: left 8s, top 8s;
	background-image: url('./rd.png');
	width: 236px; //stylelint-disable-line
	height: 200px; //stylelint-disable-line
	background-size: cover;
	z-index: 999999999;

	&.clicked {
		animation: viewer--components--rd--animation2 0.5s linear infinite;
	}
}
