@import '~styles/includes';

.viewer--viewer-app--visit-error {
	width: 100%;
	max-width: 36rem;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
	color: $color-text;
	font-family: $font-default;
}

.viewer--viewer-app {
	height: 100%;
	overflow: auto;
	padding-top: 2.5rem;
	box-sizing: border-box;
	background: $color-bg;

	/* prettier-ignore */
	transition:
		padding-left $duration-animation-default $duration-animation-default,
		padding-top $duration-animation-default;

	> .viewer--components--header {
		position: absolute;
		left: 0;
		width: 100%;
		top: 0;
		z-index: $z-index-above-content;
		border-bottom: 1px solid transparentize($color-shadow, 0.2);
		opacity: 0.95;
		word-wrap: break-word;

		/* prettier-ignore */
		transition:
			top $duration-animation-default,
			opacity $duration-animation-default;
		transition-delay: $duration-animation-default * 2;

		.viewer--components--logo {
			transition: opacity $duration-animation-default;
			transition-delay: $duration-animation-default * 3;
		}
	}

	> .preview-banner {
		font-family: $font-default;
		background: $color-preview;
		box-sizing: border-box;
		color: $color-bg;
		font-size: 0.7em;
		font-weight: bold;
		min-height: $dimension-preview-banner;
		left: 0;
		padding: 0.5em 1em;
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: $z-index-preview;
		border-top: 2px solid $color-bg;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq($until: mobileLandscape) {
			font-size: 0.6em;

			.controls > span {
				display: none;
			}
		}

		> .controls {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			text-align: right;
			margin-left: 1em;

			button {
				appearance: none;
				user-select: none;
				margin-left: 1em;
				font-family: $font-default;
				line-height: 1em;
				cursor: pointer;
				font-size: 1em;
				position: relative;
				text-align: center;
				min-width: 3.25em;
				border-radius: 0.2em;
				padding: 0.4em;
				background-color: $color-bg;
				color: $color-preview;
			}
		}

		> .border {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			border: 3px solid $color-preview;
			pointer-events: none;
		}
	}

	&.is-open-nav.is-not-disabled-nav {
		padding-left: $dimension-nav-menu;
		padding-top: 0;

		@include mq($until: desktop) {
			padding-left: $dimension-nav-menu-small;
		}

		@include mq($until: tablet) {
			padding-left: $dimension-nav-menu-xsmall;
		}

		@include mq($until: mobileLandscape) {
			padding-left: 0;
		}

		> header {
			top: -2.5rem;

			.viewer--components--logo,
			.location {
				opacity: 0;
				transition: $duration-animation-default/2 opacity;
				transition-delay: 0s;
			}
		}
	}

	&.is-previewing {
		height: calc(100% - 3rem);
	}

	code {
		font-family: $font-monospace;
	}
}
