@import '../../../../../scss/includes';

.editor--component--insert-menu {
	position: absolute;
	z-index: 2;

	&.align-left {
		left: 0;
	}

	&.align-right {
		right: 0;
	}

	.drop-icon {
		display: inline-block;
		font-size: 1.3em;
		min-width: 1.5em;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		background-color: $color-bg2;
		border-radius: $dimension-rounded-radius;
	}

	.insert-button {
		position: relative;
		display: none;
		z-index: 99;
		background-color: $color-bg;

		span {
			display: block;
			position: absolute;
			left: 50%;
			text-align: center;
			opacity: 0;
			background-color: $color-bg;
			transform: translate(-50%, 0);
			padding-left: 0.5em;
			padding-right: 0.5em;
			border-radius: $dimension-rounded-radius;
			font-size: 0.8em;
		}

		&:hover {
			span {
				opacity: 1;
			}
		}

		button {
			display: block;
			background-color: $color-bg2;
			border-radius: $dimension-rounded-radius;
			font-size: 1.3em;
			min-width: 1.5em;
			color: $color-text;
			text-align: center;
			box-sizing: border-box;

			&:focus {
				background: lighten($color-action, 48%);

				+ span {
					opacity: 1;
				}
			}

			&:hover {
				background: lighten($color-action, 48%);

				+ span {
					opacity: 1;
				}
			}
		}
	}

	// Makes the insert menu keyboard accessible
	&.is-open {
		min-width: 30em;

		.insert-button {
			display: inline-block;
		}
	}

	// Reveals the insert menu the expected way for mouse users
	&:hover {
		min-width: 30em;

		.insert-button {
			display: inline-block;
		}
	}
}
