@import '~styles/includes';

.obojobo-draft--sections--assessment {
	.add-rubric {
		font-family: $font-default;
		line-height: 1em;
		font-size: 1em;
		text-align: center;
		border-radius: $dimension-rounded-radius;
		padding: 0.4em;
		background-color: $color-preview;
		color: $color-bg;
	}
}
