@import '../layouts/default.scss';
@import '../layouts/footer.scss';

.exposition-text {
	display: block;
	font-size: 0.8em;
}

.copy-button-container {
	display: inline-block;
	margin: 0 0.5em;

	.copy-button {
		display: inline-block;
		margin: 0 0.5em;
	}
}
