@import '~styles/includes';

.editor--components--mark--link {
	position: relative;
	display: inline;
	text-decoration: underline;

	.link-tooltip {
		position: absolute;
		transform: translate(-50%, -200%);
		left: 50%;
		z-index: 3;
		background-color: $color-bg;
		border-radius: $dimension-rounded-radius;
		padding: 0.5em;
	}

	.link-copy {
		background-image: url('./copy.svg');
	}

	.link-edit {
		background-image: url('./edit.svg');
	}

	.link-remove {
		background-image: url('./unlink.svg');
	}

	.link-copy,
	.link-edit,
	.link-remove {
		display: inline;
		background-color: $color-bg;
		background-position: center;
		background-repeat: no-repeat;
		border: none;
		height: 2em;
		width: 2em;
		vertical-align: top;
		padding: 0;
		margin: 0.2em;
		cursor: pointer;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}
	}

	.href-menu {
		background: $color-bg;
		font-size: 1rem;
		border-radius: $dimension-rounded-radius;
		position: absolute;
		bottom: -2em;
		left: -1em;
		box-shadow: $box-shadow-overlay;
		user-select: none;
		white-space: nowrap;
		font-family: $font-default;
		height: 1.9rem;
		z-index: $z-index-above-all;
		border: 1px solid $color-shadow;

		a {
			height: 1.9rem;
			padding-left: 0.8em;
			padding-right: 0.8em;
			display: inline-block;
			border-radius: 0.25rem;
			font-weight: normal;
			border: 2px solid white;
			box-sizing: border-box;
			vertical-align: top;
			line-height: 0;
			padding-top: 0.9rem;
			max-width: 20rem;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {
				background: $color-action-bg;
			}
		}
	}
}

*[data-hanging-indent='true'] .editor--components--mark--link .href-menu {
	a {
		margin-left: 2rem;
		text-indent: 0;
	}
}
