body
{
	*[data-indent="1"]
	{
		margin-left: 2rem;
	}

	*[data-indent="2"]
	{
		margin-left: 4rem;
	}

	*[data-indent="3"]
	{
		margin-left: 6rem;
	}

	*[data-indent="4"]
	{
		margin-left: 8rem;
	}

	*[data-indent="5"]
	{
		margin-left: 10rem;
	}

	*[data-indent="6"]
	{
		margin-left: 12rem;
	}

	*[data-indent="7"]
	{
		margin-left: 14rem;
	}

	*[data-indent="8"]
	{
		margin-left: 16rem;
	}

	*[data-indent="9"]
	{
		margin-left: 18rem;
	}

	*[data-indent="10"]
	{
		margin-left: 20rem;
	}

	*[data-indent="11"]
	{
		margin-left: 22rem;
	}

	*[data-indent="12"]
	{
		margin-left: 24rem;
	}

	*[data-indent="13"]
	{
		margin-left: 26rem;
	}

	*[data-indent="14"]
	{
		margin-left: 28rem;
	}

	*[data-indent="15"]
	{
		margin-left: 30rem;
	}

	*[data-indent="16"]
	{
		margin-left: 32rem;
	}

	*[data-indent="17"]
	{
		margin-left: 34rem;
	}

	*[data-indent="18"]
	{
		margin-left: 36rem;
	}

	*[data-indent="19"]
	{
		margin-left: 38rem;
	}

	*[data-indent="20"]
	{
		margin-left: 40rem;
	}
}
