body {
	*[data-indent="1"] {
		margin-left: 2em;
	}

	*[data-indent="2"] {
		margin-left: 4em;
	}

	*[data-indent="3"] {
		margin-left: 6em;
	}

	*[data-indent="4"] {
		margin-left: 8em;
	}

	*[data-indent="5"] {
		margin-left: 10em;
	}

	*[data-indent="6"] {
		margin-left: 12em;
	}

	*[data-indent="7"] {
		margin-left: 14em;
	}

	*[data-indent="8"] {
		margin-left: 16em;
	}

	*[data-indent="9"] {
		margin-left: 18em;
	}

	*[data-indent="10"] {
		margin-left: 20em;
	}

	*[data-indent="11"] {
		margin-left: 22em;
	}

	*[data-indent="12"] {
		margin-left: 24em;
	}

	*[data-indent="13"] {
		margin-left: 26em;
	}

	*[data-indent="14"] {
		margin-left: 28em;
	}

	*[data-indent="15"] {
		margin-left: 30em;
	}

	*[data-indent="16"] {
		margin-left: 32em;
	}

	*[data-indent="17"] {
		margin-left: 34em;
	}

	*[data-indent="18"] {
		margin-left: 36em;
	}

	*[data-indent="19"] {
		margin-left: 38em;
	}

	*[data-indent="20"] {
		margin-left: 40em;
	}
}
