@import '../scss/includes';
@import '../scss/indents';

html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: $color-bg2;
	// -webkit-overflow-scrolling: touch;
}

a {
	color: inherit;
	text-decoration-skip-ink: auto;
}

body {
	height: 100%;
	padding: 0;

	margin: 0;
	-webkit-overflow-scrolling: touch;
	font-size: $font-size;
}

// .component-container > .component:first-child
// {
// 	padding-top: 2em;
// 	border: 1px solid red;
// }

// .component-container > .component:last-child
// {
// 	padding-bottom: 2em;
// 	border: 1px solid green;
// }

#viewer-app {
	height: 100%;
	overflow: auto;

	.root {
		height: 100%;
	}
}

#viewer-app-loading {
	background: $color-bg;
	box-sizing: border-box;
	width: 14em;
	min-height: 7em;
	position: fixed;
	left: 50%;
	top: 30%;
	text-align: center;
	transform: translate(-50%,-50%);
	font-family: $font-default;
	border-radius: 0.25em;
	border-bottom: 1px solid $color-shadow;
	padding-top: 3em;
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;

	> svg
	{
		width: 100%;
		height: 0.7em;
		opacity: 0.5;
		position: absolute;
		bottom: 0.5em;
		left: 50%;
		transform: translate(-50%);
		opacity: 0.2;
	}

	> span
	{
		color: $color-text-minor;
		font-size: 0.7em;
	}

	> .loading-label
	{
		display: block;
	}

	> .draft-title
	{
		display: block;
		font-weight: bold;
	}

	> .throbber
	{
		@keyframes rotating {
			from {
				transform: translate(-50%, 0) rotate(0deg);
			}
			to {
				transform: translate(-50%, 0) rotate(360deg);
			}
		}

		width: 1em;
		height: 1em;
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 1.25em;
		opacity: 0.3;
		animation: rotating 1.5s linear infinite;

		> svg
		{
			width: 1em;
			height: 1em;
		}
	}
}

// .component:first-of-type
// {
// 	padding-top: 0;
// 	// border: 2px solid red;
// }
// .component:last-of-type
// {
// 	padding-bottom: 0;
// 	// border: 2px solid blue;
// }
// .component:first-of-type:last-of-type
// {
// 	padding-top: 0;
// 	padding-bottom: 0;
// 	// border: 2px solid green;
// }

.component {
	// border: 2px solid gray;
}

.component {
	box-sizing: border-box;
	color: black;
	display: block;
	font-family: 'Noto Serif';
	line-height: 1.5em;
	overflow-wrap: break-word;
	position: relative;
	white-space: pre-wrap;
	width: 100%;
	word-wrap: break-word;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;

	&.first {
		padding-top: 0;
	}

	&.last {
		padding-bottom: 0;
	}

	.pad {
		// max-width: $dimension-column-width;
		// margin-left: auto;
		// margin-right: auto;
		padding-left: $dimension-padding;
		padding-right: $dimension-padding;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		/*font-family: 'Open Sans';*/
		font-family: $font-default;
		font-weight: normal;
		margin: 0;
	}
	h1 {
		line-height: 1em;
		font-weight: 700;

		b,
		strong {
			font-weight: 900;
		}
	}

	h2 {
		line-height: 1em;
		color: #a20e83;
		font-size: 1.5em;
		// margin-bottom: 0;
	}

	pre,
	code,
	pre code,
	textarea {
		font-family: $font-monospace;
		// tab-size: 8;
		font-size: 1em;
		letter-spacing: -0.01em;
	}

	a {
		color: #bd1438;
	}

	.obojobo-draft--chunks--question .question {
		font-weight: 700;

		b,
		strong {
			font-weight: 900;
		}
	}

	.text {
		&.align-left {
			text-align: left;
		}

		&.align-right {
			text-align: right;
		}

		&.align-center {
			text-align: center;
		}
	}
}

.document {
}
