@import '../scss/includes';
@import '../scss/indents';

html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: $color-bg2;
}

a {
	text-decoration-skip-ink: auto;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-overflow-scrolling: touch;
	font-size: $font-size;
}

#viewer-app {
	opacity: 0;
	transition: opacity $duration-animation-default * 2;
	height: 100%;
	overflow: auto;

	&.is-loaded {
		opacity: 1;
	}

	.root {
		height: 100%;
	}
}

#viewer-app-loading {
	background: $color-bg;
	box-sizing: border-box;
	width: 14em;
	min-height: 7em;
	position: fixed;
	left: 50%;
	top: 30%;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: $font-default;
	border-radius: 0.25em;
	border-bottom: 1px solid $color-shadow;
	padding-top: 3em;
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;

	> svg {
		width: 100%;
		height: 0.7em;
		position: absolute;
		bottom: 0.5em;
		left: 50%;
		transform: translate(-50%);
		opacity: 0.2;
	}

	> span {
		color: $color-text-minor;
		font-size: 0.7em;
	}

	> .loading-label {
		display: block;
	}

	> .draft-title {
		display: block;
		font-weight: bold;
	}

	> .throbber {
		@keyframes main-throbber-rotating {
			from {
				transform: translate(-50%, 0) rotate(0deg);
			}

			to {
				transform: translate(-50%, 0) rotate(360deg);
			}
		}

		width: 1em;
		height: 1em;
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 1.25em;
		opacity: 0.3;
		animation: main-throbber-rotating 1.5s linear infinite;

		> svg {
			width: 1em;
			height: 1em;
		}
	}
}

.component {
	box-sizing: border-box;
	color: $color-text;
	display: block;
	font-family: $font-text;
	line-height: 1.5em;
	overflow-wrap: break-word;
	position: relative;
	white-space: pre-wrap;
	width: 100%;
	word-wrap: break-word;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;

	&.first {
		padding-top: 0;
	}

	&.last {
		padding-bottom: 0;
	}

	&[tabIndex='-1']:focus {
		outline: none;
	}

	.pad {
		padding-left: $dimension-padding;
		padding-right: $dimension-padding;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-default;
		font-weight: normal;
		margin: 0;
	}

	h1 {
		line-height: 1em;
		font-weight: 700;

		b,
		strong {
			font-weight: 900;
		}
	}

	h2 {
		line-height: 1em;
		color: $color-text-subheading;
		font-size: 1.5em;
	}

	pre,
	code,
	pre code,
	textarea {
		font-family: $font-monospace;
		font-size: 1em;
		letter-spacing: -0.01em;
	}

	a {
		color: $color-action;
	}

	.obojobo-draft--chunks--question .question {
		font-weight: 700;

		b,
		strong {
			font-weight: 900;
		}
	}

	.text {
		&.align-left {
			text-align: left;
		}

		&.align-right {
			text-align: right;
		}

		&.align-center {
			text-align: center;
		}
	}
}
