@import './defaults';

.repository--column-layout{
	display: flex;

	> div{
		margin-left: 25px;
		margin-right: 25px;
		width: 50%;

		&:first-child{
			margin-left: 0;
		}

		&:last-child{
			margin-right: 0;
		}
	}
}

.repository--item-list--title {
	display: table;
	white-space: nowrap;
	margin-bottom: 20px;

	&:after {
		border-top: 1px solid $border-color;
		content: '';
		display: table-cell;
		position: relative;
		top: 0.6em;
		width: 100%;
	}
	&:after {
		left: 2%;
	}
}

.repository--item-list--group{
	&:last-child{
		border-top: 0;
	}
}

.repository--item-list--group--item--date{
	font-size: .8em;
	color: $color-text-minor;
}

.repository--item-list--group--title{
	font-size: .8em;
	margin-bottom: 10px;
}

.repository--item-list--row{
	// overflow: auto;
	font-size: .8em;
	font-family: $font-text;
	width: 100%;

	.avatar,
	> .repository--module-icon{
		float: left;
	}

	> a{
		text-decoration: none;
		color: black;
		font-weight: 600;
	}


	> em{
		font-style: normal;
		font-weight: 700;
	}

	@include with-bottom-border();
}

.repository--fact--bad{
	color: red;
}

.repository--fact--good{
	color: green;
}

.repository--fact--neutral{
	color: inherit;
}

.repository--fact--value{
	font-size: 1.1em;
}

.repository--item-list--group--item--text{
	margin: 10px;

}

.repository--item-list--group--item--text-detail{
	font-size: .8em;
}

.repository--quote{
	font-style: italic;
}

.repository--item-list--group--item--multi-wrapper{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: flex-start;

	@include with-bottom-border();
}

.repository--item-list--group--item--newline-container{
	width: 100%;
	margin: 20px 10px;
	text-align: center;
}

// ==================== LIBRARY

.repository--main-content--title{
	font-family: $font-default;
	text-align: center;
	font-size: 1.2em;
	display: table;
	white-space: nowrap;
	margin-bottom: 20px;

	&:after {
		border-top: 1px solid $border-color;
		content: '';
		display: table-cell;
		position: relative;
		top: 0.6em;
		width: 100%;
	}
	&:after {
		left: 2%;
	}

}

.repository--module--content{
	max-width: 800px;
	margin: 0 auto;

	code{
		background-color: #eee;
		padding: 2px;
	}
}
