@import '~styles/includes';

.import-questions-model {
	max-height: 70vh;
	overflow-y: scroll;

	.import-model--question-content {
		border: 1px solid black;
		border-radius: 5px;
		user-select: none;
		cursor: pointer;
		margin: 1em;

		&.is-selected {
			background: transparentize($color-action, 0.9);
			border: 1px solid $color-action;
		}

		* {
			pointer-events: none;
		}
	}
}
