@use "sass:color";
@use '~styles/includes';

.import-questions-model {
	max-width: 70vw;

	.import-model--question-content {
		background: includes.$color-bg2;
		border-radius: includes.$dimension-rounded-radius;
		max-height: 55vh;
		min-width: 35em;
		overflow: scroll;
		font-size: 0.75em;

		.import-model--question-content--single {
			background: includes.$color-bg;
			border: 1px solid includes.$color-shadow;
			border-radius: includes.$dimension-rounded-radius;
			user-select: none;
			cursor: pointer;
			margin: 1em;
			position: relative;
			display: flex;
			text-align: left;

			> input {
				margin: 1.4em 1.5em;
			}

			> div {
				flex: 1;
			}

			.container {
				max-width: 30em;
			}

			.pad {
				padding-left: 0;
			}

			&.is-selected {
				background: color.adjust(includes.$color-action, $alpha: -0.9);
				border: 1px solid includes.$color-action;
			}

			* {
				pointer-events: none;
			}
		}
	}

	p {
		margin: 1em 0 -1em;
		font-size: 0.8em;
		color: includes.$color-text-minor;
	}
}
