@import '~styles/includes';

.obojobo-draft--chunks--question-bank {
	position: relative;
	width: auto;
	margin: 0.3em;
	min-width: 9em;

	.reshuffle {
		margin: 1rem auto;
		text-align: center;
		display: block;
		font-size: 1.2em;
	}
}
