@import '~styles/includes';

.trigger-list-modal {
	font-size: 0.85em;
	background: $color-bg2;
	padding: 1em;
	width: 35em;
	max-height: 60vh;
	overflow: auto;
	border-radius: $dimension-rounded-radius;

	.trigger {
		position: relative;
		border: 1px solid $color-shadow;
		border-radius: $dimension-rounded-radius;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: left;
		margin-bottom: 1.5em;
		background: $color-bg;

		label {
			display: inline;
			padding-left: 1em;
			padding-right: 0.5em;
		}

		.delete-button {
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			font-size: 1em;
			font-weight: bold;
			background: none;
			color: $color-shadow;
			padding-right: 0.5em;
		}

		.action {
			position: relative;
			border-top: 1px solid $color-shadow;
			border-bottom: 1px solid $color-shadow;
			padding-top: 1em;
			text-align: right;

			.drag-button {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 1em;
				border: none;
				border-right: 1px solid $color-shadow;
			}

			.delete-button {
				font-size: 0.8em;
			}

			.action-options {
				.obojobo-draft--components--switch {
					margin-bottom: 1em;
					margin-right: 4.7em;
				}
			}
		}

		.button {
			padding: 0.2em 0.5em;
			color: $color-action;
			background-color: $color-bg;
			border-color: $color-action;
			border-width: 2px;
			height: 2.35em;
			margin-left: 1em;
			margin-top: 1em;

			&:hover {
				color: $color-bg;
				background-color: $color-action;
			}
		}
	}

	.select-item {
		font-family: $font-default;
		border-radius: $dimension-rounded-radius;
		font-size: 0.7em;
		background-color: $color-bg;
		min-width: 25.2em;
		padding: 0.7em 2em 0.7em 0.5em;
		margin-right: 2.2em;
		margin-bottom: 1em;
		appearance: none;
		//stylelint-disable-next-line declaration-colon-newline-after, value-list-comma-newline-after
		background-image: linear-gradient(45deg, transparent 50%, gray 50%),
			linear-gradient(135deg, gray 50%, transparent 50%);
		//stylelint-disable-next-line declaration-colon-newline-after, value-list-comma-newline-after
		background-position: calc(100% - 1.5em) 1.1em, calc(100% - 1.1em) 1.1em,
			calc(100% - 2.5em) 0.5em;
		background-size: 0.4em 0.4em, 0.4em 0.4em, 0.1em 1.5em;
		background-repeat: no-repeat;
	}

	.input-item {
		font-family: $font-monospace;
		border-radius: $dimension-rounded-radius;
		font-size: 1em;
		width: 17em;
		padding: 0.7em 0 0.7em 0.5em;
		margin-right: 1.5em;
		margin-bottom: 1em;
		border: 1px solid $color-shadow;
	}
}
