@import '../../../../../../../scss/includes';

.obojobo-draft--chunks--break {
	text-align: center;

	hr {
		border: none;
		border-bottom: 1px solid $color-shadow;
		margin-bottom: 1em;
		margin-top: 1em;
		width: 30%;
	}
}
