@use "sass:math";
@use '~styles/includes';

.obojobo-draft--chunks--html {
	pre {
		&::before {
			color: includes.$color-text-minor;
			content: 'HTML';
			display: block;
			font-family: includes.$font-default;
			position: absolute;
			left: 3.5em;
			top: 0;
			transform: scale(0.7);
			transform-origin: top left;
		}

		font-size: 0.9em;
		margin-top: 0;
		margin-bottom: 0;
		overflow-x: auto;
		background: includes.$color-bg2;
		border-radius: includes.$dimension-rounded-radius;
		box-sizing: border-box;
		padding: includes.$dimension-padding * 0.25
			math.div(math.div(includes.$dimension-padding, 3), 0.9);
		tab-size: 2;
	}
}
