@import '~styles/includes';

// .component[data-component-type="ObojoboDraft.Chunks.Question"]
// {
// 	padding-top: 2em;
// 	padding-bottom: 2em;
// }

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	// width: $dimension-editor;
	margin: 0 auto;
}
/* flip the pane when hovered */
// .flip-container:hover .flipper, .flip-container.hover .flipper {

// }

.front,
.back {
	width: 100%;
	// height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.4s;
	-ms-transition: none;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front,
.back {
	@include backface-visibility(hidden);
	-ms-backface-visibility: visible;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);

	position: absolute;
	top: 0;
	left: 0;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.obojobo-draft--chunks--question .flipper {
	$color-sep: rgba(0, 0, 0, 0.1);

	//background: $color-bg; //@FIX: #92
	border-radius: 0.25em;

	padding: 0;
	// padding-top: 2em;
	position: relative;

	padding-top: 1em;
	margin-bottom: 1em;
	border: 1px solid transparentize($color-shadow, 0.2);
	// font-size: 90%;

	// transition: border $duration-animation-default;
	max-width: $dimension-column-width;
}

.obojobo-draft--chunks--question {
	&.is-hidden .flipper {
		border: 1px solid $color-action;
	}

	&.is-practice {
		.back::before {
			color: $color-text-minor;
			content: 'Practice';
			display: block;
			font-family: $font-default;

			position: absolute;

			left: 3.15em;
			top: -0.5em;
			transform: scale(0.7);
			transform-origin: top left;
		}

		&.is-correct .flipper {
			border: 1px solid $color-correct;
		}

		&.is-incorrect .flipper {
			border: 1px solid $color-incorrect;
		}
	}

	&.is-not-practice {
		.submit {
			display: none;
		}
	}

	.blocker {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		opacity: 1;
		background: $color-bg;
		cursor: pointer;
		// transition: opacity $duration-animation-default;
		border-radius: 0.25em;

		&:hover {
			.obojobo-draft--components--button {
				transform: translate(-50%, -50%) scale(1.1, 1.1);
			}
		}

		.obojobo-draft--components--button {
			transition: transform $duration-animation-default;
			font-family: $font-default;
			color: $color-action;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			pointer-events: none;
		}
	}

	&.is-active,
	&.is-viewed {
		.blocker {
			opacity: 0;
			pointer-events: none;
		}

		.flipper {
			transform: rotateY(-180deg);
		}
	}

	.responses-hidden {
		font-family: $font-default;
		font-size: 0.9em;
		text-align: center;
		margin-bottom: 1em;
	}

	// &.is-viewed
	// {
	// 	.blocker
	// 	{
	// 		opacity: .9;
	// 	}
	// }

	// .flipper::after
	// {
	// 	color: $color-bg;
	// 	font-family: $font-default;
	// 	font-size: 0.7em;
	// 	font-weight: bold;
	// 	left: 50%;
	// 	line-height: 2em;
	// 	padding: 0 1em;
	// 	position: absolute;
	// 	top: 0;
	// 	transform: translate(-$dimension-editor / 2, 0) translate(3rem, 0);
	// }
}
