@import '~styles/includes';

.solution-editor {
	background: $color-bg2;
	border-top: 1px solid $color-shadow;
	position: relative;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	padding-bottom: 1px; /* stylelint-disable-line unit-disallowed-list */

	.page-editor {
		margin: $dimension-padding / 3;
		background: $color-bg;
		border: 1px solid $color-shadow;

		&::before {
			content: 'Full explanation:';
			font-family: $font-default;
			font-size: 1em;
			font-weight: bold;
			color: $color-text-minor;
			margin-top: 1em;
			margin-left: 2em;
			margin-bottom: -1em;
			display: block;
			transform: scale(0.7);
			transform-origin: top left;
		}
	}

	.delete-button {
		position: absolute;
		right: 1.7em;
		top: 1.7em;
		transform: translate(50%, -50%);
		z-index: 3;

		button {
			font-size: 1.2em;
			padding: 0;
			min-width: 1.4em;
			border-radius: 50%;
		}
	}
}
